<div id="nvDial" data-js-hook="nvDial" class="nvDial nvDial--initialLoading nvDial--draggable cf">
    <div class="nvDial__spinner-container--outer">
        <div class="nvDial__spinner--outer">
            <div class="nvDial__pointer--outer"></div>
        </div>
    </div>
    <div class="nvDial__spinner-container--middle">
        <div class="nvDial__spinner--middle">
            <div class="nvDial__pointer--middle"></div>
        </div>
    </div>
    <div class="nvDial__spinner-container--inner">
        <div class="nvDial__spinner--inner">
            <div class="nvDial__pointer--inner"></div>
        </div>
    </div>
    <div class="nvDial__button">
        <div data-nv-dial="light" class="nvDial__button-light">
            <div class="nvDial__button-logo">
                <span data-nv-dial="logo" class="logo"></span>
            </div>
        </div>
    </div>
</div>