<section id="loading" data-nv-page="true" data-nv-state="initialLoad" data-nv-theme="dark" class="expand-container expand-container--selected loading">
    <div class="expand-contianer__content">
        <div class="loading-content">
            <h1 data-nv-loadingtext="true" class="loading-text">
                Working on something cool,<br /> please wait...
            </h1>
            <h2 data-nv-loadingtext="true" class="loading-text loading-text--inactive">
                All done!
            </h2>
        </div>
    </div>
</section>
