<div id="pnlNavOnboarding" class="nav-instructions cf">
    <h3 class="nav-instructions__content">
        Drag 'NV' Dial to Navigate
    </h3>
    <span class="nav-arrow"></span>
</div>
<nav id="pnlMainNav" class="nav-container nav-container--footer">
    <ul id="pnlNavBar" class="nav-bar cf">
        <li class="nav-bar__startLine"></li>
        <li data-js-hook="linkBtn" class="nav__itemContainer nav-bar__item cf">
            <div class="nav__item">
                <span class="nav-item__circle"></span>
                <span class="nav-item__icon icon icon--home"></span>
                <span class="nav-item__dummyLink">Home</span>
            </div>
            <br />
            <a id="lnkHome" class="nav__link" href="/Home">Home</a>
        </li>
        <li class="nav-bar__fillerLine"></li>
        <li data-js-hook="linkBtn" class="nav__itemContainer nav-bar__item cf">
            <div class="nav__item">
                <span class="nav-item__circle"></span>
                <span class="nav-item__icon icon icon--work"></span>
                <span class="nav-item__dummyLink">Work</span>
            </div>
            <br />
            <a id="lnkWork" class="nav__link" href="/Work">Work</a>
        </li>
        <li class="nav-bar__fillerLine"></li>
        <li data-js-hook="linkBtn" class="nav__itemContainer nav-bar__item cf">
            <div class="nav__item">
                <span class="nav-item__circle"></span>
                <span class="nav-item__icon icon icon--about"></span>
                <span class="nav-item__dummyLink">About</span>
            </div>
            <br />
            <a id="lnkAbout" class="nav__link" href="/About">About</a>
        </li>
        <li class="nav-bar__fillerLine"></li>
        <li data-js-hook="linkBtn" class="nav__itemContainer nav-bar__item cf">
            <div class="nav__item">
                <span class="nav-item__circle"></span>
                <span class="nav-item__icon icon icon--contact"></span>
                <span class="nav-item__dummyLink">Contact</span>
            </div>
            <br />
            <a id="lnkContact" class="nav__link" href="/Contact">Contact</a>
        </li>
    </ul>
</nav>
