/*------------------------------------*\
    CSS Breakpoints for different devices
\*------------------------------------*/
$breakpoint-mobile: 300px;
$breakpoint-mobileBig: 400px;
$breakpoint-phablet: 600px;
$breakpoint-phabletBig: 700px;
$breakpoint-tablet: 800px;
$breakpoint-netbook: 1000px;
$breakpoint-notebook: 1200px;
