/*------------------------------------*\
    Accent Colors
\*------------------------------------*/
$color-accent--yellow: #cccc66;
$color-accent--blue: #007ae4;
$color-accent--orange: #de9250;

$color-lineAccent--blue: #399fe8;
$color-lineAccent--dark: #4d4d4d;


/*------------------------------------*\
    Dial Colors
\*------------------------------------*/
/*$color-dial--ring1: #d62d20;
$color-dial--ring2: #de9250;
$color-dial--ring3: #2294e5;*/

$color-dial--ring1: #e48634;
$color-dial--ring2: #3090e3;
$color-dial--ring3: #e4c236;


/*------------------------------------*\
    Background Colors
\*------------------------------------*/
$color-background--black: #262626;
$color-background--lightGrey: #ebebeb;
$color-background--grey: #ebebeb;
$color-background--blue: #2294e5;


/*------------------------------------*\
    Font Colors
\*------------------------------------*/
$color-font--primary: #000;
$color-fontBlur--primary: rgba(0, 0, 0, 0.5);
$color-font--primaryOnDark: #FFF;
$color-fontBlur--primaryOnDark: rgba(255, 255, 255, 0.5);
$color-font--primaryFaded: #999;
$color-fontBlur--primaryFaded: rgba(153, 153, 153, 0.5);
$color-font--secondary: #333333;
$color-fontBlur--secondary: rgba(51, 51, 51, 0.5);
$color-font--secondaryOnDark: #FFF;
$color-fontBlur--secondaryOnDark: rgba(255, 255, 255, 0.5);
$color-text--highlight: #fcf8e3;
$color-smoothing--light: rgba(255, 255, 255, 0.4);
$color-smoothing--dark: none;


/*------------------------------------*\
    Links Colors
\*------------------------------------*/
/*$color-link: #337ab7;*/
$color-link: #000;
$color-link--focus: #23527c;
$color-link--onDark: #FFF;
$color-link--focusOnDark: #d62d20;
$color-link--blue: #2294e5;
$color-link--focusBlue: #90d1ff;


/*------------------------------------*\
    Button Colors
\*------------------------------------*/
$btnColor-background: #FFF;
$btnColor-background--hover: #CCC;

$btnColor-border: #CCC;
