@import '../Atoms/_boxes';

/*html, body { 
    min-height: 100vh; 
}*/

.pt-perspective {
	position: relative;
	width: 100%;
	min-height: 100vh; 
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
    display: none;
	width: 100%;
	min-height: 100vh; 
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page--spacious {
    @extend %box--spacious;
}

.pt-page-current,
.no-js .pt-page {
	display: block;
	/*z-index: 1;*/
}

.no-js body {
	overflow: auto;
}