<section id="home" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="default" data-nv-theme="dark" class="expand-container">
    <div class="expand-contianer__content">
        <div id="homeMainContent" class="home">
            <canvas id="heroImageCanvas" class="home-heroImageBG"></canvas>
            <div class="home-headerGroup">
                <h1 data-nv-animate
                    data-nv-animate-delay="0"
                    data-nv-animate-type="text"
                    class="home-header header-main header-large">
                    Hello, I'm Nikolai
                </h1>
                <h2 data-nv-animate
                    data-nv-animate-delay="100"
                    data-nv-animate-type="text"
                    class="home-subHeader header-secondary header-small">
                    I am a Team Lead in digital engineering, and my passion is in creating delightful web experiences.
                    Get to know me, browse through my portfolio.
                </h2>
            </div>
            <div class="home-mainContent">
                <div class="home-heroImageContainer">
                    <div class="home-heroImage"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/homePage")
