<section id="home" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="default" data-nv-theme="dark" class="expand-container">
    <div class="expand-contianer__content">
        <div id="homeMainContent" class="home">
            <canvas id="heroImageCanvas" class="home-heroImageBG"></canvas>
            <div class="home-headerGroup">
                <h1 data-nv-animate="true" class="home-header header-main header-large">
                    Hello, I'm Nikolai
                </h1>
                <h2 data-nv-animate="true" class="home-subHeader header-secondary header-small">
                    I am a Web Developer currently working in Toronto, Canada.
                    And, I create user-centric web applications. The products
                    I create are beautiful both inside (code) and out (user interface).
                    Welcome to my portfolio
                </h2>
            </div>
            <div class="home-mainContent">
                <div class="home-heroImageContainer">
                    <div class="home-heroImage" title="Hero Image"></div>
                </div>
            </div>
            <div data-nv-animate="true" class="home-instructions cf">
                <h3 class="home-instructions__content">
                    Drag 'NV' Dial to Navigate
                </h3>
                <span class="home-arrow"></span>
            </div>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/homePage")
