@{
    ViewBag.Title = "Nikolai Villarin | Lead Front End Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="I am a Lead Front End Developer and my passion is for creating user-centric web experiences. Get to know me, browse through my portfolio." />
    <meta name="keywords" content="Nikolai Villarin, Web Portfolio" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Work\WorkPartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("_home")
</div>