@{
    ViewBag.Title = "Nikolai Villarin | Lead Front End UI Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="I am currently working in eCommerce as a Lead Front End UI Developer. My passion is creating user-centric web experiences that satisfy specific business needs." />
    <meta name="keywords" content="Nikolai Villarin, Web Portfolio" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Work\WorkPartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("_home")
</div>