<div id="work-boxgrove" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="boxgroveClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
         class="expand-container work-item">
    <div class="expand-contianer__content cf">
        <div id="boxgroveClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" data-nv-parallaximg="true" class="work-heroImage work-heroImage--boxgrove">
            <div class="boxgrove-headings">
                <h1 class="boxgrove-header header-main header-large">Boxgrove Cleaners</h1>
                <h2 class="boxgrove-subHeader header-secondary">
                    Homepage Redesign for a Local Dry Cleaners
                </h2>
            </div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--light">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="boxgrove-screens cf">
            <div class="boxgrove-screensImg--title">
                <h1 class="boxgrove-header header-main header-large">Overview</h1>
                <br />
                <p class="boxgrove-subHeader">
                    Homepage redesign for Boxgrove dry cleaners. Redesigned the homepage so that at a glance, the customer will know the location and services of Boxgrove dry cleaners.
                </p>
            </div>
            <div data-nv-bgimage="true" data-nv-animate="true" class="boxgrove-screensImg boxgrove-screensImg--image1"></div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <div class="boxgrove-summary cf">
            <section class="boxgrove-summary__content">
                <h1 class="boxgrove-header header-main header-large">Company</h1>
                <br />
                <p class="boxgrove-summaryContent">
                    Boxgrove Cleaners (
                    <a href="http://www.boxgrovecleaners.ca" alt="Boxgrove Cleaners Homepage" class="link--blue" target="_blank" data-nv-ignore="true">www.boxgrovecleaners.ca</a>
                    )
                </p>
            </section>
            <section class="boxgrove-summary__content">
                <h1 class="boxgrove-header header-main header-large">Project Highlights</h1>
                <br />
                <ul class="boxgrove-summaryContent list-spacious list-unstyled">
                    <li>Redesigned the homepage within a short time frame.</li>
                    <li>Incorporate design elements requested by the client, such as client selected imagry.</li>
                    <li>SEO was a focus on the new homepage while adhering to a single page methodology.</li>
                    <li>Incorporated a custom management system based on client business requirements.</li>
                    <li>Includes an accordion control for the FAQs section, which can be modified via CMS.</li>
                </ul>
            </section>
            <section class="boxgrove-summary__content">
                <h1 class="boxgrove-header header-main header-large">Technology</h1>
                <br />
                <p class="boxgrove-summaryContent">
                    ASP.NET MVC, HTML, CSS3, JavaScript, jQuery, jQuery UI, XML, Google Maps
                </p>
            </section>
            <section class="boxgrove-summary__content">
                <h1 class="boxgrove-header header-main header-large">My Role in the Project</h1>
                <br />
                <p class="boxgrove-summaryContent">
                    Full Stack Web Developer
                </p>
            </section>
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workBoxgrove")