<section id="work-boxgrove" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="boxgroveClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true" 
         class="expand-container">
    <div class="expand-contianer__content cf">
        <div id="boxgroveClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" class="work-heroImage work-heroImage--boxgrove">
            <div class="boxgrove-headings">
                <h1 data-nv-animate="true" class="boxgrove-header header-main header-large">Boxgrove Cleaners</h1>
                <h2 data-nv-animate="true" class="boxgrove-subHeader header-secondary">
                    Homepage Redesign for a Local Dry Cleaners
                </h2>
            </div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--light">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section data-nv-animate="true" class="boxgrove-screens cf">
            <div class="boxgrove-screensImg--title">
                <h1 data-nv-animate="true" class="boxgrove-header header-main header-large">Overview</h1>
                <br />
                <p data-nv-animate="true" class="boxgrove-subHeader">
                    Single page website for Boxgrove dry cleaners with a focus on letting visitors know the location of the dry cleaners as well as the services they provide.
                </p>
            </div>
            <img src="~/Content/ImagesWork/boxgrove-image1.png"
                 class="boxgrove-screensImg boxgrove-screensImg--image1" />
            <img src="~/Content/ImagesWork/boxgrove-image2.png"
                 class="boxgrove-screensImg boxgrove-screensImg--image2" />
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <div class="boxgrove-summary cf">
            <section class="boxgrove-summary__content">
                <h1 data-nv-animate="true" class="boxgrove-header header-main header-large">Company</h1>
                <br />
                <p data-nv-animate="true" class="boxgrove-summaryContent">
                    Boxgrove Cleaners (
                    <a href="http://www.boxgrovecleaners.ca" alt="Boxgrove Cleaners Homepage" class="link--blue" target="_blank">www.boxgrovecleaners.ca</a>
                    )
                </p>
            </section>
            <section class="boxgrove-summary__content">
                <h1 data-nv-animate="true" class="boxgrove-header header-main header-large">Project Highlights</h1>
                <br />
                <ul data-nv-animate="true" class="boxgrove-summaryContent list-spacious list-unstyled">
                    <li>Single page website</li>
                    <li>Search Engine Optimization</li>
                    <li>Custom content management system for ease of use</li>
                </ul>
            </section>
            <section class="boxgrove-summary__content">
                <h1 data-nv-animate="true" class="boxgrove-header header-main header-large">My Role in the Project</h1>
                <br />
                <p data-nv-animate="true" class="boxgrove-summaryContent">
                    Full Stack Web Developer
                </p>
            </section>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workBoxgrove")