<section id="work-dashboard" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="dashboardClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
         class="expand-container work-item">
    <div class="expand-contianer__content cf">
        <div id="dashboardClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" data-nv-parallaximg="true" class="work-heroImage work-heroImage--dashboard">
            <h1 class="dashboard-header header-main header-large">
                Top Navigation Redesign
            </h1>
            <h2 class="dashboard-subHeader header-secondary">
                Enhance Grand & Toy's top navigation by adopting minimalistic styling
                so that it better aligns with Grand & Toy's brand vision.
            </h2>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workDashboard")