<section id="work-dashboard" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="dashboardClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
         class="expand-container work-item jsRellaxContainer">
    <div class="expand-contianer__content cf">
        <div id="dashboardClosePlaceholder" class="work-closeTarget"></div>
        <div data-nv-bgimage="true" class="work-heroImage work-heroImage--dashboard">
            <section class="dashboard-content-1">
                <h1 class="header-main header-large">
                    Dashboard Project
                </h1>
                <br />
                <h2 class="header-secondary header-medium">
                    The Mission
                </h2>
                <p>
                    Provide the customer with a customized experience on the second most important page
                    in an e-commerce site, which is the homepage after login. This homepage should have
                    all the tools required for a business when ordering business supplies, such as order
                    tracking tools and a list of frequently ordered items. These tools should help the
                    customer purchase their business supplies quicker and easier.
                </p>
            </section>
            <section class="dashboard-content-2">
                <h1 class="header-secondary--onDark header-medium">
                    The Process
                </h1>
                <p class="text-secondary--OnDark">
                    This project adhered to agile values while following the Scrum framework.
                    And the team structure was a perfect candidate for a two concurrent sprint model,
                    where the design team works in the design sprint, and the development team works
                    in the development sprint.
                </p>
                <br />
                <p class="text-secondary--OnDark">
                    I was the lead for the UI and Front End team for this project. Where UI worked in
                    the design sprint and Front End worked in the development sprint.
                </p>
            </section>
            <div class="dashboard-page1-props">
                <img class="jsRellax" data-rellax-speed="5" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_7.png" />
                <img class="jsRellax" data-rellax-speed="2" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_1.png" />
            </div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--light">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </div>
        <section class="dashboard-page2 cf">
            <div class="dashboard-page2-second-bg">
                &nbsp;
            </div>
            <div class="dashboard-page2-content">
                <h1 class="header-main--onDark header-large">
                    The Team
                </h1>
                <p class="text-secondary--OnDark">
                    Grand &amp; E-Commerce Team
                </p>
                <div class="dashboard-team-image" data-nv-animate="true">&nbsp;</div>
            </div>
        </section>
        <div class="dashboard-page3 cf">
            <section class="dashboard-page3-content1">
                <div class="dashboard-page3-content-container">
                    <h1 class="header-main header-large">
                        The Design Sprint
                    </h1>
                    <p class="text-secondary">
                        The design sprint followed a framework with design workshops scheduled throughout
                        the week, similar to Google's design sprint by Jake Knapp. And during the design
                        sprint, we went through several iterations of wireframing trying to explore every
                        possible solution that can satisfy a specific user story.
                    </p>
                </div>
            </section>
            <section class="dashboard-page3-content2">
                <div class="dashboard-page3-content-container">
                    <h1 class="header-main--onDark header-large">
                        Development Sprint
                    </h1>
                    <p class="text-secondary--OnDark">
                        Using my experience in working on Web applications, I quickly realized that a
                        single page application framework would be needed to keep the codebase clean and
                        scalable. But, choosing a SPA cannot happen in isolation, so I contacted various
                        stakeholders such as the Creative Team, the Application Development Team, and the
                        eCommerce Team to gather relevant data to make a decision. In the end, I choose
                        the React framework since it was the best fit for the business.
                    </p>
                    <br />
                    <p class="text-secondary--OnDark">
                        During the project, I accomplished something that I am proud of; I build the
                        library that drives the functionality to drag, drop, add, delete, and resize
                        dashboard widgets. The original specifications for the dashboard project had
                        an out of box library chosen to drive this functionality; however, after UX did
                        usability testing on the library, it was determined that the out of box solution
                        did not satisfy the business problem. I took on the challenge of writing a library
                        within a single sprint.
                    </p>
                </div>
            </section>
            <div class="dashboard-page3-screens">
                <div class="dashboard-page3-screen1">
                    <img src="~/Content/ImagesWork/dashboard/Dashboard_Onboarding_Assets_4.gif" />
                </div>
                <div class="dashboard-page3-screen2">
                    <img src="~/Content/ImagesWork/dashboard/Dashboard_Onboarding_Assets_Clipping.jpg" />
                </div>
                <div class="dashboard-page3-screen3">
                    <img src="~/Content/ImagesWork/dashboard/Dashboard_Onboarding_Assets_2_Clipping.jpg" />
                </div>
                <div class="dashboard-page3-screen4">
                    <img src="~/Content/ImagesWork/dashboard/Dashboard_OrderTracking_Clipping1.jpg" />
                </div>
                <div class="dashboard-page3-screen5">
                    <img src="~/Content/ImagesWork/dashboard/Dashboard_OrderTracking_Clipping2.jpg" />
                </div>
            </div>
        </div>
        <section class="dashboard-page4 cf">
            <div class="dashboard-page4-content-container">
                <h1 class="header-main header-large">
                    The End Product
                </h1>
                <p class="text-secondary">
                    Since we were following an agile process, our first release deployed four widgets.
                    These widgets included: Order Tracking, Frequently Ordered, Quick Order, and Custom Lists.
                </p>
                <br />
                <p class="text-secondary">
                    Each one of the widgets released was in the highest possible quality and satisfied the user
                    stories that were chosen for that release.
                </p>
            </div>
            <div class="dashboard-page4-screens">
                <img class="jsRellax" data-rellax-speed="0" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_1.png" />
                <img class="jsRellax" data-rellax-speed="-2" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_2.png" />
                <img class="jsRellax" data-rellax-speed="-1" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_3.png" />
                <img class="jsRellax" data-rellax-speed="0" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_4.png" />
                <img class="jsRellax" data-rellax-speed="-3" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_5.png" />
                <img class="jsRellax" data-rellax-speed="-2" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_6.png" />
                <img class="jsRellax" data-rellax-speed="0" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_7.png" />
                <img class="jsRellax" data-rellax-speed="0" src="~/Content/ImagesWork/dashboard/Dashboard_Screen_iPad.png" />
            </div>
            <div class="dashboard-page4-props">
                <img class="jsRellax" data-rellax-speed="5" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_1.png" />
                <img class="jsRellax" data-rellax-speed="1" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_2.png" />
                <img class="jsRellax" data-rellax-speed="1" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_3.png" />
                <img class="jsRellax" data-rellax-speed="3" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_4.png" />
                <img class="jsRellax" data-rellax-speed="5" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_5.png" />
                <img class="jsRellax" data-rellax-speed="-2" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_6.png" />
                <img class="jsRellax" data-rellax-speed="3" src="~/Content/ImagesWork/dashboard/Dashboard_Prop_7.png" />
            </div>
        </section>
        <div class="dashboard-page5 cf">
            <section>
                <h1 class="header-main--onDark header-large">
                    The Dashboard
                </h1>
                <br /><br />
                <div class="dashboard__videoContainer">
                    <video width="100%" autoplay loop muted>
                        <source src="/Content/Videos/dashboard-demo.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>
            <br /><br />
            <section class="dashboard__summaryContainer-content">
                <h1 class="header-main--onDark header-large">Company</h1>
                <p class="text-primary--OnDark">
                    Grand &amp; Toy (
                    <a href="https://www.grandandtoy.com" alt="Grand & Toy Home Page" class="link--blue" target="_blank" data-nv-ignore="true">
                        www.grandandtoy.com
                    </a>
                    )
                </p>
            </section>
            <section class="dashboard__summaryContainer-content">
                <h1 class="header-main--onDark header-large">My Role In Project</h1>
                <p class="text-primary--OnDark">
                    Lead Front End UI Developer
                </p>
            </section>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Scripts/rellax.js")
@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workDashboard")