<section id="work-dashboard" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="dashboardClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
         class="expand-container work-item">
    <div class="expand-contianer__content cf">
        <div id="dashboardClosePlaceholder" class="work-closeTarget"></div>
        <div data-nv-bgimage="true" class="work-heroImage work-heroImage--dashboard">
            <section class="dashboard-content-1">
                <h1 class="header-main header-large">
                    Dashboard Project
                </h1>
                <br />
                <h2 class="header-secondary header-medium">
                    The Mission
                </h2>
                <p>
                    Provide the customer with a customized experience on the second most important page
                    in an e-commerce site, which is the homepage after login. This homepage should have
                    all the tools required for a business when ordering business supplies, such as order
                    tracking tools and a list of frequently ordered items. These tools should help the
                    customer purchase their business supplies quicker and easier.
                </p>
            </section>
            <section class="dashboard-content-2">
                <h1 class="header-secondary--onDark header-medium">
                    The Process
                </h1>
                <p class="text-secondary--OnDark">
                    This project adhered to agile values while following the Scrum framework. 
                    And the team structure was a perfect candidate for a two concurrent sprint model, 
                    where the design team works in the design sprint, and the development team works 
                    in the development sprint.
                </p>
                <br />
                <p class="text-secondary--OnDark">
                    I was the lead for the UI and Front End team for this project. Where UI worked in
                    the design sprint and Front End worked in the development sprint.
                </p>
            </section>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--light">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workDashboard")