<div id="work-hr" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="hrClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
         class="expand-container work-item">
    <div class="expand-contianer__content cf">
        <div id="hrClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" data-nv-parallaximg="true" class="work-heroImage work-heroImage--hr">
            <h1 class="hr-header--main hr-header header-main header-large">Human Resources Portal</h1>
            <h2 class="hr-subHeader--main hr-subHeader header-secondary">
                The internal web application used to host HR resources for employees
            </h2>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--light">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="hr__screensContainer cf">
            <div class="hr__screensCaption">
                <h1 class="hr-header header-main header-large">Overview</h1>
                <br />
                <p class="hr-subHeader">
                    This web application serves as a centralized repository for employee documents and integrates Microsoft Sharepoint.
                </p>
            </div>
            <div data-nv-bgimage="true" data-nv-animate="true" class="hr__screens"></div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <div class="hr__summaryContainer cf">
            <section class="hr__summaryContainer-content">
                <h1 class="hr-header header-main header-large">Company</h1>
                <br />
                <p class="hr__summaryText">
                    Lakeside Logistics (
                    <a href="http://www.lakesidebesmart.com" alt="Lakeside Logistics Home Page" class="link--blue" target="_blank" data-nv-ignore="true">www.lakesidebesmart.com</a>
                    )
                </p>
            </section>
            <section class="hr__summaryContainer-content">
                <h1 class="hr-header header-main header-large">Project Highlights</h1>
                <br />
                <ul class="hr__summaryText list-spacious list-unstyled">
                    <li>Microsoft Sharepoint is integrated into the app due to HR's business requirement of uploading HR documents into the service</li>
                    <li>To display the "organizational chart," .NET interoperability was used to read a Visio document.</li>
                    <li>Images of company events were read from Microsoft Sharepoint and lazy-loaded in the app for performance. Masonry layout was used for this picture wall so that it is fully responsive to all screen sizes.</li>
                    <li>Integrated Orchard CMS so that HR employees can update the site with no coding.</li>
                </ul>
            </section>
            <section class="hr__summaryContainer-content">
                <h1 class="hr-header header-main header-large">Technology</h1>
                <br />
                <p class="hr__summaryText">
                    ASP.NET, backbone.js, Microsoft Sharepoint, Orchard CMS, HTML5, CSS, JavaScript, LESS, .NET
                </p>
            </section>
            <section class="hr__summaryContainer-content">
                <h1 class="hr-header header-main header-large">My Role in the Project</h1>
                <br />
                <p class="hr__summaryText">
                    Full Stack Web Developer
                </p>
            </section>
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workHR")