<section id="work-multiplex" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="multiplexClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
         class="expand-container work-item">
    <div class="expand-contianer__content cf">
        <div id="multiplexClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" data-nv-parallaximg="true" class="work-heroImage work-heroImage--multiplex">
            <h1 class="multiplex-header header-main--onDark header-large">
                <span>Multiplex</span>
            </h1>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--light">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="multiplex__content cf">
            <div class="multiplex__overviewContainer cf">
                <h1 class="multiplex-header header-main header-large">Overview</h1>
                <br />
                <p class="multiplex__overviewContent">
                    This web application is essentially used as a notifications wall in a call center environment. It displays real time statistics such as On-Time performance and displays crucial operations information such as weather maps.
                </p>
                <br />
                <p class="multiplex__overviewContent">
                    It also provides a mechanism for Human resources to post special events such as fundraisers and employee recognition on the screen.
                </p>
            </div>
            <div class="multiplex__screensContainer">
                <div data-nv-bgimage="true" data-nv-animate="true" class="multiplex__screen"></div>
            </div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--light">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <div class="multiplex__content cf">
            <section class="multiplex_summaryContainer">
                <h1 class="multiplex-header header-main header-large">Company</h1>
                <br />
                <p class="multiplex_summaryContent">
                    Lakeside Logistics (
                    <a href="http://www.lakesidebesmart.com" alt="Lakeside Logistics Home Page" class="link--blue" target="_blank" data-nv-ignore="true">www.lakesidebesmart.com</a>
                    )
                </p>
            </section>
            <section class="multiplex_summaryContainer">
                <h1 class="multiplex-header header-main header-large">Project Highlights</h1>
                <br />
                <ul class="multiplex_summaryContent list-spacious list-unstyled">
                    <li>SVG used extensively for displaying real time statistics</li>
                    <li>Application optimized to have very minimal impact on the server when accessing large amounts of data</li>
                    <li>Animations and transitions (such as parallax) used to attract attention</li>
                    <li>Custom CMS used to allow the HR department to easily updated posts</li>
                </ul>
            </section>
            <section class="multiplex_summaryContainer">
                <h1 class="multiplex-header header-main header-large">My Role in the Project</h1>
                <br />
                <p class="multiplex_summaryContent">
                    Full Stack Web Developer
                </p>
            </section>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workMultiplex")