<section id="work-ratequote" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="rateQuoteClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true" 
         class="expand-container work-item">
    <div class="expand-contianer__content cf">
        <div id="rateQuoteClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" data-nv-parallaximg="true" class="work-heroImage work-heroImage--rateQuote">
            <h1 class="rateQuote-header header-main header-large">
                <span>
                    Rate Quote
                </span>
            </h1>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="rateQuote__content cf">
            <div class="rateQuote__overviewContainer cf">
                <h1 class="rateQuote__header header-main header-large">Overview</h1>
                <br />
                <p class="rateQuote__overviewContent">
                    Web-application used to serve truck rates for various loads requested by the customer. The app uses a rate quote database for truck rates based on conditions the user fills out. The app will locate a truck with a price that best matches the customer's request.
                </p>
                <br />
                <p class="rateQuote__overviewContent">
                    Although the rate request process can be fully automated, the application allows the logistics coordinator a set amount of time to override any rates requested before the system automatically processes the request.
                </p>
            </div>
            <div data-nv-bgimage="true" class="rateQuote__screensContainer rateQuote__screensContainer--top">
                <div class="rateQuote__imgContainer rateQuote__imgContainer--container1">
                    <img src="~/Content/ImagesWork/ratequote/ratequote-image1_large.png" data-nv-animate="true" class="rateQuote__screen" />
                </div>
                <div class="rateQuote__imgContainer rateQuote__imgContainer--container2">
                    <img src="~/Content/ImagesWork/ratequote/ratequote-image2_large.png" data-nv-animate="true" class="rateQuote__screen" />
                </div>
            </div>
        </section>
        <div class="rateQuote__content cf">
            <div class="rateQuote__screensContainer rateQuote__screensContainer--bottom">
                <div class="rateQuote__imgContainer rateQuote__imgContainer--container1">
                    <img src="~/Content/ImagesWork/ratequote/ratequote-image3_large.png" data-nv-animate="true" class="rateQuote__screen" />
                </div>
                <div class="rateQuote__imgContainer rateQuote__imgContainer--container2">
                    <img src="~/Content/ImagesWork/ratequote/ratequote-image4_large.png" data-nv-animate="true" class="rateQuote__screen" />
                </div>
            </div>
            <div class="rateQuote__overviewContainer cf">
                <section>
                    <h1 class="rateQuote__header header-main header-large">Company</h1>
                    <br />
                    <p class="rateQuote__overviewContent">
                        Lakeside Logistics<br />
                        (
                        <a href="http://www.lakesidebesmart.com" alt="Lakeside Logistics Home Page" class="link--blue" target="_blank" data-nv-ignore="true">www.lakesidebesmart.com</a>
                        )
                    </p>
                </section>
                <br /><br /><br />
                <section>
                    <h1 class="rateQuote__header header-main header-large">Project Highlights</h1>
                    <br />
                    <ul class="rateQuote__overviewContent list-spacious">
                        <li>Application is globalized to handle English and French languages</li>
                        <li>This app was built using mobile-first methodolgy</li>
                        <li>Application is cross-compatible up to Internet Explorer 7</li>
                        <li>The app uses polling to keep the rate request board up to date without the need to refresh</li>
                    </ul>
                </section>
                <br /><br /><br />
                <section>
                    <h1 class="rateQuote__header header-main header-large">My Role</h1>
                    <br />
                    <p class="rateQuote__overviewContent">
                        Full Stack Web Developer
                    </p>
                </section>
            </div>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workRateQuote")