<section id="work-topnav" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
         data-nv-dial-target="topNavClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
         class="expand-container work-item">
    <div class="expand-contianer__content cf">
        <div id="topNavClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" data-nv-parallaximg="true" class="work-heroImage work-heroImage--topnav">
            <h1 class="topnav-header header-main header-large">
                Top Navigation Redesign
            </h1>
            <h2 class="topnav-subHeader header-secondary">
                Enhance Grand & Toy's top navigation by adopting minimalistic styling
                so that it better aligns with Grand & Toy's brand vision.
            </h2>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="topnav__screensContainer cf">
            <div data-nv-bgimage="true" data-nv-animate="true" class="topnav__screens"></div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="topnav__finalScreensContainer cf">
            @*<div data-nv-bgimage="true" data-nv-animate="true" class="topnav__finalScreens"></div>*@
            <video width="320" height="240" controls>
                <source src="/Content/Videos/topnav-demo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </section>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workTopNav")