<div id="work-topnav" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close"
     data-nv-dial-target="topNavClosePlaceholder" data-nv-nav-state="hidden" data-nv-dial-responsive="true"
     class="expand-container work-item jsTopNavRellaxContainer">
    <div class="expand-contianer__content cf">
        <div id="topNavClosePlaceholder" class="work-closeTarget"></div>
        <section data-nv-bgimage="true" data-nv-parallaximg="true" class="work-heroImage work-heroImage--topnav">
            <h1 class="topnav-header header-main header-large">
                Top Navigation Redesign
            </h1>
            <h2 class="topnav-subHeader header-secondary">
                Enhance Grand & Toy's top navigation by adopting minimalistic styling
                so that it better aligns with Grand & Toy's brand vision.
            </h2>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="topnav__screensContainer cf">
            <h1 class="header-main header-large">
                The Process
            </h1>
            <div class="topnav_screens_col topnav_screens_col1">
                <img src="~/Content/ImagesWork/topnav/topnav-oldnav-1.png"
                     alt="Screenshot of Grand and Toy old navigation" />
            </div>
            <div data-rellax-speed="-1" class="jsTopNavRellax topnav_screens_col topnav_screens_col2">
                <section>
                    <h1 class="header-secondary header-medium">
                        Interface Breakdown
                    </h1>
                    <ul class="list-spacious">
                        <li>
                            Image heavy navigation increases the load time.
                        </li>
                        <li>
                            The mobile navigation hide some content available on desktop.
                        </li>
                        <li>
                            Interacting with the navigation felt clunky due to lack of interaction design.
                        </li>
                        <li>
                            Customers can only access top-level categories from the navigation and will need to go to a landing page to get more specific categories.
                        </li>
                    </ul>
                </section>
                <br /><br /><br />
                <section>
                    <h1 class="header-secondary header-medium">
                        Design Opportunities
                    </h1>
                    <ul class="list-spacious">
                        <li>
                            The main focal point is on Navigation bar instead of the most used feature in eCommerce sites which is the search bar.
                        </li>
                        <li>
                            The navigation bar cannot accommodate e-merchandizers ad campaigns.
                        </li>
                    </ul>
                </section>
            </div>
            <div class="topnav_screens_col topnav_screens_col3">
                <img class="jsTopNavRellax" data-rellax-speed="7"
                     src="~/Content/ImagesWork/topnav/topnav-oldnav-2.png"
                     alt="Screenshot of Grand and Toy old navigation bar" />
            </div>
            <div class="work-IndicatorContainer">
                <div class="scroll-indicator scroll-indicator--dark">
                    <span>Scroll</span>
                    <span class="scroll-indicator__line"></span>
                    <span class="scroll-indicator__circle"></span>
                </div>
            </div>
        </section>
        <section class="topnav__deviceShots cf">
            <h1 class="header-main--onDark header-large">
                New Top Navigation
            </h1>
            <img src="~/Content/ImagesWork/topnav/topnav-deviceShot-1.jpg" />
            <img src="~/Content/ImagesWork/topnav/topnav-deviceShot-2.jpg" />
        </section>
        <div class="topnav__finalScreensContainer cf">
            <section>
                <h1 class="topnav-header header-main--onDark header-large">
                    Enhanced Navigation
                </h1>
                <br /><br />
                <div class="topnav__videoContainer">
                    <video width="100%" autoplay loop muted>
                        <source src="/Content/Videos/topnav-demo.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>
            <br /><br />
            <section class="topnav__summaryContainer-content">
                <h1 class="header-main--onDark header-large">Company</h1>
                <br />
                <p class="text-primary--OnDark">
                    Grand &amp; Toy (
                    <a href="https://www.grandandtoy.com" alt="Grand & Toy Home Page" class="link--blue" target="_blank" data-nv-ignore="true">
                        www.grandandtoy.com
                    </a>
                    )
                </p>
            </section>
            <section class="topnav__summaryContainer-content">
                <h1 class="header-main--onDark header-large">Highlights</h1>
                <br />
                <ul class="hr__summaryText list-spacious list-unstyled text-primary--OnDark">
                    <li>
                        Minimalistic styling allows for dynamic focal points.
                    </li>
                    <li>
                        The first focal point has become the search bar, which is the most used feature in any e-commerce site.
                    </li>
                    <li>
                        The minimalistic design also shifts the focus to the full-width hero banner.
                    </li>
                    <li>
                        The new top navigation reduces clicks by including third-level categories right in the navigation bar.
                    </li>
                    <li>
                        Personalization is built-in with features such as showing relevant tools dependent on the account type.
                    </li>
                    <li>
                        Strong emphasis on interaction design to guide the users' eyes.
                    </li>
                    <li>
                        Enhanced performance due to removing all the product images contained within the top navigation.
                    </li>
                    <li>
                        E-Merchandising now has a dedicated spot to advertise promotions such as deal center, or flash sale.
                    </li>
                </ul>
            </section>
            <section class="topnav__summaryContainer-content">
                <h1 class="header-main--onDark header-large">Technology</h1>
                <br />
                <p class="text-primary--OnDark">
                    ASP.NET, Endeca, C#, HTML, CSS, CSS Transitions & Animations, JavaScript
                </p>

            </section>
            <section class="topnav__summaryContainer-content">
                <h1 class="header-main--onDark header-large">My Role</h1>
                <br />
                <p class="text-primary--OnDark">
                    Lead Front End UI Developer
                </p>
            </section>
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workTopNav")