<div id="pnlWorkPageIndicator" class="work-PageIndicatorContainer">
    @* JavaScript Renders the contents *@
    @*<span class="work-PageIndicator"></span>*@
</div>

<div id="work" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="default" data-nv-theme="light" class="expand-container work-bg">
    <div class="expand-contianer__content">
        <div id="workSlider" class="work-slider cf">
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--dashboard button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <div class="work__dropTarget">
                        <h1 class="work-header header-main--onDark header-large">
                            Dashboard
                        </h1>
                        <br />
                        <div class="work-btnView button-viewMore">
                            <span class="button-viewMore__separator"></span>
                            <a href="/Work/Dashboard" class="button-viewMore__link">Drop to<br />View</a>
                        </div>
                        <br />
                        <h2 class="work-subHeader header-secondary--onDark header-tiny">
                            Widgets Built in React
                        </h2>
                    </div>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--topnav button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <div class="work__dropTarget">
                        <h1 class="work-header header-main--onDark header-large">
                            Top Nav
                        </h1>
                        <br />
                        <div class="work-btnView button-viewMore">
                            <span class="button-viewMore__separator"></span>
                            <a href="/Work/Topnav" class="button-viewMore__link">Drop to<br />View</a>
                        </div>
                        <br />
                        <h2 class="work-subHeader header-secondary--onDark header-tiny">
                            Navigation Redesign Project
                        </h2>
                    </div>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--multiplex button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <div class="work__dropTarget">
                        <h1 class="work-header header-main--onDark header-large">
                            Multiplex
                        </h1>
                        <br />
                        <div class="work-btnView button-viewMore">
                            <span class="button-viewMore__separator"></span>
                            <a href="/Work/Multiplex" class="button-viewMore__link">Drop to<br />View</a>
                        </div>
                        <br />
                        <h2 class="work-subHeader header-secondary--onDark header-tiny">
                            SVG Web Application
                        </h2>
                    </div>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--rateQuote button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <div class="work__dropTarget">
                        <h1 class="work-header header-main--onDark header-large">
                            Rate Quote
                        </h1>
                        <br />
                        <div class="work-btnView button-viewMore">
                            <span class="button-viewMore__separator"></span>
                            <a href="/Work/RateQuote" class="button-viewMore__link">Drop to<br />View</a>
                        </div>
                        <br />
                        <h2 class="work-subHeader header-secondary--onDark header-tiny">
                            Responsive Web Application
                        </h2>
                    </div>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--hr button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <div class="work__dropTarget">
                        <h1 class="work-header header-main--onDark header-large">
                            HR Intranet
                        </h1>
                        <br />
                        <div class="work-btnView button-viewMore">
                            <span class="button-viewMore__separator"></span>
                            <a href="/Work/HR" class="button-viewMore__link">Drop to<br />View</a>
                        </div>
                        <br />
                        <h2 class="work-subHeader header-secondary--onDark header-tiny">
                            File Sharing Web Application
                        </h2>
                    </div>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--boxgrove button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <div class="work__dropTarget">
                        <h1 class="work-header header-main--onDark header-large">
                            Boxgrove
                        </h1>
                        <br />
                        <div class="work-btnView button-viewMore">
                            <span class="button-viewMore__separator"></span>
                            <a href="/Work/Boxgrove" class="button-viewMore__link">Drop to<br />View</a>
                        </div>
                        <br />
                        <h2 class="work-subHeader header-secondary--onDark header-tiny">
                            Homepage Redesign
                        </h2>
                    </div>
                </div>
            </section>
            <section class="work work--separator work-imgTile work-imgTile--placeholder">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <h1 class="work-subHeader header-secondary--onDark header-small">
                        More work to be posted. Please come again.
                    </h1>
                </div>
            </section>
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/workPage")