<section id="work" data-nv-page="true" data-nv-state="default" data-nv-theme="light" class="expand-container work-bg">
    <div class="expand-contianer__content">
        <div class="work-IndicatorContainer work-IndicatorContainer--MoreInfo">
            <div class="moreInfo-indicator moreInfo-indicator--light">
                <span class="moreInfo-indicator__line"></span>
                <span class="moreInfo-indicator__circle"></span>
                <span>View More</span>
            </div>
        </div>
        <div id="workSlider" class="work-slider cf">
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--multiplex button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <h1 data-nv-animate="true" class="work-header header-main--onDark header-large">
                        Multiplex
                    </h1>
                    <br />
                    <div data-nv-animate="true" class="work-btnView button-viewMore">
                        <span class="button-viewMore__separator"></span>
                        <a href="/Work/Multiplex" class="button-viewMore__link">View</a>
                    </div>
                    <br />
                    <h2 data-nv-animate="true" class="work-subHeader header-secondary--onDark header-tiny">
                        SVG Web Application
                    </h2>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--rateQuote button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <h1 data-nv-animate="true" class="work-header header-main--onDark header-large">
                        Rate Quote
                    </h1>
                    <br />
                    <div data-nv-animate="true" class="work-btnView button-viewMore">
                        <span class="button-viewMore__separator"></span>
                        <a href="/Work/RateQuote" class="button-viewMore__link">View</a>
                    </div>
                    <br />
                    <h2 data-nv-animate="true" class="work-subHeader header-secondary--onDark header-tiny">
                        Responsive Web Application
                    </h2>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--hr button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <h1 data-nv-animate="true" class="work-header header-main--onDark header-large">
                        HR Intranet
                    </h1>
                    <br />
                    <div data-nv-animate="true" class="work-btnView button-viewMore">
                        <span class="button-viewMore__separator"></span>
                        <a href="/Work/HR" class="button-viewMore__link">View</a>
                    </div>
                    <br />
                    <h2 data-nv-animate="true" class="work-subHeader header-secondary--onDark header-tiny">
                        File Sharing Web Application
                    </h2>
                </div>
            </section>
            <section data-nv-bgimage="true" class="work work--hoverable work--separator work-imgTile work-imgTile--boxgrove button-container-viewMore">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <h1 data-nv-animate="true" class="work-header header-main--onDark header-large">
                        Boxgrove
                    </h1>
                    <br />
                    <div data-nv-animate="true" class="work-btnView button-viewMore">
                        <span class="button-viewMore__separator"></span>
                        <a href="/Work/Boxgrove" class="button-viewMore__link">View</a>
                    </div>
                    <br />
                    <h2 data-nv-animate="true" class="work-subHeader header-secondary--onDark header-tiny">
                        Homepage Redesign
                    </h2>
                </div>
            </section>
            <section class="work work--separator work-imgTile work-imgTile--placeholder">
                <div class="work__overlay"></div>
                <div class="work__content">
                    <h1 data-nv-animate="true" class="work-subHeader header-secondary--onDark header-tiny">
                        More work to be posted. Please come again.
                    </h1>
                </div>
            </section>
        </div>
    </div>
</section>

@Scripts.Render("~/ViewScripts/workPage.js")