@{
    ViewBag.Title = "Nikolai Villarin | Work Boxgrove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="Single page website for Boxgrove dry cleaners with a focus on letting visitors know the location of the dry cleaners as well as the services they provide." />
    <meta name="keywords" content="Nikolai Villarin Web Portfolio, Work, Boxgrove, Work Boxgrove, Boxgrove Cleaners" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \Work\WorkPartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("_boxgrove")
</div>