@{
    ViewBag.Title = "Nikolai Villarin | Work HR Intranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="This web application is multi-purpose. It provides a centralized repository for employee documents such as organizational charts." />
    <meta name="keywords" content="Nikolai Villarin Web Portfolio, Work, HR, Work HR, Intranet, HR Intranet" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \Work\WorkPartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("_hr")
</div>
