@{
    ViewBag.Title = "Nikolai Villarin | Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="Portfolio of Nikolai Villarin a web developer based in Toronto Canada. The work page showcases the diversity of my work experience." />
    <meta name="keywords" content="Nikolai Villarin, Web Portfolio" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("_work")
</div>