@{
    ViewBag.Title = "Nikolai Villarin | Work Rate Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="Nikolai Villarin Web Portfolio, Work, Rate Quote, Work Rate Quote" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \Work\WorkPartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("_rateQuote")
</div>