@{
    ViewBag.Title = "Nikolai Villarin | Work Rate Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="Web application used to serve truck rates for various loads requested by the customer. The application uses a rate quote database for truck rates based on conditions the user fills out. The application will locate a truck with a rate that best match the customer's request." />
    <meta name="keywords" content="Nikolai Villarin Web Portfolio, Work, Rate Quote, Work Rate Quote" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \Work\WorkPartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("_rateQuote")
</div>