<section id="menu" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close" class="menu expand-container">
    <div class="expand-contianer__content expand-contianer__content--spacious">
        <h1 data-nv-animate="true" class="menu-header header-main--onDark header-large">Menu</h1>
        <br />
        <ul class="list-unstyled">
            <li data-nv-animate="true" class="menu-links menu-links--1 menu-links--selected">
                <a id="lnkMenuHome" data-nv-target="false" href="/Home" class="link--onDark link--large">Home</a>
            </li>
            <li data-nv-animate="true" class="menu-links menu-links--2">
                <a id="lnkMenuWork" data-nv-target="false" href="/Work" class="link--onDark link--large">Work</a>
            </li>
            <li data-nv-animate="true" class="menu-links menu-links--3">
                <a id="lnkMenuAbout" data-nv-target="false" href="/About" class="link--onDark link--large">About</a>
            </li>
            <li data-nv-animate="true" class="menu-links menu-links--4">
                <a id="lnkMenuContact" data-nv-target="false" href="/Contact" class="link--onDark link--large">Contact</a>
            </li>
        </ul>
        <br />
        <a href="https://www.linkedin.com/in/nikolai-villarin-b13b61130/" data-nv-ignore="true" class="socialIcon socialIcon--linkedin" target="_blank" title="LinkedIn">&nbsp;</a>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/menuPage")
