<section id="menu" data-nv-page="true" data-nv-page-state="scrollable" data-nv-state="close" class="menu expand-container">
    <div class="expand-contianer__content expand-contianer__content--spacious">
        <h1 class="menu-header header-main--onDark header-large"
            data-nv-animate-delay="0"
            data-nv-animate-type="block"
            data-nv-animate="noWrap">
            Menu
        </h1>
        <br />
        <ul class="list-unstyled">
            <li class="menu-links menu-links--1 menu-links--selected"
                data-nv-animate-delay="100"
                data-nv-animate-type="block"
                data-nv-animate="noWrap">
                <a id="lnkMenuHome" data-nv-target="false" href="/Home" class="link--onDark link--large">Home</a>
            </li>
            <li class="menu-links menu-links--2"
                data-nv-animate-delay="200"
                data-nv-animate-type="block"
                data-nv-animate="noWrap">
                <a id="lnkMenuWork" data-nv-target="false" href="/Work" class="link--onDark link--large">Work</a>
            </li>
            <li class="menu-links menu-links--3"
                data-nv-animate-delay="300"
                data-nv-animate-type="block"
                data-nv-animate="noWrap">
                <a id="lnkMenuAbout" data-nv-target="false" href="/About" class="link--onDark link--large">About</a>
            </li>
            <li class="menu-links menu-links--4"
                data-nv-animate-delay="400"
                data-nv-animate-type="block"
                data-nv-animate="noWrap">
                <a id="lnkMenuContact" data-nv-target="false" href="/Contact" class="link--onDark link--large">Contact</a>
            </li>
        </ul>
        <br />
        <div class="contact__socialIcons cf"
             data-nv-animate-delay="500"
             data-nv-animate-type="block"
             data-nv-animate="noWrap">
            <div>
                <a href="https://www.linkedin.com/in/nikolai-villarin-b13b61130/" 
                   data-nv-ignore="true" 
                   class="socialIcon socialIcon--linkedin" 
                   target="_blank" 
                   title="LinkedIn">
                    &nbsp;
                </a>
            </div>
            <div>
                <a href="https://github.com/nikolaivillarin" 
                   data-nv-ignore="true" 
                   class="socialIcon socialIcon--github" 
                   target="_blank" 
                   title="GitHub">
                    &nbsp;
                </a>
            </div>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/menuPage")
