@{
    ViewBag.Title = "Nikolai Villarin | Site Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
<meta name="description" content="I am a Web Developer currently working in Toronto, Canada. And, I create user-centric web applications that satisfy specific business needs." />
    <meta name="keywords" content="Nikolai Villarin Web Portfolio, Site Menu, Menu, Site Map" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Work\WorkPartial, \About\AboutPartial, \Contact\ContactPartial">
    @Html.Partial("~/Views/Home/_home.cshtml")
</div>