<section id="contact" data-nv-page="true" data-nv-state="send" data-nv-nav-state="previousOnly" data-nv-page-state="scrollable"
         data-nv-dial-target="sendBtnPlaceholder" data-nv-dial-responsive="true" data-nv-theme="dark_light" class="expand-container">
    <div class="expand-contianer__content cf">
        <div data-nv-bgimage="true" class="contact">
            <section class="contact__container cf">
                <div id="contactSummary" class="contact__content contact__summary">
                    <h1 class="contact__header header-main--onDark header-medium">Contact Me</h1>
                    <div class="contact__text">
                        <p class="contact__summary-content text-secondary--OnDark">
                            I am always open to “interesting” projects, or people who just want to say
                            hello. So, feel free to send me a message.
                        </p>
                        <br />
                        <p class="contact__summary-content text-secondary--OnDark">
                            If you prefer to contact me directly email me at
                            <a href="mailto:hello@nikolaivillarin.com" data-nv-ignore="true" target="_top" class="link--blue">hello@nikolaivillarin.com</a>
                        </p>
                        <br />
                        <div class="contact__socialIcons cf">
                            <a href="https://www.linkedin.com/in/nikolai-villarin-b13b61130/" data-nv-ignore="true" class="socialIcon socialIcon--linkedin" target="_blank" title="LinkedIn">&nbsp;</a>
                            <a href="https://github.com/nikol3x" data-nv-ignore="true" class="socialIcon socialIcon--github" target="_blank" title="GitHub">&nbsp;</a>
                        </div>
                    </div>
                </div>
                <form id="frmContact" action="/Contact/Message" method="post" class="contact__content contact__form">
                    <div class="contact__form-content">
                        <h1 class="contact__header header-main--onDark header-medium">Leave a Message</h1>
                    </div>
                    <div class="contact__form-content contact__formFields cf">
                        <div class="contact__inputGroup">
                            <label for="Name" class="text-primary--OnDark contact__label">Your Name</label><br />
                            <input id="Name" name="Name" type="text" class="contact__textbox" />
                        </div>
                        <div class="contact__inputGroup">
                            <label for="Email" class="text-primary--OnDark contact__label">Your Email Address</label><br />
                            <input id="Email" name="Email" type="text" class="contact__textbox" />
                        </div>
                        <div class="contact__inputGroup">
                            <label for="Message" class="text-primary--OnDark contact__label">Your Message to Me</label><br />
                            <input id="Message" name="Message" type="text" class="contact__textbox" />
                        </div>
                    </div>
                    <div id="sendBtnPlaceholder" class="contact__placeholder"></div>
                </form>
            </section>
        </div>
    </div>
</section>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/contactPage")