
@{
    ViewBag.Title = "Nikolai Villarin | Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="Contact Me. I don’t bite and I’m always available to chat. Reach out anytime and I will get back as soon as I can." />
    <meta name="keywords" content="Nikolai Villarin, Web Portfolio" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \Work\WorkPartial, \About\AboutPartial">
    @Html.Partial("_contact")
</div>