$frameDuration: 0.8s;

// Overrides
.about-screen {
    &.about-screen--babyYoda {
        .about-screen__svg {
            min-width: 50%;

            .babyYodaEyes {
                left: 154px;
                max-width: 142px;
                opacity: 0;
                position: absolute;
                top: 173px;

                @include transition(opacity 1s linear);
            }
        }

        .about-screen__splash {
            @include transform(translate(-58%, -4.5em));

            .about-screen__target {
                bottom: -2em;
            }
        }

        &.about-screen--animState5 {
            .about-screen__svg {
                .babyYodaEyes {
                    opacity: 1;
                }
            }
        }
    }
}

.about-screen {
    .about-screen__img {
        &.about-screen__img-babyYoda {
            display: block;
            overflow: visible;

            .AnimateToOriginalComplete.cls-1 {
                fill: #b55243;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-1 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-1 {
                        0% {
                            fill: #b55243;
                        }

                        35% {
                            fill: #cf6959;
                        }

                        100% {
                            fill: #b55243;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-2 {
                fill: #b7413f;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-2 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-2 {
                        0% {
                            fill: #b7413f;
                        }

                        35% {
                            fill: #d45956;
                        }

                        100% {
                            fill: #b7413f;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-3 {
                fill: #dc6a57;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-3 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-3 {
                        0% {
                            fill: #dc6a57;
                        }

                        35% {
                            fill: #ee8a79;
                        }

                        100% {
                            fill: #dc6a57;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-4 {
                fill: #e28b5e;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-4 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-4 {
                        0% {
                            fill: #e28b5e;
                        }

                        35% {
                            fill: #f29869;
                        }

                        100% {
                            fill: #e28b5e;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-5 {
                fill: #e2c396;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-5 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-5 {
                        0% {
                            fill: #e2c396;
                        }

                        35% {
                            fill: #f1d6b0;
                        }

                        100% {
                            fill: #e2c396;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-6 {
                fill: #ca9a79;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-6 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-6 {
                        0% {
                            fill: #ca9a79;
                        }

                        35% {
                            fill: #ddb193;
                        }

                        100% {
                            fill: #ca9a79;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-7 {
                fill: #aca88f;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-7 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-7 {
                        0% {
                            fill: #aca88f;
                        }

                        35% {
                            fill: #bebaa4;
                        }

                        100% {
                            fill: #aca88f;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-8 {
                fill: #b7b39c;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-8 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-8 {
                        0% {
                            fill: #b7b39c;
                        }

                        35% {
                            fill: #c8c5b2;
                        }

                        100% {
                            fill: #b7b39c;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-9 {
                fill: #afab96;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-9 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-9 {
                        0% {
                            fill: #afab96;
                        }

                        35% {
                            fill: #c2bea9;
                        }

                        100% {
                            fill: #afab96;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-10 {
                fill: #a69f8e;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-10 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-10 {
                        0% {
                            fill: #a69f8e;
                        }

                        35% {
                            fill: #bbb6a7;
                        }

                        100% {
                            fill: #a69f8e;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-11 {
                fill: #9a9682;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-11 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-11 {
                        0% {
                            fill: #9a9682;
                        }

                        35% {
                            fill: #adaa9a;
                        }

                        100% {
                            fill: #9a9682;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-12 {
                fill: #858174;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-12 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-12 {
                        0% {
                            fill: #858174;
                        }

                        35% {
                            fill: #9d9a8e;
                        }

                        100% {
                            fill: #858174;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-13 {
                fill: #70685d;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-13 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-13 {
                        0% {
                            fill: #70685d;
                        }

                        35% {
                            fill: #8b8377;
                        }

                        100% {
                            fill: #70685d;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-14 {
                fill: #6d5d54;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-14 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-14 {
                        0% {
                            fill: #6d5d54;
                        }

                        35% {
                            fill: #8f7c71;
                        }

                        100% {
                            fill: #6d5d54;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-15 {
                fill: #71514e;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-15 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-15 {
                        0% {
                            fill: #71514e;
                        }

                        35% {
                            fill: #8e6864;
                        }

                        100% {
                            fill: #71514e;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-16 {
                fill: #904b4c;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-16 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-16 {
                        0% {
                            fill: #904b4c;
                        }

                        35% {
                            fill: #aa5d5e;
                        }

                        100% {
                            fill: #904b4c;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-17 {
                fill: #994b49;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-17 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-17 {
                        0% {
                            fill: #994b49;
                        }

                        35% {
                            fill: #b65f5d;
                        }

                        100% {
                            fill: #994b49;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-18 {
                fill: #5f2e37;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-18 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-18 {
                        0% {
                            fill: #5f2e37;
                        }

                        35% {
                            fill: #79404a;
                        }

                        100% {
                            fill: #5f2e37;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-19 {
                fill: #663939;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-19 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-19 {
                        0% {
                            fill: #663939;
                        }

                        35% {
                            fill: #804d4d;
                        }

                        100% {
                            fill: #663939;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-20 {
                fill: #6f4b47;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-20 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-20 {
                        0% {
                            fill: #6f4b47;
                        }

                        35% {
                            fill: #89625e;
                        }

                        100% {
                            fill: #6f4b47;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-21 {
                fill: #5a403a;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-21 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-21 {
                        0% {
                            fill: #5a403a;
                        }

                        35% {
                            fill: #74544d;
                        }

                        100% {
                            fill: #5a403a;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-22 {
                fill: #5a3f3a;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-22 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-22 {
                        0% {
                            fill: #5a3f3a;
                        }

                        35% {
                            fill: #72514b;
                        }

                        100% {
                            fill: #5a3f3a;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-23 {
                fill: #846850;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-23 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-23 {
                        0% {
                            fill: #846850;
                        }

                        35% {
                            fill: #a18267;
                        }

                        100% {
                            fill: #846850;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-24 {
                fill: #a48365;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-24 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-24 {
                        0% {
                            fill: #a48365;
                        }

                        35% {
                            fill: #b79577;
                        }

                        100% {
                            fill: #a48365;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-25 {
                fill: #7d5648;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-25 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-25 {
                        0% {
                            fill: #7d5648;
                        }

                        35% {
                            fill: #9a6b5b;
                        }

                        100% {
                            fill: #7d5648;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-26 {
                fill: #865d4b;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-26 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-26 {
                        0% {
                            fill: #865d4b;
                        }

                        35% {
                            fill: #9d705c;
                        }

                        100% {
                            fill: #865d4b;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-27 {
                fill: #563d38;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-27 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-27 {
                        0% {
                            fill: #563d38;
                        }

                        35% {
                            fill: #72534d;
                        }

                        100% {
                            fill: #563d38;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-28 {
                fill: #523839;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-28 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-28 {
                        0% {
                            fill: #523839;
                        }

                        35% {
                            fill: #5f4243;
                        }

                        100% {
                            fill: #523839;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-29 {
                fill: #4e3334;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-29 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-29 {
                        0% {
                            fill: #4e3334;
                        }

                        35% {
                            fill: #634345;
                        }

                        100% {
                            fill: #4e3334;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-30 {
                fill: #523632;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-30 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-30 {
                        0% {
                            fill: #523632;
                        }

                        35% {
                            fill: #724f4a;
                        }

                        100% {
                            fill: #523632;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-31 {
                fill: #976957;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-31 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-31 {
                        0% {
                            fill: #976957;
                        }

                        35% {
                            fill: #b4826f;
                        }

                        100% {
                            fill: #976957;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-32 {
                fill: #7c5950;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-32 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-32 {
                        0% {
                            fill: #7c5950;
                        }

                        35% {
                            fill: #a1776c;
                        }

                        100% {
                            fill: #7c5950;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-33 {
                fill: #a87d6e;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-33 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-33 {
                        0% {
                            fill: #a87d6e;
                        }

                        35% {
                            fill: #bb9587;
                        }

                        100% {
                            fill: #a87d6e;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-34 {
                fill: #936c5f;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-34 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-34 {
                        0% {
                            fill: #936c5f;
                        }

                        35% {
                            fill: #aa8275;
                        }

                        100% {
                            fill: #936c5f;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-35 {
                fill: #553935;

                &.shard--shimmer {
                    @include animation( babyYoda-shimmer-cls-35 2s linear forwards );

                    @keyframes babyYoda-shimmer-cls-35 {
                        0% {
                            fill: #553935;
                        }

                        35% {
                            fill: #6c4c47;
                        }

                        100% {
                            fill: #553935;
                        }
                    }
                }
            }
        }
    }
}

.about_bomb-btn--babyYoda {
    left: -170px;
}