/*------------------------------------*\
    Summary: 
    Styles for the expand control which sets
    the transitions when the user goes from page to page.
    These styles are used by JavaScript
\*------------------------------------*/
@import '../Atoms/_boxes';
@import '../Atoms/_mixins';


/*------------------------------------*\
    Styles
\*------------------------------------*/
.pages-container {
    height: 100vh;
    width: 100vw;
}

.expand-container {
    display: none;
    overflow: hidden;

    @extend %box--fullPage;
    @include transform(translate3d(0, 0, 0));
    @include transform-style(preserve-3d);
    @include backface-visibility(hidden);
}

.expand-container--selected {
    display: block;
}

.expand-contianer__content {
    height: 100vh;
    width: 100vw;
}

.expand-contianer__content--spacious {
    @extend %box--spacious;
}

.expand-container-ontop {
	@extend %box-level--modular;
}