$frameDuration: 0.8s;

.about-screen {
    &.about-screen--msLogo {
        .about-screen__splash {
            .about-screen__target {
                top: -3em;
            }
        }
    }
}

.about-screen--darkTheme {
    .about-screen__img {
        &.about-screen__img-certification {
            display: block;
            overflow: visible;

            .AnimateToOriginalComplete[class^="cls-"] {
                stroke-width: 10;
            }

            .AnimateToOriginalComplete.cls-1 {
                fill: #b283ec;

                &.shard--shimmer {
                    @include animation( shimmer-cls-1 2s linear forwards );

                    @keyframes shimmer-cls-1 {
                        0% {
                            fill: #b283ec;
                        }

                        35% {
                            fill: #c39ef1;
                        }

                        100% {
                            fill: #b283ec;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-2 {
                fill: #ba96e7;

                &.shard--shimmer {
                    @include animation( shimmer-cls-2 2s linear forwards );

                    @keyframes shimmer-cls-2 {
                        0% {
                            fill: #ba96e7;
                        }

                        35% {
                            fill: #e1cff6;
                        }

                        100% {
                            fill: #ba96e7;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-3 {
                fill: #c19af0;

                &.shard--shimmer {
                    @include animation( shimmer-cls-3 2s linear forwards );

                    @keyframes shimmer-cls-3 {
                        0% {
                            fill: #c19af0;
                        }

                        35% {
                            fill: #ceaef3;
                        }

                        100% {
                            fill: #c19af0;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-4 {
                fill: #b988f3;

                &.shard--shimmer {
                    @include animation( shimmer-cls-4 2s linear forwards );

                    @keyframes shimmer-cls-4 {
                        0% {
                            fill: #b988f3;
                        }

                        35% {
                            fill: #bf92f3;
                        }

                        100% {
                            fill: #b988f3;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-5 {
                fill: #ad7ce6;

                &.shard--shimmer {
                    @include animation( shimmer-cls-5 2s linear forwards );

                    @keyframes shimmer-cls-5 {
                        0% {
                            fill: #ad7ce6;
                        }

                        35% {
                            fill: #c19ceb;
                        }

                        100% {
                            fill: #ad7ce6;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-6 {
                fill: #a676de;

                &.shard--shimmer {
                    @include animation( shimmer-cls-6 2s linear forwards );

                    @keyframes shimmer-cls-6 {
                        0% {
                            fill: #a676de;
                        }

                        35% {
                            fill: #be97ea;
                        }

                        100% {
                            fill: #a676de;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-7 {
                fill: #b483ef;

                &.shard--shimmer {
                    @include animation( shimmer-cls-7 2s linear forwards );

                    @keyframes shimmer-cls-7 {
                        0% {
                            fill: #b483ef;
                        }

                        35% {
                            fill: #c29af2;
                        }

                        100% {
                            fill: #b483ef;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-8 {
                fill: #9467c7;

                &.shard--shimmer {
                    @include animation( shimmer-cls-8 2s linear forwards );

                    @keyframes shimmer-cls-8 {
                        0% {
                            fill: #9467c7;
                        }

                        35% {
                            fill: #a57ed0;
                        }

                        100% {
                            fill: #9467c7;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-9 {
                fill: #a171d9;

                &.shard--shimmer {
                    @include animation( shimmer-cls-9 2s linear forwards );

                    @keyframes shimmer-cls-9 {
                        0% {
                            fill: #a171d9;
                        }

                        35% {
                            fill: #c6a5eb;
                        }

                        100% {
                            fill: #a171d9;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-10 {
                fill: #a978e2;

                &.shard--shimmer {
                    @include animation( shimmer-cls-10 2s linear forwards );

                    @keyframes shimmer-cls-10 {
                        0% {
                            fill: #a978e2;
                        }

                        35% {
                            fill: #ba8feb;
                        }

                        100% {
                            fill: #a978e2;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-11 {
                fill: #9869ce;

                &.shard--shimmer {
                    @include animation( shimmer-cls-11 2s linear forwards );

                    @keyframes shimmer-cls-11 {
                        0% {
                            fill: #9869ce;
                        }

                        35% {
                            fill: #a981d8;
                        }

                        100% {
                            fill: #9869ce;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-12 {
                fill: #b282ea;

                &.shard--shimmer {
                    @include animation( shimmer-cls-12 2s linear forwards );

                    @keyframes shimmer-cls-12 {
                        0% {
                            fill: #b282ea;
                        }

                        35% {
                            fill: #e1cdf7;
                        }

                        100% {
                            fill: #b282ea;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-13 {
                fill: #b885f2;

                &.shard--shimmer {
                    @include animation( shimmer-cls-13 2s linear forwards );

                    @keyframes shimmer-cls-13 {
                        0% {
                            fill: #b885f2;
                        }

                        35% {
                            fill: #c397f5;
                        }

                        100% {
                            fill: #b885f2;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-14 {
                fill: #45206b;

                &.shard--shimmer {
                    @include animation( shimmer-cls-14 2s linear forwards );

                    @keyframes shimmer-cls-14 {
                        0% {
                            fill: #45206b;
                        }

                        35% {
                            fill: #52297d;
                        }

                        100% {
                            fill: #45206b;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-15 {
                fill: #4c2676;

                &.shard--shimmer {
                    @include animation( shimmer-cls-15 2s linear forwards );

                    @keyframes shimmer-cls-15 {
                        0% {
                            fill: #4c2676;
                        }

                        35% {
                            fill: #552b82;
                        }

                        100% {
                            fill: #4c2676;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-16 {
                fill: #794ab0;

                &.shard--shimmer {
                    @include animation( shimmer-cls-16 2s linear forwards );

                    @keyframes shimmer-cls-16 {
                        0% {
                            fill: #794ab0;
                        }

                        35% {
                            fill: #6b419c;
                        }

                        100% {
                            fill: #794ab0;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-17 {
                fill: #804fb9;

                &.shard--shimmer {
                    @include animation( shimmer-cls-17 2s linear forwards );

                    @keyframes shimmer-cls-17 {
                        0% {
                            fill: #804fb9;
                        }

                        35% {
                            fill: #8f5ec8;
                        }

                        100% {
                            fill: #804fb9;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-18 {
                fill: #6a419a;

                &.shard--shimmer {
                    @include animation( shimmer-cls-18 2s linear forwards );

                    @keyframes shimmer-cls-18 {
                        0% {
                            fill: #6a419a;
                        }

                        35% {
                            fill: #7950a9;
                        }

                        100% {
                            fill: #6a419a;
                        }
                    }
                }
            }

            .AnimateToOriginalComplete.cls-19 {
                fill: #6f43a1;

                &.shard--shimmer {
                    @include animation( shimmer-cls-19 2s linear forwards );

                    @keyframes shimmer-cls-19 {
                        0% {
                            fill: #6f43a1
                        }

                        35% {
                            fill: #7a4ead;
                        }

                        100% {
                            fill: #6f43a1;
                        }
                    }
                }
            }
        }
    }
}

.about_bomb-btn--msLogo {
    left: -180px;
}