@import '../Atoms/_colors';
@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';
@import '../Molecules/_msLogoPoly';
@import '../Molecules/_babyYodaPoly';
@import '../Molecules/_dogPoly';

.about {
    .work-IndicatorContainer {
        bottom: 100px;
    }
}

.about-text {
    text-align: left;
}

.anim-up {
    display: inline-block;

    @include transform(translateY(-3em));
}

.about-profile-pic {
    height: 360px;
    overflow: hidden;
}

.about-profile-pic--motionAnim {
    img {
        @include transform(scale(1));
        @include animation( imgMotion 10s ease-in-out forwards );
    }

    @keyframes imgMotion {
        0% {
            filter: grayscale(50%);
            @include transform(scale(1) translateY(0px));
        }

        100% {
            filter: grayscale(0%);
            @include transform(scale(1.05) translateY(20px));
        }
    }
}

.about-me {
    padding: 3em;

    .header-main {
        flex: 0 0 2em;
    }

    &__content {
        flex: 1;
        text-align: left;
    }

    .about-text {
        max-width: 460px;
        position: absolute;
        right: -20px;
        top: 25%;
    }

    .about-me__content {
        padding-right: 10em;
        position: relative;
    }
}

$frameDuration: 0.8s;

.expand-container--selected .about-screen--selected {
    visibility: visible;
}

.about-screen {
    align-items: center;
    background-color: $color-background--lightGrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

    h1 {
        margin-bottom: 0.3em;
    }

    .about-screen__svg {
        min-width: 30%;
        position: relative;
    }

    .about-screen__splash {
        padding-left: 5em;
        text-align: center;

        @include transition(transform 0.2s linear);
        @include transform(translate(-27%, -4.5em));

        .header-main {
            margin-bottom: 2.2em;
            padding-left: 0px;
            width: 100%;

            @include transition(transform 0.2s linear);
            @include transform(translateX(50%));

            .about-screen_header, .about-screen_subHeader {
                display: block;
                float: left;

                @include transition(transform 0.2s linear);
                @include transform(translateX(-50%));
            }

            .about-screen_subHeader {
                color: $color-link--blue;
            }
        }

        .about-screen__desc {
            span {
                display: inline-block;
                opacity: 0;

                @include transform(rotate(5deg) translateY(1em));

                @for $i from 1 through 100 {
                    &:nth-child(#{$i}) {
                        $delay: ($i * 0.1s);

                        @include transition(opacity $frameDuration linear $delay, transform $frameDuration cubic-bezier(0, 0.55, 0.45, 1) $delay);
                    }
                }
            }
        }

        .about-screen__target {
            color: $color-font--primary;
            cursor: pointer;
            left: 50%;
            line-height: 1.5em;
            padding: 3em;
            position: absolute;

            @include transition(transform $frameDuration cubic-bezier(0.68, -0.6, 0.32, 1.6), scale $frameDuration cubic-bezier(0.36, 0, 0.66, -0.56), opacity $frameDuration linear );
            @include transform(translate(-50%, 0%));

            &::before {
                background-color: transparent;
                border: 1px solid $color-lineAccent--dark;
                border-radius: 50%;
                content: "";
                display: block;
                left: 50%;
                height: 150px;
                position: absolute;
                top: 50%;
                width: 150px;

                @include transition(background-color $frameDuration linear);
                @include transform(translate(-50%, -50%));
            }

            &:focus {
                outline: none;
            }

            .target-text {
                opacity: 1;

                @include transition(opacity $frameDuration linear);
            }
        }
    }

    &__img {
        display: block;
        overflow: visible;

        [class^="cls-"] {
            position: relative;

            @include transition(fill $frameDuration cubic-bezier(0, 0.55, 0.45, 1), transform $frameDuration linear);
        }

        [class^="cls-"]:nth-child(odd) {
            fill: rgba(217, 217, 217, 1);
        }

        [class^="cls-"]:nth-child(even) {
            fill: rgba(204, 204, 204, 1);
        }

        [class^="cls-"]:nth-child(odd).shard--shimmer {
            stroke: #595959;
            stroke-width: 1;
            stroke-opacity: 0.3;

            @include animation( shimmerLightOdd 2s linear forwards );

            @keyframes shimmerLightOdd {
                0% {
                    fill: rgba(217, 217, 217, 1);
                }

                35% {
                    fill: rgba(153, 153, 153, 1);
                }

                100% {
                    fill: rgba(217, 217, 217, 1);
                }
            }
        }

        [class^="cls-"]:nth-child(even).shard--shimmer {
            stroke: #595959;
            stroke-width: 1;
            stroke-opacity: 0.3;

            @include animation( shimmerLightEven 2s linear forwards );

            @keyframes shimmerLightEven {
                0% {
                    fill: rgba(204, 204, 204, 1);
                }

                35% {
                    fill: rgba(140, 140, 140, 1);
                }

                100% {
                    fill: rgba(204, 204, 204, 1);
                }
            }
        }
    }

    &__text {
        padding-left: 6em;
    }

    &__content {
        align-items: center;
        display: flex;
        max-width: 1050px;
        position: relative;
    }

    .about-bomb-btn {
        cursor: pointer;
        position: absolute;
        top: 50%;

        @include transform(translateY(-60%));

        .about_bombIcon {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            opacity: 0;
            z-index: 1;

            img {
                cursor: pointer;

                @include transform(rotate(45deg) scale(0.65) translate(-11px, -31px));

                @include transition(transform 0.3s cubic-bezier(0, 0.55, 0.45, 1));
            }

            p {
                margin-top: 75px;

                @include transform(rotate(90deg));
                @include transition(opacity 0.3s linear);
            }

            @include transition(opacity 0.5s linear);
            @include transform(scale(1));
        }

        .about_bombIcon--expanded {
            opacity: 0;
            position: relative;
            text-align: center;

            @include transform(scale(0.4) translateY(-375px));
            @include transition(transform 0.3s ease-out, opacity $frameDuration linear );

            &::before {
                background-color: transparent;
                border: 1px solid $color-lineAccent--dark;
                border-radius: 50%;
                content: "";
                display: block;
                left: 50%;
                height: 150px;
                position: absolute;
                top: 50%;
                width: 150px;

                @include transition(background-color $frameDuration linear);
                @include transform(translate(-50%, -50%));
            }
        }
    }

    .about-bomb-btn--expanded {
        .about_bombIcon {
            opacity: 0 !important;

            img {
                @include transform(rotate(45deg) scale(0.1) translate(-11px, -31px));
            }

            p {
                opacity: 0 !important;
            }
        }

        .about_bombIcon--expanded {
            opacity: 1;

            @include transform(scale(1) translateY(-65px));
        }
    }
}

.about-screen--darkTheme {
    background-color: $color-background--black;

    h1, p {
        color: $color-font--primaryOnDark;
    }

    .about-screen__splash {
        .about-screen__target {
            color: $color-font--primaryOnDark;

            &::before {
                border: 1px solid #FFF;
            }
        }
    }

    .about-screen__img {
        [class^="cls-"]:nth-child(odd) {
            fill: rgba(29, 29, 31, 1);
        }

        [class^="cls-"]:nth-child(even) {
            fill: rgba(33, 33, 33, 1);
        }

        [class^="cls-"]:nth-child(odd).shard--shimmer {
            stroke: white;
            stroke-width: 1;
            stroke-opacity: 0.3;

            @include animation( shimmerOdd 2s linear forwards );

            @keyframes shimmerOdd {
                0% {
                    fill: rgba(29, 29, 31, 1);
                }

                35% {
                    fill: rgba(43, 43, 46, 1);
                }

                100% {
                    fill: rgba(29, 29, 31, 1);
                }
            }
        }

        [class^="cls-"]:nth-child(even).shard--shimmer {
            stroke: white;
            stroke-width: 1;
            stroke-opacity: 0.3;

            @include animation( shimmerEven 2s linear forwards );

            @keyframes shimmerEven {
                0% {
                    fill: rgba(33, 33, 33, 1);
                }

                35% {
                    fill: rgba(47, 46, 46, 1);
                }

                100% {
                    fill: rgba(33, 33, 33, 1);
                }
            }
        }
    }
}

.about-screen--animState2 {
    .about-screen__splash {
        @include transform(translate(0%, 0%) !important);

        .header-main {
            @include transform(translateX(0%));

            .about-screen_header, .about-screen_subHeader {
                @include transform(translateX(0%));
            }
        }

        .about-screen__target {
            @include transform(translate(-325%, -65%));
        }
    }
}

.about-screen--animState3 {
    .about-screen__splash {
        .about-screen__target {
            @include transform(translate(-325%, -65%) scale(0.2));

            .target-text {
                opacity: 0;
            }

            &::before {
                background-color: #000;
                border-width: 5px;
            }

            .about-screen--darkTheme & {
                &::before {
                    border-color: #FFF;
                }
            }
        }
    }
}

.about-screen--animState4 {
    .about-screen__splash {
        .about-screen__target {
            opacity: 0;
        }
    }
}

.about-screen--animState5 {
    .about-bomb-btn {
        .about_bombIcon {
            opacity: 1;
        }
    }
}

.about-PageIndicatorContainer {
    display: none;
    position: absolute;
    right: 2.5em;
    top: 50%;
    width: 1em;

    @include transform(translateY(-50%));

    @extend %box-level--modular;

    @include breakpoint(max-width $breakpoint-phablet) {
        right: 1.8em;
    }
}

.about-PageIndicatorContainer--active {
    display: block;
}

.about-PageIndicatorContainer--light {
    .about-PageIndicator {
        border-color: #FFF;
    }

    .about-PageIndicator-tooltip {
        color: $color-font--primaryOnDark;
    }
}

.about-PageIndicator {
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 1em;
    margin-top: 0.5em;
    overflow: hidden;
    position: relative;
    width: 1em;

    @include transition(background-color 0.4s);

    &:hover {
        background-color: #6FB6E7;
        overflow: visible;

        .about-PageIndicator-tooltip {
            opacity: 1;

            @include transform(rotate(0deg) translateY(0px));
        }
    }
}

.about-PageIndicator-tooltip {
    color: $color-font--primary;
    display: block;
    left: -265px;
    opacity: 0;
    position: absolute;
    text-align: right;
    top: -3px;
    width: 250px;

    @include transition(transform 0.3s cubic-bezier(0.33, 1, 0.68, 1), opacity 0.3s linear);
    @include transform(rotate(-20deg) translateY(46px));
}

.about-PageIndicator--selected {
    background-color: #2294E5;

    &:hover {
        background-color: #2294E5;
    }
}