/*------------------------------------*    Accent Colors
\*------------------------------------*/
/*------------------------------------*    Dial Colors
\*------------------------------------*/
/*$color-dial--ring1: #d62d20;
$color-dial--ring2: #de9250;
$color-dial--ring3: #2294e5;*/
/*------------------------------------*    Background Colors
\*------------------------------------*/
/*------------------------------------*    Font Colors
\*------------------------------------*/
/*------------------------------------*    Links Colors
\*------------------------------------*/
/*$color-link: #337ab7;*/
/*------------------------------------*    Button Colors
\*------------------------------------*/
/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.about-PageIndicatorContainer {
  z-index: 4; }

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.about {
  background-color: #ebebeb;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  transition: background-color 1s; }
  .about .work-IndicatorContainer {
    bottom: 100px; }

.about--darkTheme {
  background-color: #262626; }
  .about--darkTheme h1, .about--darkTheme p {
    color: #FFF; }
  .about--darkTheme h1 {
    margin-bottom: 0.3em; }

.about-text {
  font-size: 22px;
  line-height: 29px; }

.about-me {
  padding: 3em; }
  .about-me .header-main {
    flex: 0 0 2em; }
  .about-me__content {
    flex: 1;
    text-align: left; }
  .about-me .about-text {
    max-width: 460px;
    position: absolute;
    right: -20px;
    top: 25%; }
  .about-me .about-me__content {
    padding-right: 10em;
    position: relative; }

.about-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; }
  .about-screen__img {
    display: block;
    overflow: visible; }
    .about-screen__img .cls-1 {
      fill: #b283ec; }
    .about-screen__img .cls-1, .about-screen__img .cls-10, .about-screen__img .cls-11, .about-screen__img .cls-12, .about-screen__img .cls-13, .about-screen__img .cls-14, .about-screen__img .cls-15, .about-screen__img .cls-16, .about-screen__img .cls-17, .about-screen__img .cls-18, .about-screen__img .cls-19, .about-screen__img .cls-2, .about-screen__img .cls-3, .about-screen__img .cls-4, .about-screen__img .cls-5, .about-screen__img .cls-6, .about-screen__img .cls-7, .about-screen__img .cls-8, .about-screen__img .cls-9 {
      fill-rule: evenodd; }
    .about-screen__img .cls-2 {
      fill: #ba96e7; }
    .about-screen__img .cls-3 {
      fill: #c19af0; }
    .about-screen__img .cls-4 {
      fill: #b988f3; }
    .about-screen__img .cls-5 {
      fill: #ad7ce6; }
    .about-screen__img .cls-6 {
      fill: #a676de; }
    .about-screen__img .cls-7 {
      fill: #b483ef; }
    .about-screen__img .cls-8 {
      fill: #9467c7; }
    .about-screen__img .cls-9 {
      fill: #a171d9; }
    .about-screen__img .cls-10 {
      fill: #a978e2; }
    .about-screen__img .cls-11 {
      fill: #9869ce; }
    .about-screen__img .cls-12 {
      fill: #b282ea; }
    .about-screen__img .cls-13 {
      fill: #b885f2; }
    .about-screen__img .cls-14 {
      fill: #45206b; }
    .about-screen__img .cls-15 {
      fill: #4c2676; }
    .about-screen__img .cls-16 {
      fill: #794ab0; }
    .about-screen__img .cls-17 {
      fill: #804fb9; }
    .about-screen__img .cls-18 {
      fill: #6a419a; }
    .about-screen__img .cls-19 {
      fill: #6f43a1; }
  .about-screen__text {
    padding-left: 6em; }
  .about-screen__content {
    display: flex;
    max-width: 900px; }

.about-PageIndicatorContainer {
  display: none;
  position: absolute;
  right: 2.5em;
  top: 3.8em;
  width: 1em; }
  @media (max-width: 600px) {
    .about-PageIndicatorContainer {
      right: 1.8em; } }

.about-PageIndicatorContainer--active {
  display: block; }

.about-PageIndicatorContainer--light .about-PageIndicator {
  border-color: #FFF; }

.about-PageIndicator {
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 1em;
  margin-top: 0.5em;
  width: 1em;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s; }
  .about-PageIndicator:hover {
    background-color: #6FB6E7; }

.about-PageIndicator--selected {
  background-color: #2294E5; }
  .about-PageIndicator--selected:hover {
    background-color: #2294E5; }
