@import '../Atoms/_colors';
@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.about {
    .work-IndicatorContainer {
        bottom: 100px;
    }
}

.about-text {
    text-align: left;
}

.anim-up {
    display: inline-block;

    @include transform(translateY(-3em));
}

.about-profile-pic {
    height: 360px;
    overflow: hidden;
}

.about-profile-pic--motionAnim {
    img {
        @include transform(scale(1));
        @include animation( imgMotion 10s ease-in-out forwards );
    }

    @keyframes imgMotion {
        0% {
            filter: grayscale(50%);
            @include transform(scale(1) translateY(0px));
        }

        100% {
            filter: grayscale(0%);
            @include transform(scale(1.05) translateY(20px));
        }
    }
}

.about-me {
    padding: 3em;

    .header-main {
        flex: 0 0 2em;
    }

    &__content {
        flex: 1;
        text-align: left;
    }

    .about-text {
        max-width: 460px;
        position: absolute;
        right: -20px;
        top: 25%;
    }

    .about-me__content {
        padding-right: 10em;
        position: relative;
    }
}

$frameDuration: 0.8s;

.expand-container--selected .about-screen--selected {
    visibility: visible;
}

.about-screen {
    align-items: center;
    background-color: $color-background--lightGrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

    h1 {
        margin-bottom: 0.3em;
    }

    .about-screen__svg {
        min-width: 30%;
    }

    .about-screen__splash {
        padding-left: 5em;
        text-align: center;

        @include transition(transform $frameDuration linear);
        @include transform(translateX(-27%));

        .header-main {
            margin-bottom: 2.2em;
            padding-left: 0px;
            width: 100%;

            @include transition(transform 0.3s linear);
            @include transform(translateX(50%));

            .about-screen_header, .about-screen_subHeader {
                display: block;
                float: left;

                @include transition(transform 0.3s linear);
                @include transform(translateX(-50%));
            }

            .about-screen_subHeader {
                color: $color-link--blue;
            }
        }

        .about-screen__desc {
            span {
                display: inline-block;
                opacity: 0;

                @include transform(rotate(5deg) translateY(1em));

                @for $i from 1 through 100 {
                    &:nth-child(#{$i}) {
                        $delay: ($i * 0.1s);

                        @include transition(opacity $frameDuration linear $delay, transform $frameDuration cubic-bezier(0, 0.55, 0.45, 1) $delay);
                    }
                }
            }
        }

        .about-screen__target {
            color: $color-font--primaryOnDark;
            cursor: pointer;
            line-height: 1.5em;
            padding: 3em;
            position: relative;

            @include transition( transform $frameDuration cubic-bezier(0.68, -0.6, 0.32, 1.6), scale $frameDuration cubic-bezier(0.36, 0, 0.66, -0.56), opacity $frameDuration linear );
            @include transform(translate(0%, 0%));

            &::before {
                background-color: transparent;
                border: 1px solid #FFF;
                border-radius: 50%;
                content: "";
                display: block;
                left: 50%;
                height: 150px;
                position: absolute;
                top: 50%;
                width: 150px;

                @include transition(background-color $frameDuration linear);
                @include transform(translate(-50%, -50%));
            }

            &:focus {
                outline: none;
            }

            .target-text {
                opacity: 1;

                @include transition(opacity $frameDuration linear);
            }
        }
    }

    &__img {
        display: block;
        overflow: visible;

        [class^="cls-"] {
            position: relative;

            @include transition(fill $frameDuration cubic-bezier(0, 0.55, 0.45, 1), transform $frameDuration linear);
        }

        [class^="cls-"]:nth-child(odd) {
            fill: #111113;
            fill: rgba(17, 17, 19, 1);
        }

        [class^="cls-"]:nth-child(even) {
            fill: #18181a;
            fill: rgba(24, 24, 26, 1);
        }

        [class^="cls-"]:nth-child(odd).shard--shimmer {
            stroke: white;
            stroke-width: 1;
            stroke-opacity: 0.3;

            @include animation( shimmerOdd 2s linear forwards );

            @keyframes shimmerOdd {
                0% {
                    fill: rgba(17, 17, 19, 1);
                }

                35% {
                    fill: rgba(29, 29, 32, 1);
                }

                100% {
                    fill: rgba(17, 17, 19, 1);
                }
            }
        }

        [class^="cls-"]:nth-child(even).shard--shimmer {
            stroke: white;
            stroke-width: 1;
            stroke-opacity: 0.3;

            @include animation( shimmerEven 2s linear forwards );

            @keyframes shimmerEven {
                0% {
                    fill: rgba(24, 24, 26, 1);
                }

                35% {
                    fill: rgba(38, 38, 41, 1);
                }

                100% {
                    fill: rgba(24, 24, 26, 1);
                }
            }
        }
    }

    &__img-certification {
        display: block;
        overflow: visible;

        .AnimateToOriginalComplete.cls-1 {
            fill: #b283ec;

            &.shard--shimmer {
                @include animation( shimmer-cls-1 2s linear forwards );

                @keyframes shimmer-cls-1 {
                    0% {
                        fill: #b283ec;
                    }

                    35% {
                        fill: #bd93ef;
                    }

                    100% {
                        fill: #b283ec;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-2 {
            fill: #ba96e7;

            &.shard--shimmer {
                @include animation( shimmer-cls-2 2s linear forwards );

                @keyframes shimmer-cls-2 {
                    0% {
                        fill: #ba96e7;
                    }

                    35% {
                        fill: #c4a4eb;
                    }

                    100% {
                        fill: #ba96e7;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-3 {
            fill: #c19af0;

            &.shard--shimmer {
                @include animation( shimmer-cls-3 2s linear forwards );

                @keyframes shimmer-cls-3 {
                    0% {
                        fill: #c19af0;
                    }

                    35% {
                        fill: #caa7f2;
                    }

                    100% {
                        fill: #c19af0;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-4 {
            fill: #b988f3;

            &.shard--shimmer {
                @include animation( shimmer-cls-4 2s linear forwards );

                @keyframes shimmer-cls-4 {
                    0% {
                        fill: #b988f3;
                    }

                    35% {
                        fill: #c397f5;
                    }

                    100% {
                        fill: #b988f3;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-5 {
            fill: #ad7ce6;

            &.shard--shimmer {
                @include animation( shimmer-cls-5 2s linear forwards );

                @keyframes shimmer-cls-5 {
                    0% {
                        fill: #ad7ce6;
                    }

                    35% {
                        fill: #b88cea;
                    }

                    100% {
                        fill: #ad7ce6;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-6 {
            fill: #a676de;

            &.shard--shimmer {
                @include animation( shimmer-cls-6 2s linear forwards );

                @keyframes shimmer-cls-6 {
                    0% {
                        fill: #a676de;
                    }

                    35% {
                        fill: #b287e3;
                    }

                    100% {
                        fill: #a676de;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-7 {
            fill: #b483ef;

            &.shard--shimmer {
                @include animation( shimmer-cls-7 2s linear forwards );

                @keyframes shimmer-cls-7 {
                    0% {
                        fill: #b483ef;
                    }

                    35% {
                        fill: #be93f1;
                    }

                    100% {
                        fill: #b483ef;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-8 {
            fill: #9467c7;

            &.shard--shimmer {
                @include animation( shimmer-cls-8 2s linear forwards );

                @keyframes shimmer-cls-8 {
                    0% {
                        fill: #9467c7;
                    }

                    35% {
                        fill: #a279cf;
                    }

                    100% {
                        fill: #9467c7;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-9 {
            fill: #a171d9;

            &.shard--shimmer {
                @include animation( shimmer-cls-9 2s linear forwards );

                @keyframes shimmer-cls-9 {
                    0% {
                        fill: #a171d9;
                    }

                    35% {
                        fill: #ae82de;
                    }

                    100% {
                        fill: #a171d9;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-10 {
            fill: #a978e2;

            &.shard--shimmer {
                @include animation( shimmer-cls-10 2s linear forwards );

                @keyframes shimmer-cls-10 {
                    0% {
                        fill: #a978e2;
                    }

                    35% {
                        fill: #b589e6;
                    }

                    100% {
                        fill: #a978e2;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-11 {
            fill: #9869ce;

            &.shard--shimmer {
                @include animation( shimmer-cls-11 2s linear forwards );

                @keyframes shimmer-cls-11 {
                    0% {
                        fill: #9869ce;
                    }

                    35% {
                        fill: #a67bd5;
                    }

                    100% {
                        fill: #9869ce;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-12 {
            fill: #b282ea;

            &.shard--shimmer {
                @include animation( shimmer-cls-12 2s linear forwards );

                @keyframes shimmer-cls-12 {
                    0% {
                        fill: #b282ea;
                    }

                    35% {
                        fill: #bd92ed;
                    }

                    100% {
                        fill: #b282ea;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-13 {
            fill: #b885f2;

            &.shard--shimmer {
                @include animation( shimmer-cls-13 2s linear forwards );

                @keyframes shimmer-cls-13 {
                    0% {
                        fill: #b885f2;
                    }

                    35% {
                        fill: #c294f4;
                    }

                    100% {
                        fill: #b885f2;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-14 {
            fill: #45206b;

            &.shard--shimmer {
                @include animation( shimmer-cls-14 2s linear forwards );

                @keyframes shimmer-cls-14 {
                    0% {
                        fill: #45206b;
                    }

                    35% {
                        fill: #58317d;
                    }

                    100% {
                        fill: #45206b;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-15 {
            fill: #4c2676;

            &.shard--shimmer {
                @include animation( shimmer-cls-15 2s linear forwards );

                @keyframes shimmer-cls-15 {
                    0% {
                        fill: #4c2676;
                    }

                    35% {
                        fill: #5f3887;
                    }

                    100% {
                        fill: #4c2676;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-16 {
            fill: #794ab0;

            &.shard--shimmer {
                @include animation( shimmer-cls-16 2s linear forwards );

                @keyframes shimmer-cls-16 {
                    0% {
                        fill: #794ab0;
                    }

                    35% {
                        fill: #8a5dbb;
                    }

                    100% {
                        fill: #794ab0;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-17 {
            fill: #804fb9;

            &.shard--shimmer {
                @include animation( shimmer-cls-17 2s linear forwards );

                @keyframes shimmer-cls-17 {
                    0% {
                        fill: #804fb9;
                    }

                    35% {
                        fill: #9062c3;
                    }

                    100% {
                        fill: #804fb9;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-18 {
            fill: #6a419a;

            &.shard--shimmer {
                @include animation( shimmer-cls-18 2s linear forwards );

                @keyframes shimmer-cls-18 {
                    0% {
                        fill: #6a419a;
                    }

                    35% {
                        fill: #7c54a7;
                    }

                    100% {
                        fill: #6a419a;
                    }
                }
            }
        }

        .AnimateToOriginalComplete.cls-19 {
            fill: #6f43a1;

            &.shard--shimmer {
                @include animation( shimmer-cls-19 2s linear forwards );

                @keyframes shimmer-cls-19 {
                    0% {
                        fill: #6f43a1
                    }

                    35% {
                        fill: #7c54a7;
                    }

                    100% {
                        fill: #6f43a1;
                    }
                }
            }
        }
    }

    &__text {
        padding-left: 6em;
    }

    &__content {
        display: flex;
        max-width: 1050px;
    }
}

.about-screen--darkTheme {
    background-color: $color-background--black;

    h1, p {
        color: #FFF;
    }
}

.about-screen--animState2 {
    .about-screen__splash {
        @include transform(translate(0%, 0%));

        .header-main {
            @include transform(translateX(0%));

            .about-screen_header, .about-screen_subHeader {
                @include transform(translateX(0%));
            }
        }

        .about-screen__target {
            @include transform(translate(-325%, -65%));
        }
    }
}

.about-screen--animState3 {
    .about-screen__splash {
        .about-screen__target {
            @include transform(translate(-325%, -65%) scale(0.3));

            .target-text {
                opacity: 0;
            }

            &::before {
                background-color: #000;
                border-width: 5px;
            }
        }
    }
}

.about-screen--animState4 {
    .about-screen__splash {
        .about-screen__target {
            opacity: 0;
        }
    }
}

.about-screen--animState5 {
    .about-screen__splash {
        .about-screen__desc {
            span {
                opacity: 1;

                @include transform(rotate(0deg) translateY(0em));
            }
        }
    }
}

.about-PageIndicatorContainer {
    display: none;
    position: absolute;
    right: 2.5em;
    top: 3.8em;
    width: 1em;

    @extend %box-level--modular;

    @include breakpoint(max-width $breakpoint-phablet) {
        right: 1.8em;
    }
}

.about-PageIndicatorContainer--active {
    display: block;
}

.about-PageIndicatorContainer--light {
    .about-PageIndicator {
        border-color: #FFF;
    }
}

.about-PageIndicator {
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 1em;
    margin-top: 0.5em;
    width: 1em;

    @include transition(background-color 0.4s);

    &:hover {
        background-color: #6FB6E7;
    }
}

.about-PageIndicator--selected {
    background-color: #2294E5;

    &:hover {
        background-color: #2294E5;
    }
}