/*------------------------------------*    Accent Colors
\*------------------------------------*/
/*------------------------------------*    Dial Colors
\*------------------------------------*/
/*$color-dial--ring1: #d62d20;
$color-dial--ring2: #de9250;
$color-dial--ring3: #2294e5;*/
/*------------------------------------*    Background Colors
\*------------------------------------*/
/*------------------------------------*    Font Colors
\*------------------------------------*/
/*------------------------------------*    Links Colors
\*------------------------------------*/
/*$color-link: #337ab7;*/
/*------------------------------------*    Button Colors
\*------------------------------------*/
/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.about-PageIndicatorContainer {
  z-index: 4; }

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.about .work-IndicatorContainer {
  bottom: 100px; }

.about-text {
  font-size: 22px;
  line-height: 29px; }

.about-me {
  padding: 3em; }
  .about-me .header-main {
    flex: 0 0 2em; }
  .about-me__content {
    flex: 1;
    text-align: left; }
  .about-me .about-text {
    max-width: 460px;
    position: absolute;
    right: -20px;
    top: 25%; }
  .about-me .about-me__content {
    padding-right: 10em;
    position: relative; }

.about-screen {
  align-items: center;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%; }
  .about-screen h1 {
    margin-bottom: 0.3em; }
  .about-screen .about-screen__svg {
    width: 50%; }
  .about-screen .about-screen__splash {
    padding-left: 5em;
    text-align: center;
    -moz-transition: transform 0.8s linear;
    -o-transition: transform 0.8s linear;
    -webkit-transition: transform 0.8s linear;
    transition: transform 0.8s linear;
    -moz-transform: translateX(-32%);
    -ms-transform: translateX(-32%);
    -o-transform: translateX(-32%);
    -webkit-transform: translateX(-32%);
    transform: translateX(-32%); }
    .about-screen .about-screen__splash .header-main {
      margin-bottom: 2.2em;
      padding-left: 0px;
      width: 100%;
      -moz-transition: transform 0.8s linear;
      -o-transition: transform 0.8s linear;
      -webkit-transition: transform 0.8s linear;
      transition: transform 0.8s linear;
      -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
      -o-transform: translateX(50%);
      -webkit-transform: translateX(50%);
      transform: translateX(50%); }
      .about-screen .about-screen__splash .header-main span {
        display: block;
        float: left;
        -moz-transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
        -o-transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
        -webkit-transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
        transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
      .about-screen .about-screen__splash .header-main .about-screen_subHeader {
        color: #2294e5; }
    .about-screen .about-screen__splash .about-screen__desc {
      opacity: 0;
      -moz-transition: opacity 0.8s linear, transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
      -o-transition: opacity 0.8s linear, transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
      -webkit-transition: opacity 0.8s linear, transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
      transition: opacity 0.8s linear, transform 0.8s cubic-bezier(0, 0.55, 0.45, 1);
      -moz-transform: translateY(4em) rotate(5deg);
      -ms-transform: translateY(4em) rotate(5deg);
      -o-transform: translateY(4em) rotate(5deg);
      -webkit-transform: translateY(4em) rotate(5deg);
      transform: translateY(4em) rotate(5deg); }
    .about-screen .about-screen__splash .about-screen__target {
      color: #FFF;
      cursor: pointer;
      line-height: 1.5em;
      padding: 3em;
      position: relative;
      -moz-transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6), scale 0.8s cubic-bezier(0.36, 0, 0.66, -0.56), opacity 0.8s linear;
      -o-transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6), scale 0.8s cubic-bezier(0.36, 0, 0.66, -0.56), opacity 0.8s linear;
      -webkit-transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6), scale 0.8s cubic-bezier(0.36, 0, 0.66, -0.56), opacity 0.8s linear;
      transition: transform 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6), scale 0.8s cubic-bezier(0.36, 0, 0.66, -0.56), opacity 0.8s linear;
      -moz-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%); }
      .about-screen .about-screen__splash .about-screen__target::before {
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 50%;
        content: "";
        display: block;
        left: 50%;
        height: 150px;
        position: absolute;
        top: 50%;
        width: 150px;
        -moz-transition: background-color 0.8s linear;
        -o-transition: background-color 0.8s linear;
        -webkit-transition: background-color 0.8s linear;
        transition: background-color 0.8s linear;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .about-screen .about-screen__splash .about-screen__target:focus {
        outline: none; }
      .about-screen .about-screen__splash .about-screen__target .target-text {
        opacity: 1;
        -moz-transition: opacity 0.8s linear;
        -o-transition: opacity 0.8s linear;
        -webkit-transition: opacity 0.8s linear;
        transition: opacity 0.8s linear; }
  .about-screen__img {
    display: block;
    overflow: visible; }
    .about-screen__img [class^="cls-"] {
      position: relative;
      -moz-transition: fill 0.8s cubic-bezier(0, 0.55, 0.45, 1), transform 0.8s linear;
      -o-transition: fill 0.8s cubic-bezier(0, 0.55, 0.45, 1), transform 0.8s linear;
      -webkit-transition: fill 0.8s cubic-bezier(0, 0.55, 0.45, 1), transform 0.8s linear;
      transition: fill 0.8s cubic-bezier(0, 0.55, 0.45, 1), transform 0.8s linear; }
    .about-screen__img [class^="cls-"]:nth-child(odd) {
      fill: #111113;
      fill: #111113; }
    .about-screen__img [class^="cls-"]:nth-child(even) {
      fill: #18181a;
      fill: #18181a; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(1) {
    -moz-animation: shimmerOdd 0.8s 1s forwards;
    -o-animation: shimmerOdd 0.8s 1s forwards;
    -webkit-animation: shimmerOdd 0.8s 1s forwards;
    animation: shimmerOdd 0.8s 1s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(2) {
    -moz-animation: shimmerEven 0.8s 2s forwards;
    -o-animation: shimmerEven 0.8s 2s forwards;
    -webkit-animation: shimmerEven 0.8s 2s forwards;
    animation: shimmerEven 0.8s 2s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(3) {
    -moz-animation: shimmerOdd 0.8s 3s forwards;
    -o-animation: shimmerOdd 0.8s 3s forwards;
    -webkit-animation: shimmerOdd 0.8s 3s forwards;
    animation: shimmerOdd 0.8s 3s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(4) {
    -moz-animation: shimmerEven 0.8s 4s forwards;
    -o-animation: shimmerEven 0.8s 4s forwards;
    -webkit-animation: shimmerEven 0.8s 4s forwards;
    animation: shimmerEven 0.8s 4s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(5) {
    -moz-animation: shimmerOdd 0.8s 5s forwards;
    -o-animation: shimmerOdd 0.8s 5s forwards;
    -webkit-animation: shimmerOdd 0.8s 5s forwards;
    animation: shimmerOdd 0.8s 5s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(6) {
    -moz-animation: shimmerEven 0.8s 6s forwards;
    -o-animation: shimmerEven 0.8s 6s forwards;
    -webkit-animation: shimmerEven 0.8s 6s forwards;
    animation: shimmerEven 0.8s 6s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(7) {
    -moz-animation: shimmerOdd 0.8s 7s forwards;
    -o-animation: shimmerOdd 0.8s 7s forwards;
    -webkit-animation: shimmerOdd 0.8s 7s forwards;
    animation: shimmerOdd 0.8s 7s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(8) {
    -moz-animation: shimmerEven 0.8s 8s forwards;
    -o-animation: shimmerEven 0.8s 8s forwards;
    -webkit-animation: shimmerEven 0.8s 8s forwards;
    animation: shimmerEven 0.8s 8s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(9) {
    -moz-animation: shimmerOdd 0.8s 9s forwards;
    -o-animation: shimmerOdd 0.8s 9s forwards;
    -webkit-animation: shimmerOdd 0.8s 9s forwards;
    animation: shimmerOdd 0.8s 9s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(10) {
    -moz-animation: shimmerEven 0.8s 10s forwards;
    -o-animation: shimmerEven 0.8s 10s forwards;
    -webkit-animation: shimmerEven 0.8s 10s forwards;
    animation: shimmerEven 0.8s 10s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(11) {
    -moz-animation: shimmerOdd 0.8s 11s forwards;
    -o-animation: shimmerOdd 0.8s 11s forwards;
    -webkit-animation: shimmerOdd 0.8s 11s forwards;
    animation: shimmerOdd 0.8s 11s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(12) {
    -moz-animation: shimmerEven 0.8s 12s forwards;
    -o-animation: shimmerEven 0.8s 12s forwards;
    -webkit-animation: shimmerEven 0.8s 12s forwards;
    animation: shimmerEven 0.8s 12s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(13) {
    -moz-animation: shimmerOdd 0.8s 13s forwards;
    -o-animation: shimmerOdd 0.8s 13s forwards;
    -webkit-animation: shimmerOdd 0.8s 13s forwards;
    animation: shimmerOdd 0.8s 13s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(14) {
    -moz-animation: shimmerEven 0.8s 14s forwards;
    -o-animation: shimmerEven 0.8s 14s forwards;
    -webkit-animation: shimmerEven 0.8s 14s forwards;
    animation: shimmerEven 0.8s 14s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(15) {
    -moz-animation: shimmerOdd 0.8s 15s forwards;
    -o-animation: shimmerOdd 0.8s 15s forwards;
    -webkit-animation: shimmerOdd 0.8s 15s forwards;
    animation: shimmerOdd 0.8s 15s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(16) {
    -moz-animation: shimmerEven 0.8s 16s forwards;
    -o-animation: shimmerEven 0.8s 16s forwards;
    -webkit-animation: shimmerEven 0.8s 16s forwards;
    animation: shimmerEven 0.8s 16s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(17) {
    -moz-animation: shimmerOdd 0.8s 17s forwards;
    -o-animation: shimmerOdd 0.8s 17s forwards;
    -webkit-animation: shimmerOdd 0.8s 17s forwards;
    animation: shimmerOdd 0.8s 17s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(18) {
    -moz-animation: shimmerEven 0.8s 18s forwards;
    -o-animation: shimmerEven 0.8s 18s forwards;
    -webkit-animation: shimmerEven 0.8s 18s forwards;
    animation: shimmerEven 0.8s 18s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(19) {
    -moz-animation: shimmerOdd 0.8s 19s forwards;
    -o-animation: shimmerOdd 0.8s 19s forwards;
    -webkit-animation: shimmerOdd 0.8s 19s forwards;
    animation: shimmerOdd 0.8s 19s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(20) {
    -moz-animation: shimmerEven 0.8s 20s forwards;
    -o-animation: shimmerEven 0.8s 20s forwards;
    -webkit-animation: shimmerEven 0.8s 20s forwards;
    animation: shimmerEven 0.8s 20s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(21) {
    -moz-animation: shimmerOdd 0.8s 21s forwards;
    -o-animation: shimmerOdd 0.8s 21s forwards;
    -webkit-animation: shimmerOdd 0.8s 21s forwards;
    animation: shimmerOdd 0.8s 21s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(22) {
    -moz-animation: shimmerEven 0.8s 22s forwards;
    -o-animation: shimmerEven 0.8s 22s forwards;
    -webkit-animation: shimmerEven 0.8s 22s forwards;
    animation: shimmerEven 0.8s 22s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(23) {
    -moz-animation: shimmerOdd 0.8s 23s forwards;
    -o-animation: shimmerOdd 0.8s 23s forwards;
    -webkit-animation: shimmerOdd 0.8s 23s forwards;
    animation: shimmerOdd 0.8s 23s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(24) {
    -moz-animation: shimmerEven 0.8s 24s forwards;
    -o-animation: shimmerEven 0.8s 24s forwards;
    -webkit-animation: shimmerEven 0.8s 24s forwards;
    animation: shimmerEven 0.8s 24s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(25) {
    -moz-animation: shimmerOdd 0.8s 25s forwards;
    -o-animation: shimmerOdd 0.8s 25s forwards;
    -webkit-animation: shimmerOdd 0.8s 25s forwards;
    animation: shimmerOdd 0.8s 25s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(26) {
    -moz-animation: shimmerEven 0.8s 26s forwards;
    -o-animation: shimmerEven 0.8s 26s forwards;
    -webkit-animation: shimmerEven 0.8s 26s forwards;
    animation: shimmerEven 0.8s 26s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(27) {
    -moz-animation: shimmerOdd 0.8s 27s forwards;
    -o-animation: shimmerOdd 0.8s 27s forwards;
    -webkit-animation: shimmerOdd 0.8s 27s forwards;
    animation: shimmerOdd 0.8s 27s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(28) {
    -moz-animation: shimmerEven 0.8s 28s forwards;
    -o-animation: shimmerEven 0.8s 28s forwards;
    -webkit-animation: shimmerEven 0.8s 28s forwards;
    animation: shimmerEven 0.8s 28s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(29) {
    -moz-animation: shimmerOdd 0.8s 29s forwards;
    -o-animation: shimmerOdd 0.8s 29s forwards;
    -webkit-animation: shimmerOdd 0.8s 29s forwards;
    animation: shimmerOdd 0.8s 29s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(30) {
    -moz-animation: shimmerEven 0.8s 30s forwards;
    -o-animation: shimmerEven 0.8s 30s forwards;
    -webkit-animation: shimmerEven 0.8s 30s forwards;
    animation: shimmerEven 0.8s 30s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(31) {
    -moz-animation: shimmerOdd 0.8s 31s forwards;
    -o-animation: shimmerOdd 0.8s 31s forwards;
    -webkit-animation: shimmerOdd 0.8s 31s forwards;
    animation: shimmerOdd 0.8s 31s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(32) {
    -moz-animation: shimmerEven 0.8s 32s forwards;
    -o-animation: shimmerEven 0.8s 32s forwards;
    -webkit-animation: shimmerEven 0.8s 32s forwards;
    animation: shimmerEven 0.8s 32s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(33) {
    -moz-animation: shimmerOdd 0.8s 33s forwards;
    -o-animation: shimmerOdd 0.8s 33s forwards;
    -webkit-animation: shimmerOdd 0.8s 33s forwards;
    animation: shimmerOdd 0.8s 33s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(34) {
    -moz-animation: shimmerEven 0.8s 34s forwards;
    -o-animation: shimmerEven 0.8s 34s forwards;
    -webkit-animation: shimmerEven 0.8s 34s forwards;
    animation: shimmerEven 0.8s 34s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(35) {
    -moz-animation: shimmerOdd 0.8s 35s forwards;
    -o-animation: shimmerOdd 0.8s 35s forwards;
    -webkit-animation: shimmerOdd 0.8s 35s forwards;
    animation: shimmerOdd 0.8s 35s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(36) {
    -moz-animation: shimmerEven 0.8s 36s forwards;
    -o-animation: shimmerEven 0.8s 36s forwards;
    -webkit-animation: shimmerEven 0.8s 36s forwards;
    animation: shimmerEven 0.8s 36s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(37) {
    -moz-animation: shimmerOdd 0.8s 37s forwards;
    -o-animation: shimmerOdd 0.8s 37s forwards;
    -webkit-animation: shimmerOdd 0.8s 37s forwards;
    animation: shimmerOdd 0.8s 37s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(38) {
    -moz-animation: shimmerEven 0.8s 38s forwards;
    -o-animation: shimmerEven 0.8s 38s forwards;
    -webkit-animation: shimmerEven 0.8s 38s forwards;
    animation: shimmerEven 0.8s 38s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(39) {
    -moz-animation: shimmerOdd 0.8s 39s forwards;
    -o-animation: shimmerOdd 0.8s 39s forwards;
    -webkit-animation: shimmerOdd 0.8s 39s forwards;
    animation: shimmerOdd 0.8s 39s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(40) {
    -moz-animation: shimmerEven 0.8s 40s forwards;
    -o-animation: shimmerEven 0.8s 40s forwards;
    -webkit-animation: shimmerEven 0.8s 40s forwards;
    animation: shimmerEven 0.8s 40s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(41) {
    -moz-animation: shimmerOdd 0.8s 41s forwards;
    -o-animation: shimmerOdd 0.8s 41s forwards;
    -webkit-animation: shimmerOdd 0.8s 41s forwards;
    animation: shimmerOdd 0.8s 41s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(42) {
    -moz-animation: shimmerEven 0.8s 42s forwards;
    -o-animation: shimmerEven 0.8s 42s forwards;
    -webkit-animation: shimmerEven 0.8s 42s forwards;
    animation: shimmerEven 0.8s 42s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(43) {
    -moz-animation: shimmerOdd 0.8s 43s forwards;
    -o-animation: shimmerOdd 0.8s 43s forwards;
    -webkit-animation: shimmerOdd 0.8s 43s forwards;
    animation: shimmerOdd 0.8s 43s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(44) {
    -moz-animation: shimmerEven 0.8s 44s forwards;
    -o-animation: shimmerEven 0.8s 44s forwards;
    -webkit-animation: shimmerEven 0.8s 44s forwards;
    animation: shimmerEven 0.8s 44s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(45) {
    -moz-animation: shimmerOdd 0.8s 45s forwards;
    -o-animation: shimmerOdd 0.8s 45s forwards;
    -webkit-animation: shimmerOdd 0.8s 45s forwards;
    animation: shimmerOdd 0.8s 45s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(46) {
    -moz-animation: shimmerEven 0.8s 46s forwards;
    -o-animation: shimmerEven 0.8s 46s forwards;
    -webkit-animation: shimmerEven 0.8s 46s forwards;
    animation: shimmerEven 0.8s 46s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(47) {
    -moz-animation: shimmerOdd 0.8s 47s forwards;
    -o-animation: shimmerOdd 0.8s 47s forwards;
    -webkit-animation: shimmerOdd 0.8s 47s forwards;
    animation: shimmerOdd 0.8s 47s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(48) {
    -moz-animation: shimmerEven 0.8s 48s forwards;
    -o-animation: shimmerEven 0.8s 48s forwards;
    -webkit-animation: shimmerEven 0.8s 48s forwards;
    animation: shimmerEven 0.8s 48s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(49) {
    -moz-animation: shimmerOdd 0.8s 49s forwards;
    -o-animation: shimmerOdd 0.8s 49s forwards;
    -webkit-animation: shimmerOdd 0.8s 49s forwards;
    animation: shimmerOdd 0.8s 49s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(50) {
    -moz-animation: shimmerEven 0.8s 50s forwards;
    -o-animation: shimmerEven 0.8s 50s forwards;
    -webkit-animation: shimmerEven 0.8s 50s forwards;
    animation: shimmerEven 0.8s 50s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(51) {
    -moz-animation: shimmerOdd 0.8s 51s forwards;
    -o-animation: shimmerOdd 0.8s 51s forwards;
    -webkit-animation: shimmerOdd 0.8s 51s forwards;
    animation: shimmerOdd 0.8s 51s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(52) {
    -moz-animation: shimmerEven 0.8s 52s forwards;
    -o-animation: shimmerEven 0.8s 52s forwards;
    -webkit-animation: shimmerEven 0.8s 52s forwards;
    animation: shimmerEven 0.8s 52s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(53) {
    -moz-animation: shimmerOdd 0.8s 53s forwards;
    -o-animation: shimmerOdd 0.8s 53s forwards;
    -webkit-animation: shimmerOdd 0.8s 53s forwards;
    animation: shimmerOdd 0.8s 53s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(54) {
    -moz-animation: shimmerEven 0.8s 54s forwards;
    -o-animation: shimmerEven 0.8s 54s forwards;
    -webkit-animation: shimmerEven 0.8s 54s forwards;
    animation: shimmerEven 0.8s 54s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(55) {
    -moz-animation: shimmerOdd 0.8s 55s forwards;
    -o-animation: shimmerOdd 0.8s 55s forwards;
    -webkit-animation: shimmerOdd 0.8s 55s forwards;
    animation: shimmerOdd 0.8s 55s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(56) {
    -moz-animation: shimmerEven 0.8s 56s forwards;
    -o-animation: shimmerEven 0.8s 56s forwards;
    -webkit-animation: shimmerEven 0.8s 56s forwards;
    animation: shimmerEven 0.8s 56s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(57) {
    -moz-animation: shimmerOdd 0.8s 57s forwards;
    -o-animation: shimmerOdd 0.8s 57s forwards;
    -webkit-animation: shimmerOdd 0.8s 57s forwards;
    animation: shimmerOdd 0.8s 57s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(58) {
    -moz-animation: shimmerEven 0.8s 58s forwards;
    -o-animation: shimmerEven 0.8s 58s forwards;
    -webkit-animation: shimmerEven 0.8s 58s forwards;
    animation: shimmerEven 0.8s 58s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(59) {
    -moz-animation: shimmerOdd 0.8s 59s forwards;
    -o-animation: shimmerOdd 0.8s 59s forwards;
    -webkit-animation: shimmerOdd 0.8s 59s forwards;
    animation: shimmerOdd 0.8s 59s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(60) {
    -moz-animation: shimmerEven 0.8s 60s forwards;
    -o-animation: shimmerEven 0.8s 60s forwards;
    -webkit-animation: shimmerEven 0.8s 60s forwards;
    animation: shimmerEven 0.8s 60s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(61) {
    -moz-animation: shimmerOdd 0.8s 61s forwards;
    -o-animation: shimmerOdd 0.8s 61s forwards;
    -webkit-animation: shimmerOdd 0.8s 61s forwards;
    animation: shimmerOdd 0.8s 61s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(62) {
    -moz-animation: shimmerEven 0.8s 62s forwards;
    -o-animation: shimmerEven 0.8s 62s forwards;
    -webkit-animation: shimmerEven 0.8s 62s forwards;
    animation: shimmerEven 0.8s 62s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(63) {
    -moz-animation: shimmerOdd 0.8s 63s forwards;
    -o-animation: shimmerOdd 0.8s 63s forwards;
    -webkit-animation: shimmerOdd 0.8s 63s forwards;
    animation: shimmerOdd 0.8s 63s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(64) {
    -moz-animation: shimmerEven 0.8s 64s forwards;
    -o-animation: shimmerEven 0.8s 64s forwards;
    -webkit-animation: shimmerEven 0.8s 64s forwards;
    animation: shimmerEven 0.8s 64s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(65) {
    -moz-animation: shimmerOdd 0.8s 65s forwards;
    -o-animation: shimmerOdd 0.8s 65s forwards;
    -webkit-animation: shimmerOdd 0.8s 65s forwards;
    animation: shimmerOdd 0.8s 65s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(66) {
    -moz-animation: shimmerEven 0.8s 66s forwards;
    -o-animation: shimmerEven 0.8s 66s forwards;
    -webkit-animation: shimmerEven 0.8s 66s forwards;
    animation: shimmerEven 0.8s 66s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(67) {
    -moz-animation: shimmerOdd 0.8s 67s forwards;
    -o-animation: shimmerOdd 0.8s 67s forwards;
    -webkit-animation: shimmerOdd 0.8s 67s forwards;
    animation: shimmerOdd 0.8s 67s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(68) {
    -moz-animation: shimmerEven 0.8s 68s forwards;
    -o-animation: shimmerEven 0.8s 68s forwards;
    -webkit-animation: shimmerEven 0.8s 68s forwards;
    animation: shimmerEven 0.8s 68s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(69) {
    -moz-animation: shimmerOdd 0.8s 69s forwards;
    -o-animation: shimmerOdd 0.8s 69s forwards;
    -webkit-animation: shimmerOdd 0.8s 69s forwards;
    animation: shimmerOdd 0.8s 69s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(70) {
    -moz-animation: shimmerEven 0.8s 70s forwards;
    -o-animation: shimmerEven 0.8s 70s forwards;
    -webkit-animation: shimmerEven 0.8s 70s forwards;
    animation: shimmerEven 0.8s 70s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(71) {
    -moz-animation: shimmerOdd 0.8s 71s forwards;
    -o-animation: shimmerOdd 0.8s 71s forwards;
    -webkit-animation: shimmerOdd 0.8s 71s forwards;
    animation: shimmerOdd 0.8s 71s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(72) {
    -moz-animation: shimmerEven 0.8s 72s forwards;
    -o-animation: shimmerEven 0.8s 72s forwards;
    -webkit-animation: shimmerEven 0.8s 72s forwards;
    animation: shimmerEven 0.8s 72s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(73) {
    -moz-animation: shimmerOdd 0.8s 73s forwards;
    -o-animation: shimmerOdd 0.8s 73s forwards;
    -webkit-animation: shimmerOdd 0.8s 73s forwards;
    animation: shimmerOdd 0.8s 73s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(74) {
    -moz-animation: shimmerEven 0.8s 74s forwards;
    -o-animation: shimmerEven 0.8s 74s forwards;
    -webkit-animation: shimmerEven 0.8s 74s forwards;
    animation: shimmerEven 0.8s 74s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(75) {
    -moz-animation: shimmerOdd 0.8s 75s forwards;
    -o-animation: shimmerOdd 0.8s 75s forwards;
    -webkit-animation: shimmerOdd 0.8s 75s forwards;
    animation: shimmerOdd 0.8s 75s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(76) {
    -moz-animation: shimmerEven 0.8s 76s forwards;
    -o-animation: shimmerEven 0.8s 76s forwards;
    -webkit-animation: shimmerEven 0.8s 76s forwards;
    animation: shimmerEven 0.8s 76s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(77) {
    -moz-animation: shimmerOdd 0.8s 77s forwards;
    -o-animation: shimmerOdd 0.8s 77s forwards;
    -webkit-animation: shimmerOdd 0.8s 77s forwards;
    animation: shimmerOdd 0.8s 77s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(78) {
    -moz-animation: shimmerEven 0.8s 78s forwards;
    -o-animation: shimmerEven 0.8s 78s forwards;
    -webkit-animation: shimmerEven 0.8s 78s forwards;
    animation: shimmerEven 0.8s 78s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(79) {
    -moz-animation: shimmerOdd 0.8s 79s forwards;
    -o-animation: shimmerOdd 0.8s 79s forwards;
    -webkit-animation: shimmerOdd 0.8s 79s forwards;
    animation: shimmerOdd 0.8s 79s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(80) {
    -moz-animation: shimmerEven 0.8s 80s forwards;
    -o-animation: shimmerEven 0.8s 80s forwards;
    -webkit-animation: shimmerEven 0.8s 80s forwards;
    animation: shimmerEven 0.8s 80s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(81) {
    -moz-animation: shimmerOdd 0.8s 81s forwards;
    -o-animation: shimmerOdd 0.8s 81s forwards;
    -webkit-animation: shimmerOdd 0.8s 81s forwards;
    animation: shimmerOdd 0.8s 81s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(82) {
    -moz-animation: shimmerEven 0.8s 82s forwards;
    -o-animation: shimmerEven 0.8s 82s forwards;
    -webkit-animation: shimmerEven 0.8s 82s forwards;
    animation: shimmerEven 0.8s 82s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(83) {
    -moz-animation: shimmerOdd 0.8s 83s forwards;
    -o-animation: shimmerOdd 0.8s 83s forwards;
    -webkit-animation: shimmerOdd 0.8s 83s forwards;
    animation: shimmerOdd 0.8s 83s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(84) {
    -moz-animation: shimmerEven 0.8s 84s forwards;
    -o-animation: shimmerEven 0.8s 84s forwards;
    -webkit-animation: shimmerEven 0.8s 84s forwards;
    animation: shimmerEven 0.8s 84s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(85) {
    -moz-animation: shimmerOdd 0.8s 85s forwards;
    -o-animation: shimmerOdd 0.8s 85s forwards;
    -webkit-animation: shimmerOdd 0.8s 85s forwards;
    animation: shimmerOdd 0.8s 85s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(86) {
    -moz-animation: shimmerEven 0.8s 86s forwards;
    -o-animation: shimmerEven 0.8s 86s forwards;
    -webkit-animation: shimmerEven 0.8s 86s forwards;
    animation: shimmerEven 0.8s 86s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(87) {
    -moz-animation: shimmerOdd 0.8s 87s forwards;
    -o-animation: shimmerOdd 0.8s 87s forwards;
    -webkit-animation: shimmerOdd 0.8s 87s forwards;
    animation: shimmerOdd 0.8s 87s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(88) {
    -moz-animation: shimmerEven 0.8s 88s forwards;
    -o-animation: shimmerEven 0.8s 88s forwards;
    -webkit-animation: shimmerEven 0.8s 88s forwards;
    animation: shimmerEven 0.8s 88s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(89) {
    -moz-animation: shimmerOdd 0.8s 89s forwards;
    -o-animation: shimmerOdd 0.8s 89s forwards;
    -webkit-animation: shimmerOdd 0.8s 89s forwards;
    animation: shimmerOdd 0.8s 89s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(90) {
    -moz-animation: shimmerEven 0.8s 90s forwards;
    -o-animation: shimmerEven 0.8s 90s forwards;
    -webkit-animation: shimmerEven 0.8s 90s forwards;
    animation: shimmerEven 0.8s 90s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(91) {
    -moz-animation: shimmerOdd 0.8s 91s forwards;
    -o-animation: shimmerOdd 0.8s 91s forwards;
    -webkit-animation: shimmerOdd 0.8s 91s forwards;
    animation: shimmerOdd 0.8s 91s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(92) {
    -moz-animation: shimmerEven 0.8s 92s forwards;
    -o-animation: shimmerEven 0.8s 92s forwards;
    -webkit-animation: shimmerEven 0.8s 92s forwards;
    animation: shimmerEven 0.8s 92s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(93) {
    -moz-animation: shimmerOdd 0.8s 93s forwards;
    -o-animation: shimmerOdd 0.8s 93s forwards;
    -webkit-animation: shimmerOdd 0.8s 93s forwards;
    animation: shimmerOdd 0.8s 93s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(94) {
    -moz-animation: shimmerEven 0.8s 94s forwards;
    -o-animation: shimmerEven 0.8s 94s forwards;
    -webkit-animation: shimmerEven 0.8s 94s forwards;
    animation: shimmerEven 0.8s 94s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(95) {
    -moz-animation: shimmerOdd 0.8s 95s forwards;
    -o-animation: shimmerOdd 0.8s 95s forwards;
    -webkit-animation: shimmerOdd 0.8s 95s forwards;
    animation: shimmerOdd 0.8s 95s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(96) {
    -moz-animation: shimmerEven 0.8s 96s forwards;
    -o-animation: shimmerEven 0.8s 96s forwards;
    -webkit-animation: shimmerEven 0.8s 96s forwards;
    animation: shimmerEven 0.8s 96s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(97) {
    -moz-animation: shimmerOdd 0.8s 97s forwards;
    -o-animation: shimmerOdd 0.8s 97s forwards;
    -webkit-animation: shimmerOdd 0.8s 97s forwards;
    animation: shimmerOdd 0.8s 97s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(98) {
    -moz-animation: shimmerEven 0.8s 98s forwards;
    -o-animation: shimmerEven 0.8s 98s forwards;
    -webkit-animation: shimmerEven 0.8s 98s forwards;
    animation: shimmerEven 0.8s 98s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(99) {
    -moz-animation: shimmerOdd 0.8s 99s forwards;
    -o-animation: shimmerOdd 0.8s 99s forwards;
    -webkit-animation: shimmerOdd 0.8s 99s forwards;
    animation: shimmerOdd 0.8s 99s forwards; }
  .about-screen__img--shimmer [class^="cls-"]:nth-child(100) {
    -moz-animation: shimmerEven 0.8s 100s forwards;
    -o-animation: shimmerEven 0.8s 100s forwards;
    -webkit-animation: shimmerEven 0.8s 100s forwards;
    animation: shimmerEven 0.8s 100s forwards; }

@keyframes shimmerOdd {
  0% {
    fill: #111113; }
  35% {
    fill: #1b1b1e; }
  100% {
    fill: #111113; } }

@keyframes shimmerEven {
  0% {
    fill: #18181a; }
  35% {
    fill: #1f1f22; }
  100% {
    fill: #18181a; } }
  .about-screen__img:not(.about-screen__img-certification) [class^="cls-"]:nth-child(odd) {
    -moz-animation: rotateCounterClockwise 50s linear infinite alternate;
    -o-animation: rotateCounterClockwise 50s linear infinite alternate;
    -webkit-animation: rotateCounterClockwise 50s linear infinite alternate;
    animation: rotateCounterClockwise 50s linear infinite alternate; }
  .about-screen__img:not(.about-screen__img-certification) [class^="cls-"]:nth-child(even) {
    -moz-animation: rotateClockwise 50s linear infinite alternate;
    -o-animation: rotateClockwise 50s linear infinite alternate;
    -webkit-animation: rotateClockwise 50s linear infinite alternate;
    animation: rotateClockwise 50s linear infinite alternate; }
  .about-screen__img:not(.about-screen__img-certification) [class^="cls-"]:nth-child(2n+0) {
    animation-delay: 1s; }
  .about-screen__img:not(.about-screen__img-certification) [class^="cls-"]:nth-child(3n+0) {
    animation-delay: 6s; }
  .about-screen__img:not(.about-screen__img-certification) [class^="cls-"]:nth-child(5n+0) {
    animation-delay: 12s; }
  .about-screen__img-certification {
    display: block;
    overflow: visible; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-1 {
      fill: #b283ec; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-2 {
      fill: #ba96e7; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-3 {
      fill: #c19af0; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-4 {
      fill: #b988f3; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-5 {
      fill: #ad7ce6; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-6 {
      fill: #a676de; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-7 {
      fill: #b483ef; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-8 {
      fill: #9467c7; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-9 {
      fill: #a171d9; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-10 {
      fill: #a978e2; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-11 {
      fill: #9869ce; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-12 {
      fill: #b282ea; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-13 {
      fill: #b885f2; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-14 {
      fill: #45206b; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-15 {
      fill: #4c2676; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-16 {
      fill: #794ab0; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-17 {
      fill: #804fb9; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-18 {
      fill: #6a419a; }
    .about-screen__img-certification .AnimateToOriginalComplete.cls-19 {
      fill: #6f43a1; }
  .about-screen__text {
    padding-left: 6em; }
  .about-screen__content {
    display: flex;
    max-width: 1050px; }

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg) translate(0px, 0px); }
  100% {
    transform: rotate(10deg) translate(100px, -100px); } }

@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg) translate(0px, 0px); }
  100% {
    transform: rotate(-10deg) translate(-100px, 100px); } }

.about-screen--darkTheme {
  background-color: #262626; }
  .about-screen--darkTheme h1, .about-screen--darkTheme p {
    color: #FFF; }

.about-screen--animState2 .about-screen__splash {
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }
  .about-screen--animState2 .about-screen__splash .header-main {
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
    .about-screen--animState2 .about-screen__splash .header-main span {
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
  .about-screen--animState2 .about-screen__splash .about-screen__target {
    -moz-transform: translate(-325%, -65%);
    -ms-transform: translate(-325%, -65%);
    -o-transform: translate(-325%, -65%);
    -webkit-transform: translate(-325%, -65%);
    transform: translate(-325%, -65%); }

.about-screen--animState3 .about-screen__img [class^="cls-"]:nth-child(odd) {
  -moz-animation: shake 0.5s linear infinite;
  -o-animation: shake 0.5s linear infinite;
  -webkit-animation: shake 0.5s linear infinite;
  animation: shake 0.5s linear infinite; }

.about-screen--animState3 .about-screen__img [class^="cls-"]:nth-child(even) {
  -moz-animation: shake 0.5s linear infinite reverse;
  -o-animation: shake 0.5s linear infinite reverse;
  -webkit-animation: shake 0.5s linear infinite reverse;
  animation: shake 0.5s linear infinite reverse; }

.about-screen--animState3 .about-screen__splash .about-screen__target {
  -moz-transform: translate(-325%, -65%) scale(0.3);
  -ms-transform: translate(-325%, -65%) scale(0.3);
  -o-transform: translate(-325%, -65%) scale(0.3);
  -webkit-transform: translate(-325%, -65%) scale(0.3);
  transform: translate(-325%, -65%) scale(0.3); }
  .about-screen--animState3 .about-screen__splash .about-screen__target .target-text {
    opacity: 0; }
  .about-screen--animState3 .about-screen__splash .about-screen__target::before {
    background-color: #000;
    border-width: 5px; }

@keyframes shake {
  0% {
    transform: translate(4px, 4px); }
  10% {
    transform: translate(-4px, -6px); }
  20% {
    transform: translate(-8px, 0px); }
  30% {
    transform: translate(8px, 6px); }
  40% {
    transform: translate(4px, -4px); }
  50% {
    transform: translate(-4px, 6px); }
  60% {
    transform: translate(-8px, 4px); }
  70% {
    transform: translate(8px, 4px); }
  80% {
    transform: translate(-4px, -4px); }
  90% {
    transform: translate(4px, 6px); }
  100% {
    transform: translate(4px, -6px); } }

.about-screen--animState4 .about-screen__img .AnimateToOriginalComplete[class^="cls-"]:nth-child(odd) {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none; }

.about-screen--animState4 .about-screen__img .AnimateToOriginalComplete[class^="cls-"]:nth-child(even) {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none; }

.about-screen--animState4 .about-screen__splash .about-screen__target {
  opacity: 0; }

.about-screen--animState5 .about-screen__splash .about-screen__desc {
  opacity: 1;
  -moz-transform: translateY(0em) rotate(0deg);
  -ms-transform: translateY(0em) rotate(0deg);
  -o-transform: translateY(0em) rotate(0deg);
  -webkit-transform: translateY(0em) rotate(0deg);
  transform: translateY(0em) rotate(0deg); }

.about-PageIndicatorContainer {
  display: none;
  position: absolute;
  right: 2.5em;
  top: 3.8em;
  width: 1em; }
  @media (max-width: 600px) {
    .about-PageIndicatorContainer {
      right: 1.8em; } }

.about-PageIndicatorContainer--active {
  display: block; }

.about-PageIndicatorContainer--light .about-PageIndicator {
  border-color: #FFF; }

.about-PageIndicator {
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 1em;
  margin-top: 0.5em;
  width: 1em;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s; }
  .about-PageIndicator:hover {
    background-color: #6FB6E7; }

.about-PageIndicator--selected {
  background-color: #2294E5; }
  .about-PageIndicator--selected:hover {
    background-color: #2294E5; }
