@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

$breakpoing-minHeight: 400px;

.contact {
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    width: 100%;

    @include breakpoint(max-width $breakpoint-mobileBig) {
        background-image: url(/Content/ImagesContact/beachScene_small.jpg);
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-tablet) {
        background-image: url(/Content/ImagesContact/beachScene_medium.jpg);
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        background-image: url(/Content/ImagesContact/beachScene_large.jpg);
    }
}

.contact__container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #FFF;
    max-width: 700px;
    overflow: hidden;
    top: 10vw;
    width: 100%;

    @extend %box--centerTop;

    @include breakpoint(max-height 460px) {
        top: 0;
    }
}

.contact__content {
    float: left;

    @extend %box--squished;
    @include box-sizing(border-box);

    @include breakpoint((max-width $breakpoint-phablet) (max-height $breakpoing-minHeight)) {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.contact__separator {
    border-top: 2px solid #FFF;

    @include breakpoint(min-width $breakpoint-phablet) {
        border-top: none;
        border-left: 1px solid #000;
    }

    @include breakpoint((max-width $breakpoint-phablet) (max-height $breakpoing-minHeight)) {
        border-top: none;
    }
}

.contact__summary {
    width: 100%;

    @include breakpoint(min-width $breakpoint-phablet) {
        width: 40%;
    }
}

.contact__text {
    @include breakpoint((max-width $breakpoint-phablet) (max-height $breakpoing-minHeight)) {
        display: none;
    }
}

.contact__form {
    width: 100%;

    @include breakpoint(min-width $breakpoint-phablet) {
        width: 60%;
    }
}

.contact__placeholder {
    float: right;

    @extend %box--dialPlaceholder;
}

.contact__name {
    margin-bottom: 1em;

    @include breakpoint((max-width $breakpoint-phablet) (max-height $breakpoing-minHeight)) {
        float: left;
        margin-bottom: 0;
        margin-right: 70px;
        width: 100px;

        input {
            min-width: 100px;
        }
    }
}

.contact__email {
    margin-bottom: 1em;

    @include breakpoint((max-width $breakpoint-phablet) (max-height $breakpoing-minHeight)) {
        float: left;
        margin-bottom: 0;
        width: 100px;

        input {
            min-width: 100px;
        }
    }
}

.contact__message {
    margin-bottom: 1em;

    @include breakpoint((max-width $breakpoint-phablet) (max-height $breakpoing-minHeight)) {
        clear: both;
        margin-bottom: 0;
        margin-top: 1em;
        width: 100%;
    }
}