/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.contact__container {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.contact__placeholder {
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  height: 80px;
  width: 80px;
}

.contact__container {
  bottom: auto;
  top: 15%;
}

.contact__content {
  padding: 1.3em;
}

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.contact {
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
}

@media (max-width: 400px) {
  .contact {
    background-image: url(/Content/ImagesContact/beachScene_small.jpg);
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .contact {
    background-image: url(/Content/ImagesContact/beachScene_medium.jpg);
  }
}

@media (min-width: 800px) {
  .contact {
    background-image: url(/Content/ImagesContact/beachScene_large.jpg);
  }
}

.contact__container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  max-width: 640px;
  overflow: hidden;
  top: 40px;
  width: 90%;
}

@media (max-height: 400px) {
  .contact__container {
    bottom: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .contact__container {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .contact__container {
    bottom: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 15%;
  }
}

.contact__content {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 600px) and (max-height: 400px) {
  .contact__content {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.contact__text {
  overflow: hidden;
}

.contact__text p {
  color: #cccccc;
}

.contact__header--clickable {
  cursor: pointer;
}

.contact__summary {
  background-color: #1A1A1A;
  width: 100%;
}

@media (max-width: 600px) {
  .contact__summary {
    padding: 2em 2em 0.5em 2em;
  }
}

@media (min-width: 600px) {
  .contact__summary {
    min-height: 390px;
    width: 45%;
  }
}

.contact__form {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.contact__form::after {
  background-color: #00b2ff;
  border-radius: 50%;
  bottom: 10px;
  content: "";
  display: block;
  height: 5px;
  left: 82%;
  opacity: 0;
  position: absolute;
  top: 85%;
  width: 5px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.contact__form .contact__form-content {
  opacity: 1;
  -moz-transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.contact__form .contact__form-sentMsg {
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 4em;
  width: 100%;
  -moz-transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -o-transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -webkit-transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}

@media (max-width: 600px) {
  .contact__form {
    padding: 2em 2em 0 2em;
  }
}

@media (min-width: 600px) {
  .contact__form {
    width: 55%;
  }
}

@-webkit-keyframes sendingBGAnim {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(200);
    -ms-transform: scale(200);
    -o-transform: scale(200);
    -webkit-transform: scale(200);
    transform: scale(200);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes sendingBGAnim {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(200);
    -ms-transform: scale(200);
    -o-transform: scale(200);
    -webkit-transform: scale(200);
    transform: scale(200);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes sendingBGAnim {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(200);
    -ms-transform: scale(200);
    -o-transform: scale(200);
    -webkit-transform: scale(200);
    transform: scale(200);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sendingBGAnim {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(200);
    -ms-transform: scale(200);
    -o-transform: scale(200);
    -webkit-transform: scale(200);
    transform: scale(200);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.contact__form--sending::after {
  -moz-animation: sendingBGAnim 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -o-animation: sendingBGAnim 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -webkit-animation: sendingBGAnim 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: sendingBGAnim 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.contact__form--sending .contact__form-content {
  opacity: 0;
}

.contact__form--sending .contact__form-sentMsg {
  opacity: 1;
}

.contact__formFields {
  overflow: hidden;
  padding-top: 1em;
}

.contact__placeholder {
  background-color: transparent;
  float: right;
}

.contact__inputGroup {
  margin-bottom: 45px;
  position: relative;
}

.contact__label {
  cursor: text;
  font-size: 14px;
  left: 0;
  position: absolute;
  top: 26px;
  -moz-transition: top 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), font-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: top 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), font-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-transition: top 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), font-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: top 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), font-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.contact__label--focus {
  font-size: 8px;
  top: -8px;
}

.contact__textbox {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00b2ff 4%);
  background-position: -600px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #00b2ff;
  border-radius: 0;
  color: #FFF;
  left: 0;
  font-family: 'Slabo27px-Regular', 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 16px 0 8px 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.contact__textbox:focus {
  background-position: 0 0;
}

.contact__textbox.input-validation-error {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FF0000 4%);
  background-position: -600px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #FF0000;
}

.contact__textbox.input-validation-error:focus {
  background-position: 0 0;
}

.contact__socialIcons {
  padding: 1em 8px;
  position: relative;
}

.contact__socialIcons .socialIcon {
  display: block;
  float: left;
  margin-right: 2em;
}

/*# sourceMappingURL=Contact.css.map */