@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

$breakpoint-minHeight: 400px;

.contact {
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    width: 100%;

    @include breakpoint(max-width $breakpoint-mobileBig) {
        background-image: url(/Content/ImagesContact/beachScene_small.jpg);
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-tablet) {
        background-image: url(/Content/ImagesContact/beachScene_medium.jpg);
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        background-image: url(/Content/ImagesContact/beachScene_large.jpg);
    }
}

.contact__container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    max-width: 640px;
    overflow: hidden;
    top: 40px;
    width: 90%;

    @extend %box--centerTop;

    @include breakpoint(max-height $breakpoint-minHeight) {
        bottom: auto;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 50px;
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-phablet) {
        font-size: 12px;
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        bottom: auto;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 15%;
    }
}

.contact__content {
    float: left;

    @extend %box--squished;
    @include box-sizing(border-box);

    @include breakpoint((max-width $breakpoint-phablet) (max-height $breakpoint-minHeight)) {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.contact__text {
    overflow: hidden;

    p {
        color: #cccccc;
    }
}

.contact__header--clickable {
    cursor: pointer;
}

.contact__summary {
    background-color: #1A1A1A;
    width: 100%;

    @include breakpoint(max-width $breakpoint-phablet) {
        padding: 2em 2em 0.5em 2em;
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        min-height: 395px;
        width: 45%;
    }
}

.contact__form {
    width: 100%;

    @include breakpoint(max-width $breakpoint-phablet) {
        padding: 2em 2em 0 2em;
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        width: 55%;
    }
}

.contact__formFields {
    overflow: hidden;
    padding-top: 1em;
}

.contact__placeholder {
    background-color: transparent;
    float: right; 

    @extend %box--dialPlaceholder;

    /*@include breakpoint(max-width $breakpoint-phablet) {
        @include transform(scale(0.6));
    }*/
}

.contact__inputGroup {
    margin-bottom: 3em;
    position: relative;
}

.contact__label {
    cursor: text;
    left: 0;
    position: absolute;
    top: 1em;

    @include transition(top 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), font-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1));
}

.contact__label--focus {
    font-size: 0.7em;
    top: -1em;
}

.contact__textbox {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00b2ff 4%);
    background-position: -600px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #00b2ff;
    border-radius: 0;
    color: #FFF;
    left: 0;
    padding: 10px 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include transition(background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1));

    &:focus {
        background-position: 0 0;
    }
}

.contact__socialIcons {
    padding: 1em 8px;
    position: relative;

    .socialIcon {
        display: block;
        float: left;
        margin-right: 2em;
    }
}