/*------------------------------------*    Accent Colors
\*------------------------------------*/
/*------------------------------------*    Dial Colors
\*------------------------------------*/
/*$color-dial--ring1: #d62d20;
$color-dial--ring2: #de9250;
$color-dial--ring3: #2294e5;*/
/*------------------------------------*    Background Colors
\*------------------------------------*/
/*------------------------------------*    Font Colors
\*------------------------------------*/
/*------------------------------------*    Links Colors
\*------------------------------------*/
/*$color-link: #337ab7;*/
/*------------------------------------*    Button Colors
\*------------------------------------*/
/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.home-headerGroup {
  padding: 3em 2em; }
  @media (min-width: 600px) {
    .home-headerGroup {
      padding: 2em 3em; } }

.home-heroImageBG {
  z-index: 0; }

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.home {
  background-color: #FFF;
  height: 100vh;
  position: relative; }
  @media (max-width: 400px) {
    .home {
      min-height: 558px; } }
  @media (min-width: 400px) and (max-width: 600px) {
    .home {
      min-height: 650px; } }
  @media (min-width: 600px) {
    .home {
      min-height: 650px; } }
  .home .header-large {
    font-size: 3em; }
    @media (min-width: 600px) {
      .home .header-large {
        font-size: 4em; } }

.home-heroImageContainer {
  height: 0;
  padding-bottom: 110.54%;
  position: relative;
  overflow: hidden; }
  @media (min-width: 400px) and (max-width: 600px) {
    .home-heroImageContainer {
      padding-bottom: 78.60%; } }
  @media (min-width: 600px) {
    .home-heroImageContainer {
      padding-bottom: 54.62%; } }

.home-mainContent {
  left: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 900px;
  position: absolute;
  width: 100%; }
  @media (min-width: 900px) {
    .home-mainContent {
      left: calc(50% - 450px); } }
  @media (min-height: 800px) and (min-width: 1100px) {
    .home-mainContent {
      left: calc(50% - 500px);
      max-width: 1000px; } }

.home-heroImage {
  background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  @media (max-width: 400px) {
    .home-heroImage {
      background-image: url(/Content/ImagesHome/HeroImage_Small.png); } }
  @media (min-width: 400px) and (max-width: 600px) {
    .home-heroImage {
      background-image: url(/Content/ImagesHome/HeroImage_Medium.png); } }
  @media (min-width: 600px) {
    .home-heroImage {
      background-image: url(/Content/ImagesHome/HeroImage_Large.png); } }

.home-heroImageBG {
  left: 0;
  position: absolute;
  top: 0; }

.home-headerGroup {
  max-width: 44em;
  position: relative; }
  @media (min-height: 800px) and (min-width: 1100px) {
    .home-headerGroup {
      margin-left: 5em;
      padding-top: 5em; } }
