.home-instructions {
  opacity: 0;
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -moz-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
}

.home-instructions.in-view {
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.home-header {
  opacity: 0;
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.home-header.in-view {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.home-subHeader {
  opacity: 0;
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.home-subHeader.in-view {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.home-headerGroup {
  padding: 3em 2em;
}

@media (min-width: 600px) {
  .home-headerGroup {
    padding: 2em 3em;
  }
}

.home-heroImageBG {
  z-index: -1;
}

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.home {
  height: 100vh;
  position: relative;
}

@media (max-width: 400px) {
  .home {
    min-height: 558px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .home {
    min-height: 650px;
  }
}

@media (min-width: 600px) {
  .home {
    min-height: 650px;
  }
}

.home-effect--disabled .home {
  /*background: linear-gradient(225deg, rgba(27, 218, 235, 1), rgba(155, 59, 129, 1) 74%, rgba(210, 126, 52, 1));*/
  background: linear-gradient(225deg, #a4f0f7, #cc9dc0 50%, #e8be9a);
}

.home-heroImageContainer {
  height: 0;
  padding-bottom: 110.54%;
  position: relative;
  overflow: hidden;
}

@media (min-width: 400px) and (max-width: 600px) {
  .home-heroImageContainer {
    padding-bottom: 78.60%;
  }
}

@media (min-width: 600px) {
  .home-heroImageContainer {
    padding-bottom: 54.62%;
  }
}

.home-mainContent {
  left: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 900px;
  position: absolute;
  width: 100%;
}

@media (min-width: 900px) {
  .home-mainContent {
    left: calc(50% - 450px);
  }
}

@media (min-height: 800px) and (min-width: 1100px) {
  .home-mainContent {
    left: calc(50% - 550px);
    max-width: 1100px;
  }
}

.home-heroImage {
  background-size: cover;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 400px) {
  .home-heroImage {
    background-image: url(../ImagesHome/HeroImage_Small.png);
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .home-heroImage {
    background-image: url(../ImagesHome/HeroImage_Medium.png);
  }
}

@media (min-width: 600px) {
  .home-heroImage {
    background-image: url(../ImagesHome/HeroImage_Large.png);
  }
}

.home-heroImageBG {
  left: 0;
  position: absolute;
  top: 0;
}

.home-headerGroup {
  max-width: 42em;
}

@media (min-height: 800px) and (min-width: 1100px) {
  .home-headerGroup {
    margin-left: 5em;
    padding-top: 5em;
  }
}

.home-subHeader {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.home-subHeader.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.home-instructions .home-arrow--left, .home-instructions .home-arrow--right {
  background: url(/Content/Images/icon-arrow.svg) no-repeat transparent;
  content: "";
  display: block;
  float: left;
  height: 34px;
  width: 50px;
}

.home-instructions {
  bottom: 20px;
  position: absolute;
  right: 14%;
  -moz-transform: translateX(250%);
  -ms-transform: translateX(250%);
  -o-transform: translateX(250%);
  -webkit-transform: translateX(250%);
  transform: translateX(250%);
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -moz-transition-duration: 3s, 0.5s;
  -o-transition-duration: 3s, 0.5s;
  -webkit-transition-duration: 3s, 0.5s;
  transition-duration: 3s, 0.5s;
}

.home-instructions .home-arrow--left {
  margin-right: 20px;
}

.home-instructions .home-arrow--right {
  margin-left: 20px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.home-instructions.in-view {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.home-instructions__content {
  display: block;
  float: left;
  margin-top: 7px;
}

/*# sourceMappingURL=Home.css.map */