@import '../Atoms/_colors';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Atoms/_boxes';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.home {
    background-color: #FFF;
    height: 100vh;
    
    position: relative;

    @include breakpoint(max-width $breakpoint-mobileBig) {
        min-height: 558px;
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-phablet) {
        min-height: 650px;
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        min-height: 650px;
    }
}

.home-heroImageContainer {
    height: 0;
    padding-bottom: 110.54%;
    position: relative;
    overflow: hidden;

    @include breakpoint(400px $breakpoint-phablet) {
        padding-bottom: 78.60%;
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        padding-bottom: 54.62%;
    }
}

.home-mainContent {
    left: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 900px;
    position: absolute;
    width: 100%;

    @include breakpoint(min-width 900px) {
        left: calc(50% - 450px);
    }

    @include breakpoint((min-height 800px) (min-width 1100px)) {
        left: calc(50% - 500px);
        max-width: 1000px;
    }
}

.home-heroImage {
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include breakpoint(max-width $breakpoint-mobileBig) {
        background-image: url(/Content/ImagesHome/HeroImage_Small.png);
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-phablet) {
        background-image: url(/Content/ImagesHome/HeroImage_Medium.png);
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        background-image: url(/Content/ImagesHome/HeroImage_Large.png);
    }
}

.home-heroImageBG {
    left: 0;
    position: absolute;
    top: 0;

    @extend %box-level--default;
}

.home-headerGroup {
    max-width: 44em;
    position: relative;

    @extend %box--spacious;

    @include breakpoint((min-height 800px) (min-width 1100px)) {
        margin-left: 5em;
        padding-top: 5em;
    }
}