/*------------------------------------*    Accent Colors
\*------------------------------------*/
/*------------------------------------*    Dial Colors
\*------------------------------------*/
/*$color-dial--ring1: #d62d20;
$color-dial--ring2: #de9250;
$color-dial--ring3: #2294e5;*/
/*------------------------------------*    Background Colors
\*------------------------------------*/
/*------------------------------------*    Font Colors
\*------------------------------------*/
/*------------------------------------*    Links Colors
\*------------------------------------*/
/*$color-link: #337ab7;*/
/*------------------------------------*    Button Colors
\*------------------------------------*/
/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.loading-overlay {
  z-index: 3;
}

.loading {
  z-index: 4;
}

.loading {
  background-color: #ebebeb;
}

.loading-content {
  left: calc(50% - 150px);
  position: absolute;
  top: calc(41% + 75px);
  text-align: center;
  width: 300px;
}

.loading-text--inactive {
  display: none;
}

.loading-text--out {
  -moz-animation: textAnim--out 0.6s ease-in forwards;
  -o-animation: textAnim--out 0.6s ease-in forwards;
  -webkit-animation: textAnim--out 0.6s ease-in forwards;
  animation: textAnim--out 0.6s ease-in forwards;
}

.loading-text--ellipsis:after {
  display: inline-block;
  content: "\2026";
  /* ascii code for the ellipsis character */
  overflow: hidden;
  vertical-align: bottom;
  width: 0;
  -moz-animation: ellipsisAnim steps(4, end) 0.9s infinite;
  -o-animation: ellipsisAnim steps(4, end) 0.9s infinite;
  -webkit-animation: ellipsisAnim steps(4, end) 0.9s infinite;
  animation: ellipsisAnim steps(4, end) 0.9s infinite;
}

@-webkit-keyframes ellipsisAnim {
  to {
    width: 1em;
  }
}

@-moz-keyframes ellipsisAnim {
  to {
    width: 1em;
  }
}

@-o-keyframes ellipsisAnim {
  to {
    width: 1em;
  }
}

@keyframes ellipsisAnim {
  to {
    width: 1em;
  }
}

@-webkit-keyframes textAnim--out {
  0% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    width: auto;
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  100% {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

@-moz-keyframes textAnim--out {
  0% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    width: auto;
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  100% {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

@-o-keyframes textAnim--out {
  0% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    width: auto;
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  100% {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

@keyframes textAnim--out {
  0% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    width: auto;
    -moz-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    -o-transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  100% {
    height: 0;
    opacity: 0;
    width: 0;
  }
}

.loading-overlay {
  background-color: #000;
  display: none;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.loading-overlay--active {
  display: block;
  opacity: 0.5;
}

/*# sourceMappingURL=Loading.css.map */