@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.work-imgTile--rateQuote {
    background-image: url(/Content/ImagesWork/ratequote/rateQuote-tile.jpg);
}

.work-heroImage--rateQuote {
    padding: 20px;
    position: relative;
    text-align: center;

    @include breakpoint(max-width $breakpoint-mobileBig) {
        background-image: url(/Content/ImagesWork/ratequote/rateQuote-heroImage_small.jpg);
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-tablet) {
        background-image: url(/Content/ImagesWork/ratequote/rateQuote-heroImage_medium.jpg);
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        background-image: url(/Content/ImagesWork/ratequote/rateQuote-heroImage_large.jpg);
    }
}

.rateQuote-header {
    > span {
        border: 1px solid #FFF;
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-block;
        padding: 0.1em 1em;
    }
}

.rateQuote__content {
    height: 100%;
    position: relative;
}

.rateQuote__screensContainer {
    position: relative;
    overflow: hidden;
    width: 100%;

    @include breakpoint(max-width $breakpoint-mobileBig) {
        height: 500px;
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-phablet) {
        height: 700px;
    }

    @include breakpoint($breakpoint-phablet $breakpoint-tablet) {
        height: 900px;
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        height: 100%;
        min-height: 800px;
        width: 65%;
    }
}

.rateQuote__screensContainer--top {
    background-color: #184d82;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    overflow: visible;
    z-index: 1;

    .rateQuote__imgContainer--container1, .rateQuote__imgContainer--container2 {
        img {
            z-index: 1;
        }
    }
}

.rateQuote__screensContainer--bottom {
    background-color: #184d82;
    float: left;
}

.rateQuote__screen {
    width: 100%;

    @extend %slide-left--initialState;
    @include transition-duration(1.5s);
}

.rateQuote__screen.in-view {
    @extend %slide-left--endState;
}

.rateQuote__imgContainer  {
    position: absolute;

    &--container1 {
        @include breakpoint(max-width $breakpoint-mobile) {
            left: 18px;
            top: 150px;
            width: 135vw;
        }

        @include breakpoint($breakpoint-mobile $breakpoint-mobileBig) {
            left: 18px;
            top: 150px;
            width: 135vw;
        }

        @include breakpoint($breakpoint-mobileBig $breakpoint-phablet) {
            left: 18px;
            top: 200px;
            width: 135vw;
        }

        @include breakpoint($breakpoint-phablet $breakpoint-phabletBig) {
            left: 18px;
            top: 230px;
            width: 135vw;
        }

        @include breakpoint($breakpoint-phabletBig $breakpoint-tablet) {
            left: 18px;
            top: 230px;
            width: 135vw;
        }

        @include breakpoint($breakpoint-tablet $breakpoint-netbook) {
            left: 18px;
            top: 230px;
            width: 95vw;
        }

        @include breakpoint(min-width $breakpoint-netbook) {
            left: 18px;
            top: 230px;
            width: 57vw;
        }

        @include breakpoint((min-height $breakpoint-netbook) (orientation portrait)) {
            left: 68px;
            top: 480px;
            width: 97vw;
        }
    }

    &--container2 {
        @include breakpoint(max-width $breakpoint-mobile) {
            left: 8px;
            top: 0;
            width: 140vw;
        }

        @include breakpoint($breakpoint-mobile $breakpoint-mobileBig) {
            left: 8px;
            top: 0;
            width: 140vw;
        }

        @include breakpoint($breakpoint-mobileBig $breakpoint-phablet) {
            left: 8px;
            top: 0;
            width: 140vw;
        }

        @include breakpoint($breakpoint-phablet $breakpoint-phabletBig) {
            left: 8px;
            top: 0;
            width: 140vw;
        }

        @include breakpoint($breakpoint-phabletBig $breakpoint-tablet) {
            left: 8px;
            top: 0;
            width: 140vw;
        }

        @include breakpoint($breakpoint-tablet $breakpoint-netbook) {
            left: 8px;
            top: 0;
            width: 100vw;
        }

        @include breakpoint(min-width $breakpoint-netbook) {
            left: 8px;
            top: 0;
            width: 60vw;
        }

        @include breakpoint((min-height $breakpoint-netbook) (orientation portrait)) {
            left: 8px;
            top: 70px;
            width: 100vw;
        }
    }
}

.rateQuote__overviewContainer {
    float: right;
    width: 100%;

    @extend %box--spacious;

    @include breakpoint(min-width $breakpoint-tablet) {
        height: 100%;
        min-height: 800px;
        width: 35%;
    }
}