/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.work-closeTarget {
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  height: 80px;
  width: 80px;
}

.work__overlay {
  z-index: 0;
}

.work__content, .work-IndicatorContainer--MoreInfo {
  z-index: 1;
}

/*------------------------------------*    Accent Colors
\*------------------------------------*/
/*------------------------------------*    Dial Colors
\*------------------------------------*/
/*$color-dial--ring1: #d62d20;
$color-dial--ring2: #de9250;
$color-dial--ring3: #2294e5;*/
/*------------------------------------*    Background Colors
\*------------------------------------*/
/*------------------------------------*    Font Colors
\*------------------------------------*/
/*------------------------------------*    Links Colors
\*------------------------------------*/
/*$color-link: #337ab7;*/
/*------------------------------------*    Button Colors
\*------------------------------------*/
/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.work-bg {
  background-color: #1a1a1a;
}

.work {
  display: table;
  float: left;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 400px) and (max-width: 600px) {
  .work {
    width: 50%;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .work {
    width: 33.33%;
  }
}

@media (min-width: 1000px) {
  .work {
    width: 25%;
  }
}

@media (max-height: 600px) {
  .work {
    font-size: 0.8em;
  }
}

.work__content {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

@media (max-height: 600px) {
  .work__content {
    display: block;
    margin-top: 30%;
  }
}

.work__overlay {
  background-color: #000;
  left: 0;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transition: 1s opacity;
  -o-transition: 1s opacity;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.work h1, .work h2, .work .work-header.in-view, .work .work-subHeader.in-view {
  /*opacity: 1;*/
  -moz-transition: 0.3s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: 0.3s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: 0.3s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: 0.3s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.no-touch .work--hoverable:hover h1, .button-container-viewMore--active h1, .no-touch .work--hoverable:hover h2, .button-container-viewMore--active h2, .no-touch .work--hoverable:hover .work-header.in-view, .button-container-viewMore--active .work-header.in-view, .no-touch .work--hoverable:hover .work-subHeader.in-view, .button-container-viewMore--active .work-subHeader.in-view {
  opacity: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.no-touch .work--hoverable:hover .work__overlay, .button-container-viewMore--active .work__overlay {
  opacity: 0.2;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.work-imgTile--placeholder {
  background-image: url(/Content/ImagesWork/placeholder-tile.jpg);
}

.work-heroImage--placeholder {
  background-image: url(/Content/ImagesWork/placeholder-heroImage.jpg);
}

.work--separator {
  border-bottom: 1px solid #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .work--separator {
    border-right: 1px solid #000;
  }
}

.work-imgTile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-closeTarget {
  opacity: 0;
  position: fixed;
}

@media (max-width: 600px) {
  .work-closeTarget {
    right: 0;
    top: 0;
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .work-closeTarget {
    right: 10px;
    top: 10px;
  }
}

@media (min-width: 800px) {
  .work-closeTarget {
    right: 40px;
    top: 20px;
  }
}

.work-item {
  background-color: #ebebeb;
}

.work-heroImage {
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
  /*height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        will-change: transform;
        z-index: -1;
    }*/
}

.work-IndicatorContainer {
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  width: 100%;
}

.work-IndicatorContainer--MoreInfo {
  bottom: 125px;
}

/*# sourceMappingURL=Work.css.map */