/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.topnav__summaryContainer-content {
  padding: 3em 2em; }
  @media (min-width: 600px) {
    .topnav__summaryContainer-content {
      padding: 2em 3em; } }

.topnav__screens, .topnav__finalScreens {
  opacity: 0;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -moz-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear; }

.topnav__screens.in-view, .topnav__finalScreensContainer.in-view {
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.work-imgTile--topnav {
  background-image: url(/Content/ImagesWork/topnav-tile.jpg); }

.work-heroImage--topnav {
  background-position: top center;
  background-image: url(/Content/ImagesWork/topnav-heroImage_small.jpg);
  padding-top: 50px;
  text-align: center; }
  @media (min-width: 800px) and (max-width: 1200px) {
    .work-heroImage--topnav {
      background-image: url(/Content/ImagesWork/topnav-heroImage_medium.jpg); } }
  @media (min-width: 1200px) {
    .work-heroImage--topnav {
      background-image: url(/Content/ImagesWork/topnav-heroImage_large.jpg); } }
  .work-heroImage--topnav .topnav-header {
    padding: 0.5em 1em;
    background-color: rgba(255, 255, 255, 0.9); }
    @media (min-width: 800px) {
      .work-heroImage--topnav .topnav-header {
        padding: 0.4em 0.5em 0.1em 0.5em;
        background-color: transparent; } }

.topnav-subHeader {
  display: none; }
  @media (min-width: 800px) {
    .topnav-subHeader {
      display: block;
      padding: 0 2em;
      margin: 0 auto;
      max-width: 500px; } }

.topnav__screensContainer {
  background-color: #02abe8;
  background: linear-gradient(to bottom right, #02abe8, #02a7e3);
  position: relative;
  overflow: hidden;
  width: 100%; }

.topnav__screens {
  background-image: url(/Content/ImagesWork/topnav-screens-small.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120%;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s; }
  @media (min-width: 800px) and (max-width: 1200px) {
    .topnav__screens {
      background-image: url(/Content/ImagesWork/topnav-screens-medium.png);
      background-size: contain;
      padding-bottom: 80%; } }
  @media (min-width: 1200px) {
    .topnav__screens {
      background-image: url(/Content/ImagesWork/topnav-screens-large.png);
      background-size: contain;
      padding-bottom: 60%;
      width: 100%;
      margin-left: -120px;
      margin-top: -130px; } }

.topnav__finalScreensContainer {
  background-color: #171717;
  overflow: hidden;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100%; }

.topnav__videoContainer {
  background-color: #000;
  border-radius: 20px;
  margin: 0 auto;
  max-width: 1350px;
  padding: 20px; }
  @media (min-width: 800px) and (max-width: 1200px) {
    .topnav__videoContainer {
      padding: 30px; } }
  @media (min-width: 1200px) {
    .topnav__videoContainer {
      padding: 50px; } }

.topnav__finalScreens {
  padding-bottom: 90%;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s; }

.topnav__summaryContainer {
  height: 100%; }

.topnav__summaryContainer-content {
  text-align: center;
  max-width: 830px;
  margin: 0 auto; }
