@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.work-imgTile--multiplex {
    background-image: url(/Content/ImagesWork/multiplex-tile.jpg);
}

.work-heroImage--multiplex {
    background-image: url(/Content/ImagesWork/multiplex-heroImage.jpg);
    padding-top: 20px;
    text-align: center;
}

.multiplex-header {
    @extend %slide-top--initialState;
}

.multiplex-header.in-view {
    @extend %slide-top--endState;
}

.multiplex-subHeader {
    @extend %slide-bottom--initialState;
}

.multiplex-subHeader.in-view {
    @extend %slide-bottom--endState;
}

.multiplex__content {
    position: relative;
}

.multiplex__screensContainer {
    background-color: #5b5b5b;
    background: linear-gradient(to bottom right,#636362, #333);
    float: left;
    max-height: 140vw;
    position: relative;
    overflow: hidden;

    @include breakpoint(max-width $breakpoint-tablet) {
        width: 100%;
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        height: 100%;
        max-height: 1000px;
        width: 65%;
    }
}

.multiplex__screen {
    @extend %slide-bottom--initialState;
    @include transition-delay(0);

    @include breakpoint(max-width $breakpoint-netbook) {
        margin-left: -60%;
        width: 190%;
    }

    @include breakpoint(min-width $breakpoint-netbook) {
        margin-left: -20%;
        width: 120%;
    }
}

.multiplex__screensContainer.in-view {
    .multiplex__screen {
        @extend %slide-bottom--endState;
        @include transition-delay(0.5s);
    }
}

.multiplex__overviewContainer {
    float: right;

    @extend %box--spacious;

    @include breakpoint(max-width $breakpoint-tablet) {
        width: 100%;
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        height: 100%;
        width: 35%;
    }
}

.multiplex__overviewContent {
    @extend %slide-right--initialState;
}

.multiplex__overviewContent.in-view {
    @extend %slide-right--endState;
}

.multiplex_summaryContainer {
    text-align: center;

    @extend %box--spacious;
}

.multiplex_summaryContent {
    @extend %slide-top--initialState;
    @include transition-delay(0);
}

.multiplex_summaryContent.in-view {
    @extend %slide-top--endState;
    @include transition-delay(0.3s);
}