/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.rateQuote__overviewContainer {
  padding: 3em 2em;
}

@media (min-width: 600px) {
  .rateQuote__overviewContainer {
    padding: 2em 3em;
  }
}

.rateQuote-header, .rateQuote__header, .rateQuote__screensContainer--top .rateQuote__imgContainer--container1, .rateQuote__screensContainer--top .rateQuote__imgContainer--container2, .rateQuote__screensContainer--bottom .rateQuote__imgContainer--container1, .rateQuote__screensContainer--bottom .rateQuote__imgContainer--container2 {
  opacity: 0;
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.rateQuote-header.in-view, .rateQuote__header.in-view, .rateQuote__screensContainer--top.in-view .rateQuote__imgContainer--container1, .rateQuote__screensContainer--top.in-view .rateQuote__imgContainer--container2, .rateQuote__screensContainer--bottom.in-view .rateQuote__imgContainer--container1, .rateQuote__screensContainer--bottom.in-view .rateQuote__imgContainer--container2 {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.rateQuote__overviewContent {
  opacity: 0;
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.rateQuote__overviewContent.in-view {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.work-imgTile--rateQuote {
  background-image: url(../ImagesWork/rateQuote-tile.jpg);
}

.work-heroImage--rateQuote {
  background-image: url(../ImagesWork/rateQuote-heroImage.jpg);
  padding: 20px;
  text-align: center;
}

.rateQuote-header > span {
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 0.1em 1em;
}

.rateQuote__content {
  height: 100%;
  position: relative;
}

.rateQuote__screensContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 400px) {
  .rateQuote__screensContainer {
    height: 500px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .rateQuote__screensContainer {
    height: 700px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .rateQuote__screensContainer {
    height: 900px;
  }
}

@media (min-width: 800px) {
  .rateQuote__screensContainer {
    height: 100%;
    min-height: 800px;
    width: 65%;
  }
}

.rateQuote__screensContainer--top {
  background-color: #d9d9d9;
  background: url(../ImagesWork/ratequote-bgImg1.png) no-repeat transparent 20% 50%;
  float: right;
}

.rateQuote__screensContainer--top .rateQuote__imgContainer--container1 {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.rateQuote__screensContainer--top .rateQuote__imgContainer--container2 {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.rateQuote__screensContainer--top.in-view .rateQuote__imgContainer--container1 {
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.rateQuote__screensContainer--top.in-view .rateQuote__imgContainer--container2 {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.rateQuote__screensContainer--bottom {
  background-color: #184d82;
  background: linear-gradient(to bottom, #1b5692, #164778);
  float: left;
}

.rateQuote__screensContainer--bottom .rateQuote__imgContainer--container1 {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.rateQuote__screensContainer--bottom .rateQuote__imgContainer--container2 {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.rateQuote__screensContainer--bottom.in-view .rateQuote__imgContainer--container1 {
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

.rateQuote__screensContainer--bottom.in-view .rateQuote__imgContainer--container2 {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.rateQuote__screen {
  width: 100%;
}

.rateQuote__imgContainer {
  position: absolute;
}

@media (max-width: 300px) {
  .rateQuote__imgContainer--container1 {
    left: 18px;
    top: 150px;
    width: 135vw;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .rateQuote__imgContainer--container1 {
    left: 18px;
    top: 150px;
    width: 135vw;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .rateQuote__imgContainer--container1 {
    left: 18px;
    top: 200px;
    width: 135vw;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .rateQuote__imgContainer--container1 {
    left: 18px;
    top: 230px;
    width: 135vw;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .rateQuote__imgContainer--container1 {
    left: 18px;
    top: 230px;
    width: 135vw;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .rateQuote__imgContainer--container1 {
    left: 18px;
    top: 230px;
    width: 95vw;
  }
}

@media (min-width: 1000px) {
  .rateQuote__imgContainer--container1 {
    left: 18px;
    top: 230px;
    width: 57vw;
  }
}

@media (min-height: 1000px) and (orientation: portrait) {
  .rateQuote__imgContainer--container1 {
    left: 68px;
    top: 480px;
    width: 97vw;
  }
}

@media (max-width: 300px) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 0;
    width: 140vw;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 0;
    width: 140vw;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 0;
    width: 140vw;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 0;
    width: 140vw;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 0;
    width: 140vw;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 0;
    width: 100vw;
  }
}

@media (min-width: 1000px) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 0;
    width: 60vw;
  }
}

@media (min-height: 1000px) and (orientation: portrait) {
  .rateQuote__imgContainer--container2 {
    left: 8px;
    top: 70px;
    width: 100vw;
  }
}

.rateQuote__overviewContainer {
  float: right;
  width: 100%;
}

@media (min-width: 800px) {
  .rateQuote__overviewContainer {
    font-size: 0.8em;
    height: 100%;
    min-height: 800px;
    width: 35%;
  }
}

@media (min-height: 1000px) and (orientation: portrait) {
  .rateQuote__overviewContainer {
    font-size: 1em;
  }
}

/*# sourceMappingURL=Work-RateQuote.css.map */