@import '../Atoms/_mixins.scss';
@import '../Atoms/_boxes';
@import '../Atoms/_colors';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.work-bg {
    background-color: #1a1a1a;
}

.work {
    display: table;
    float: left;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    
    @include box-sizing(border-box);

    @include breakpoint(400px $breakpoint-phablet) {
        width: 50%;
    }

    @include breakpoint($breakpoint-phablet $breakpoint-netbook) {
        width: 33.33%;
    }

    @include breakpoint(min-width $breakpoint-netbook) {
        width: 25%;
    }

    @include breakpoint(max-height $breakpoint-phablet) {
        font-size: 0.8em;
    }

    &__content {
        display: table-cell;
        position: relative;
        vertical-align: middle;

        @extend %box-level--middle;
    }

    &__overlay {
        background-color: #000;
        left: 0;
        height: 100%;
        opacity: 0.7;
        position: absolute;
        top: 0;
        width: 100%;

        @extend %box-level--default;
        @include transition(1s opacity);
    }

    h1, h2, .work-header.in-view, .work-subHeader.in-view {
        /*opacity: 1;*/

        @include transition(0.3s opacity cubic-bezier(0.55, 0.055, 0.675, 0.19));
    }
}

%workItem--active {
     h1, h2, .work-header.in-view, .work-subHeader.in-view {
        opacity: 0;

        @include transition-delay(0);
    }

    .work__overlay {
        opacity: 0.2;

        @include transition-delay(0);
    }
}

.no-touch .work--hoverable {
    &:hover {
       @extend %workItem--active;
    }
}

.button-container-viewMore--active {
    @extend %workItem--active;
}

.work-imgTile--placeholder {
    background-image: url(/Content/ImagesWork/placeholder-tile.jpg);
}

.work-heroImage--placeholder {
    background-image: url(/Content/ImagesWork/placeholder-heroImage.jpg);
}

.work--separator {
    border-bottom: 1px solid #000;

    @include box-sizing(border-box);

    @include breakpoint(min-width 400px) {
        border-right: 1px solid #000;
    }
}

.work-imgTile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-closeTarget {
    opacity: 0;
    position: fixed;

    @extend %box--dialPlaceholder;

    @include breakpoint(max-width $breakpoint-phablet) {
        right: 0;
        top: 0;

        @include transform(scale(0.6));
    }

    @include breakpoint($breakpoint-phablet $breakpoint-tablet) {
        right: 10px;
        top: 10px;
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        right: 40px;
        top: 20px;
    }
}

.work-item {
    background-color: $color-background--grey;
}

.work-heroImage {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
}

.work-IndicatorContainer {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

.work-IndicatorContainer--MoreInfo {
    bottom: 125px;

    @extend %box-level--middle;
}

.work-PageIndicatorContainer {
    display: none;
    position: absolute;
    right: 2.5em;
    top: 3.8em;
    width: 1em;

    @extend %box-level--modular;

    @include breakpoint(max-width $breakpoint-phablet) {
        right: 1.8em;
    }
}

.work-PageIndicatorContainer--active {
    display: block;
}

.work-PageIndicator {
    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 1em;
    margin-top: 0.5em;
    width: 1em;

    @include transition(background-color 0.4s);

    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.work-PageIndicator--selected {
    background-color: #FFF;

    &:hover {
        background-color: #FFF;
    }
}