@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.work-imgTile--hr {
    background-image: url(/Content/ImagesWork/hr-tile.jpg);
}

.work-heroImage--hr {
    background-image: url(/Content/ImagesWork/hr-heroImage.jpg);
    background-position: top center;
}

.hr-header--main {
    padding: 0.4em 0.5em 0.1em 0.5em;

    @include breakpoint(max-width $breakpoint-netbook) {
        max-width: 6em;
    }
}

.hr-header {
    @extend %slide-top--initialState;
    @include transition-delay(0);
}

.hr-header.in-view {
    @extend %slide-top--endState;
    @include transition-delay(0.5s);
}

.hr-subHeader--main {
    padding: 0 2em;

    @include breakpoint(max-width $breakpoint-netbook) {
        display: none;
    }
}

.hr-subHeader {
    @extend %slide-bottom--initialState;
    @include transition-delay(0);
}

.hr-subHeader.in-view {
    @extend %slide-bottom--endState;
    @include transition-delay(0.5s);
}

.hr__screensContainer {
    background-color: #cfcfcf;
    background: linear-gradient(to bottom right,#cfcfcf, #ffffff);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hr__screens {
    @extend %slide-right--initialState;
    @include transition-delay(0);

    @include breakpoint(max-width $breakpoint-mobileBig) {
        width: 165%;
        margin-left: -100px;
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-phabletBig) {
        width: 140%;
        margin-left: -100px;
    }

    @include breakpoint($breakpoint-phabletBig $breakpoint-tablet) {
        width: 160%;
        margin-left: -200px;
    }

    @include breakpoint($breakpoint-tablet $breakpoint-netbook) {
        width: 160%;
        margin-left: -200px;
        margin-top: -100px;
    }

    @include breakpoint($breakpoint-netbook $breakpoint-notebook) {
        width: 130%;
        margin-left: -200px;
        margin-top: -100px;
    }

    @include breakpoint(min-width $breakpoint-notebook) {
        width: 115%;
        margin-left: -200px;
        margin-top: -250px;
    }
}

.hr__screens.in-view {
    @extend %slide-right--endState;
    @include transition-delay(0.5s);
}

.hr__screensCaption {
    max-width: 20em;
    position: relative;
    text-align: left;

    @include breakpoint(max-width $breakpoint-mobileBig) {
        left: 30px;
        top: 33px;
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-phablet) {
        left: 20%;
        top: 50px;
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        left: 40%;
        top: 90px;
    }
}

.hr__summaryContainer {
    height: 100%;
}

.hr__summaryContainer-content {
    text-align: center;

    @extend %box--spacious;
}

.hr__summaryText {
    @extend %slide-top--initialState;
    @include transition-delay(0);
}

.hr__summaryText.in-view {
    @extend %slide-top--endState;
    @include transition-delay(1s);
}