/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.hr__summaryContainer-content {
  padding: 3em 2em;
}

@media (min-width: 600px) {
  .hr__summaryContainer-content {
    padding: 2em 3em;
  }
}

.hr__screensContainer-img--image1, .hr__screensContainer-img--image2, .hr__screensContainer-img--image3, .hr__screensContainer-img--image4, .hr__screensContainer-img--image5, .hr__screensContainer-img--image6, .hr__screensContainer-img--image7 {
  opacity: 0;
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -moz-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
}

.hr__screensContainer-img--image1.in-view, .hr__screensContainer-img--image2.in-view, .hr__screensContainer-img--image3.in-view, .hr__screensContainer-img--image4.in-view, .hr__screensContainer-img--image5.in-view, .hr__screensContainer-img--image6.in-view, .hr__screensContainer-img--image7.in-view {
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.hr-header, .hr__summaryText {
  opacity: 0;
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.hr-header.in-view, .hr__summaryText.in-view {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hr-subHeader {
  opacity: 0;
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.hr-subHeader.in-view {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.work-imgTile--hr {
  background-image: url(../ImagesWork/hr-tile.jpg);
}

.work-heroImage--hr {
  background-image: url(../ImagesWork/hr-heroImage.jpg);
  background-position: top center;
}

.hr-header {
  padding: 0.4em 0.5em 0.1em 0.5em;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

@media (max-width: 1000px) {
  .hr-header {
    max-width: 6em;
  }
}

.hr-header.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr-subHeader {
  padding: 0 2em;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

@media (max-width: 1000px) {
  .hr-subHeader {
    display: none;
  }
}

.hr-subHeader.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__screensContainer {
  background-color: #cfcfcf;
  background: linear-gradient(to bottom right, #cfcfcf, #ffffff);
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hr__screensContainer-img {
  position: absolute;
}

.hr__screensContainer-img--caption {
  left: 46vw;
  text-align: center;
  top: 4vh;
  width: 20vw;
}

.hr__screensContainer-img--image1 {
  left: -5vw;
  top: -4vh;
  width: 37vw;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__screensContainer-img--image1.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__screensContainer-img--image2 {
  left: -13vw;
  top: 35vh;
  width: 44vw;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__screensContainer-img--image2.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__screensContainer-img--image3 {
  left: 14vw;
  top: 16vh;
  width: 41vw;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__screensContainer-img--image3.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__screensContainer-img--image4 {
  left: 10vw;
  top: 63vh;
  width: 43vw;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__screensContainer-img--image4.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__screensContainer-img--image5 {
  left: 58vw;
  top: 63vh;
  width: 44vw;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__screensContainer-img--image5.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__screensContainer-img--image6 {
  left: 36vw;
  top: 39vh;
  width: 42vw;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__screensContainer-img--image6.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__screensContainer-img--image7 {
  left: 61vw;
  top: -34vh;
  width: 53vw;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__screensContainer-img--image7.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hr__summaryContainer {
  height: 100%;
}

.hr__summaryContainer-content {
  text-align: center;
}

.hr__summaryText {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.hr__summaryText.in-view {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/*# sourceMappingURL=Work-HR.css.map */