/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.boxgrove-summary__content {
  padding: 3em 2em;
}

@media (min-width: 600px) {
  .boxgrove-summary__content {
    padding: 2em 3em;
  }
}

.boxgrove-header, .boxgrove-summaryContent {
  opacity: 0;
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.boxgrove-header.in-view, .boxgrove-summaryContent.in-view {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.boxgrove-subHeader, .boxgrove-screens .boxgrove-screensImg--image1, .boxgrove-screens .boxgrove-screensImg--image2 {
  opacity: 0;
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -moz-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s linear;
}

.boxgrove-subHeader.in-view, .boxgrove-screens.in-view .boxgrove-screensImg--image1, .boxgrove-screens.in-view .boxgrove-screensImg--image2 {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.work-imgTile--boxgrove {
  background-image: url(/Content/ImagesWork/boxgrove-tile.jpg);
}

.work-heroImage--boxgrove {
  background-image: url(/Content/ImagesWork/boxgrove-heroImage.jpg);
}

@media (max-width: 600px) {
  .boxgrove-headings {
    margin-left: 2em;
    max-width: 23em;
    padding-top: 10px;
  }
}

@media (min-width: 600px) {
  .boxgrove-headings {
    text-align: center;
    padding-top: 20px;
  }
}

@media (max-height: 600px) {
  .boxgrove-headings {
    padding-top: 5px;
  }
}

.boxgrove-header {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.boxgrove-header.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.boxgrove-subHeader {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.boxgrove-subHeader.in-view {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.boxgrove-screens {
  background-color: #CCC;
  background: linear-gradient(to bottom right, #F2F2F2, #CCC);
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 300px) {
  .boxgrove-screens {
    height: 750px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .boxgrove-screens {
    height: 1050px;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .boxgrove-screens {
    height: 1200px;
  }
}

@media (min-width: 800px) {
  .boxgrove-screens {
    height: 1400px;
  }
}

.boxgrove-screens .boxgrove-screensImg--image1 {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.boxgrove-screens .boxgrove-screensImg--image2 {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.boxgrove-screens.in-view .boxgrove-screensImg--image1 {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.boxgrove-screens.in-view .boxgrove-screensImg--image2 {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.boxgrove-screensImg {
  position: absolute;
}

.boxgrove-screensImg--title {
  float: right;
  margin-right: 15%;
  margin-top: 2%;
  max-width: 370px;
}

@media (max-width: 600px) {
  .boxgrove-screensImg--title {
    margin-left: 2%;
  }
}

.boxgrove-screensImg--image1 {
  left: -10px;
  max-width: 2500px;
  width: 300vw;
}

@media (max-width: 300px) {
  .boxgrove-screensImg--image1 {
    top: 120px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .boxgrove-screensImg--image1 {
    top: 160px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .boxgrove-screensImg--image1 {
    top: 160px;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .boxgrove-screensImg--image1 {
    top: 160px;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .boxgrove-screensImg--image1 {
    top: 160px;
  }
}

@media (min-width: 800px) {
  .boxgrove-screensImg--image1 {
    left: -15px;
    top: 230px;
  }
}

.boxgrove-screensImg--image2 {
  left: -9px;
  max-width: 1450px;
  width: 175vw;
}

@media (max-width: 300px) {
  .boxgrove-screensImg--image2 {
    top: 360px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .boxgrove-screensImg--image2 {
    top: 480px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .boxgrove-screensImg--image2 {
    top: 530px;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .boxgrove-screensImg--image2 {
    top: 600px;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .boxgrove-screensImg--image2 {
    top: 700px;
  }
}

@media (min-width: 800px) {
  .boxgrove-screensImg--image2 {
    top: 840px;
  }
}

.boxgrove-summary {
  height: 100%;
  width: 100%;
}

.boxgrove-summary__content {
  text-align: center;
}

.boxgrove-summaryContent {
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.boxgrove-summaryContent.in-view {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/*# sourceMappingURL=Work-Boxgrove.css.map */