@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.work-imgTile--boxgrove {
    background-image: url(/Content/ImagesWork/boxgrove/boxgrove-tile.jpg);
}

.work-heroImage--boxgrove {
    @include breakpoint(max-width $breakpoint-mobileBig) {
        background-image: url(/Content/ImagesWork/boxgrove/boxgrove-heroImage_small.jpg);
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-tablet) {
        background-image: url(/Content/ImagesWork/boxgrove/boxgrove-heroImage_medium.jpg);
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        background-image: url(/Content/ImagesWork/boxgrove/boxgrove-heroImage_large.jpg);
    }
}

.boxgrove-headings {
    @include breakpoint(max-width $breakpoint-phablet) {
        margin-left: 2em;
        max-width: 23em;
        padding-top: 10px;
    }

    @include breakpoint(min-width $breakpoint-phablet) {
        text-align: center;
        padding-top: 20px;
    }

    @include breakpoint(max-height $breakpoint-phablet) {
        padding-top: 5px;
    }
}

.boxgrove-screens {
    background-color: #CCC;
    background: linear-gradient(to bottom right,#F2F2F2, #CCC);
    position: relative;
    overflow: hidden;
    width: 100%;

    @include breakpoint(max-width $breakpoint-mobile) {
        height: 400px;
    }

    @include breakpoint($breakpoint-mobile $breakpoint-mobileBig) {
        height: 500px;
    }

    @include breakpoint($breakpoint-mobileBig $breakpoint-tablet) {
        height: 650px;
    }

    @include breakpoint(min-width $breakpoint-tablet) {
        height: 750px;
    }
}

.boxgrove-screensImg {
    display: block;
    position: absolute;

    @extend %slide-left--initialState;
    @include transition-duration(2s);

    &--title {
        float: right;
        margin-right: 15%;
        margin-top: 2%;
        max-width: 370px;

        @include breakpoint(max-width $breakpoint-phablet) {
            margin-left: 2%;
        }
    }

    &--image1 {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;

        @include breakpoint(max-width $breakpoint-mobile) {
            background-image: url(/Content/ImagesWork/boxgrove/boxgrove-image_small.png);
            bottom: 0;
            padding-bottom: 77.91%;
            top: 100px;
        }

        @include breakpoint($breakpoint-mobile $breakpoint-mobileBig) {
            background-image: url(/Content/ImagesWork/boxgrove/boxgrove-image_small.png);
            bottom: 0;
            padding-bottom: 77.91%;
            top: 140px;
        }

        @include breakpoint($breakpoint-mobileBig $breakpoint-notebook) {
            background-image: url(/Content/ImagesWork/boxgrove/boxgrove-image_medium.png);
            padding-bottom: 70.17%;
            top: 140px;
        }

        @include breakpoint(min-width $breakpoint-notebook) {
            background-image: url(/Content/ImagesWork/boxgrove/boxgrove-image_large.png);
            padding-bottom: 56.60%;
            top: 50px;
        }
    }
}

.boxgrove-screensImg.in-view {
    @extend %slide-left--endState;
}

.boxgrove-summary {
    height: 100%;
    width: 100%;

    &__content {
        text-align: center;

        @extend %box--spacious;
    }
}