@import '../Atoms/_boxes';
@import '../Atoms/_mixins';
@import '../Atoms/_transitions';
@import '../Breakpoint/_breakpoint';
@import '../Atoms/_breakpoints';

.work-imgTile--topnav {
    background-image: url(/Content/ImagesWork/topnav/topnav-tile.jpg);
}

.work-heroImage--topnav {
    background-position: top center;
    background-image: url(/Content/ImagesWork/topnav/topnav-heroImage_small.jpg);
    padding-top: 50px;
    text-align: center;

    @include breakpoint($breakpoint-tablet $breakpoint-notebook) {
        background-image: url(/Content/ImagesWork/topnav/topnav-heroImage_medium.jpg);
    }

    @include breakpoint(min-width $breakpoint-notebook) {
        background-image: url(/Content/ImagesWork/topnav/topnav-heroImage_large.jpg);
    }

    .topnav-header {
        padding: 0.5em 1em;
        background-color: rgba(255, 255, 255, 0.9);

        @include breakpoint(min-width $breakpoint-tablet) {
            padding: 0.4em 0.5em 0.1em 0.5em;
            background-color: transparent;
        }
    }
}

.topnav-subHeader {
    display: none;

    @include breakpoint(min-width $breakpoint-tablet) {
        display: block;
        padding: 0 2em;
        margin: 0 auto;
        max-width: 500px;
    }
}

.topnav__screensContainer {
    background-color: #02abe8;
    background: linear-gradient(to bottom right,#02abe8, #02a7e3);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.topnav__screens {
    background-image: url(/Content/ImagesWork/topnav/topnav-screens-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120%;

    @extend %slide-left--initialState;
    @include transition-duration(2s);

    @include breakpoint($breakpoint-tablet $breakpoint-notebook) {
        background-image: url(/Content/ImagesWork/topnav/topnav-screens-medium.png);
        background-size: contain;
        padding-bottom: 80%;
    }

    @include breakpoint(min-width $breakpoint-notebook) {
        background-image: url(/Content/ImagesWork/topnav/topnav-screens-large.png);
        background-size: contain;
        padding-bottom: 60%;
        width: 100%;
        margin-left: -120px;
        margin-top: -130px;
    }
}

.topnav__screens.in-view {
    @extend %slide-left--endState;
}

.topnav__finalScreensContainer {
    background-color: #171717;
    overflow: hidden;
    padding: 3em;
    position: relative;
    text-align: center;
    width: 100%;
}

.topnav__videoContainer {
    background-color: #000;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 1350px;
    padding: 20px;

    @include breakpoint($breakpoint-tablet $breakpoint-notebook) {
        padding: 30px;
    }

    @include breakpoint(min-width $breakpoint-notebook) {
        padding: 50px;
    }
}

.topnav__finalScreens {
    padding-bottom: 90%;

    @extend %slide-left--initialState;
    @include transition-duration(2s);
}

.topnav__finalScreensContainer.in-view {
    @extend %slide-left--endState;
}

.topnav__summaryContainer {
    height: 100%;
}

.topnav__summaryContainer-content {
    text-align: center;
    max-width: 830px;
    margin: 0 auto;

    @extend %box--spacious;
}