/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
/*------------------------------------*    Partials
\*------------------------------------*/
.hr__summaryContainer-content {
  padding: 3em 2em; }
  @media (min-width: 600px) {
    .hr__summaryContainer-content {
      padding: 2em 3em; } }

.hr__screens {
  opacity: 0;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -moz-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -o-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  -webkit-transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s linear; }

.hr__screens.in-view {
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }

/*------------------------------------*    CSS Breakpoints for different devices
\*------------------------------------*/
.work-imgTile--hr {
  background-image: url(/Content/ImagesWork/hr/hr-tile.jpg); }

.work-heroImage--hr {
  background-position: top center; }
  @media (max-width: 400px) {
    .work-heroImage--hr {
      background-image: url(/Content/ImagesWork/hr/hr-heroImage_small.jpg); } }
  @media (min-width: 400px) and (max-width: 800px) {
    .work-heroImage--hr {
      background-image: url(/Content/ImagesWork/hr/hr-heroImage_medium.jpg); } }
  @media (min-width: 800px) {
    .work-heroImage--hr {
      background-image: url(/Content/ImagesWork/hr/hr-heroImage_large.jpg); } }

.hr-header--main {
  padding: 0.4em 0.5em 0.1em 0.6em; }
  @media (max-width: 1000px) {
    .hr-header--main {
      max-width: 6em; } }

.hr-subHeader--main {
  padding: 0 2em; }
  @media (max-width: 1000px) {
    .hr-subHeader--main {
      display: none; } }

.hr__screensContainer {
  background-color: #cfcfcf;
  background: linear-gradient(to bottom right, #cfcfcf, #ffffff);
  position: relative;
  overflow: hidden;
  width: 100%; }

.hr__screens {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90%;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s; }
  @media (max-width: 400px) {
    .hr__screens {
      background-image: url(/Content/ImagesWork/hr/hr-screens_small.png);
      width: 165%;
      margin-left: -100px; } }
  @media (min-width: 400px) and (max-width: 700px) {
    .hr__screens {
      background-image: url(/Content/ImagesWork/hr/hr-screens_medium.png);
      width: 140%;
      margin-left: -100px; } }
  @media (min-width: 700px) and (max-width: 800px) {
    .hr__screens {
      background-image: url(/Content/ImagesWork/hr/hr-screens_medium.png);
      width: 160%;
      margin-left: -200px; } }
  @media (min-width: 800px) and (max-width: 1000px) {
    .hr__screens {
      background-image: url(/Content/ImagesWork/hr/hr-screens_large.png);
      width: 160%;
      margin-left: -200px;
      margin-top: -100px; } }
  @media (min-width: 1000px) and (max-width: 1200px) {
    .hr__screens {
      background-image: url(/Content/ImagesWork/hr/hr-screens_large.png);
      width: 130%;
      margin-left: -200px;
      margin-top: -100px; } }
  @media (min-width: 1200px) {
    .hr__screens {
      background-image: url(/Content/ImagesWork/hr/hr-screens_large.png);
      padding-bottom: 65%;
      width: 115%;
      margin-left: -200px;
      margin-top: -250px; } }

.hr__screensCaption {
  max-width: 20em;
  position: relative;
  text-align: left; }
  @media (max-width: 400px) {
    .hr__screensCaption {
      left: 30px;
      top: 33px; } }
  @media (min-width: 400px) and (max-width: 600px) {
    .hr__screensCaption {
      left: 20%;
      top: 50px; } }
  @media (min-width: 600px) {
    .hr__screensCaption {
      left: 40%;
      top: 90px; } }

.hr__summaryContainer {
  height: 100%; }

.hr__summaryContainer-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }
