<div id="pnlAboutPageIndicator" class="about-PageIndicatorContainer">
    @* JavaScript Renders the contents *@
</div>

<div id="about" data-nv-page="true" data-nv-state="default" data-nv-theme="dark" class="expand-container">
    <div class="expand-contianer__content cf">
        <div class="about cf">
            <section class="about-screen about-me" data-nv-about-page="lightTheme">
                <h1 class="header-main header-large">
                    About Me
                </h1>
                <div class="about-me__content">
                    <img src="~/Content/ImagesAbout/nikolaivillarin.png" alt="Nikolai Villarin Profile Picture" />
                    <div class="about-text">
                        <p>
                            My day job consists of building user-centric web experiences that
                            satisfy a specific business need. And I have extensive experience
                            in building web-applications from design to development. And yes,
                            this means that I am comfortable working with both back-end and
                            front-end technologies. I currently live and work in Toronto, Canada.
                        </p>
                        <br />
                        <p>
                            Let's get in touch if you like my work then don't hesitate to reach out.
                            Or even say hello,
                            <a href="/Contact" class="link--blue">drop me a line.</a>
                        </p>
                    </div>
                </div>
                <div class="work-IndicatorContainer">
                    <div class="scroll-indicator scroll-indicator--dark">
                        <span>Scroll</span>
                        <span class="scroll-indicator__line"></span>
                        <span class="scroll-indicator__circle"></span>
                    </div>
                </div>
            </section>
            <section class="about-screen" data-nv-about-page="darkTheme">
                <div class="about-screen__content">
                    <div class="about-screen__img">
                        <img 
                            src="~/Content/ImagesAbout/vsLogo.png" 
                            alt="Visual Studio Logo" 
                            class="vs-logo"
                        />
                    </div>
                    <div>
                        <h1 class="header-main header-large">
                            Microsoft Certified Professional
                        </h1>
                        <p class="about-text">
                            I am a Microsoft Certified Professional. And I am continually
                            upgrading myself in terms of knowledge.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/aboutPage")
