<section class="about-screen about-screen--polyDog about-screen--darkTheme expand-container"
         data-nv-about-page="darkTheme"
         data-nv-about-page-tooltip="Accessible Web">
    <div class="about-screen__content">
        <div data-nv-animate="noWrap"
             data-nv-animate-delay="600"
             data-nv-animate-type="block">
            <div class="about-bomb-btn about_bomb-btn--polyDog" data-nv-drop-target="explode">
                <div class="about_bombIcon" title="Scatter Shards">
                    <img src="~/Content/ImagesAbout/bombIconLight.svg" alt="Bomb Icon" />
                    <p class="header-tiny header-tiny--onDark">
                        Drop Here To Scatter Shards
                    </p>
                </div>
                <div class="about_bombIcon--expanded">
                    <p>
                        Scatter Shards
                    </p>
                </div>
            </div>
        </div>
        <div class="about-screen__svg">
            <svg id="polyDog"
                 xmlns="http://www.w3.org/2000/svg"
                 width="100%" height="100%"
                 viewBox="0 0 4423 3296"
                 class="about-screen__img"
                 data-nv-about-page-svg
                 data-nv-about-page-graphic-css="about-screen__img-polyDog"
                 data-nv-about-page-graphic-scalar-top="4000"
                 data-nv-about-page-graphic-scalar-bottom="4000"
                 data-nv-about-page-graphic-scalar-right="8000"
                 data-nv-about-page-graphic-scalar-left="3000">
                <g id="Laptop">
                    <path id="Polygon_56" data-name="Polygon 56" class="cls-51" d="M3013,3175l740,80-1.91-75.9Z"
                          data-nv-about-svg-frame-2="M3013,3175l740,80-1.91-75.9Z"
                          data-nv-about-svg-frame-3="M3013,3175l740,80-1.91-75.9Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_57" data-name="Polygon 57" class="cls-43" d="M3753,3255l-740-80,1.91,75.9Z"
                          data-nv-about-svg-frame-2="M3753,3255l-740-80,1.91,75.9Z"
                          data-nv-about-svg-frame-3="M3753,3255l-740-80,1.91,75.9Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_58" data-name="Polygon 58" class="cls-49" d="M4316.32,2744.7l-567.54,436.2,1.25,74.04Z"
                          data-nv-about-svg-frame-2="M4316.32,2744.7l-567.54,436.2,1.25,74.04Z"
                          data-nv-about-svg-frame-3="M4316.32,2744.7l-567.54,436.2,1.25,74.04Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_59" data-name="Polygon 59" class="cls-51" d="M3747.77,3184.95l567.55-436.2-31.25-38.04Z"
                          data-nv-about-svg-frame-2="M3747.77,3184.95l567.55-436.2-31.25-38.04Z"
                          data-nv-about-svg-frame-3="M3747.77,3184.95l567.55-436.2-31.25-38.04Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_60" data-name="Polygon 60" class="cls-52" d="M4311.57,2749.21L3750.2,3255l186.84-110.41Z"
                          data-nv-about-svg-frame-2="M4311.57,2749.21L3750.2,3255l186.84-110.41Z"
                          data-nv-about-svg-frame-3="M4311.57,2749.21L3750.2,3255l186.84-110.41Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_61" data-name="Polygon 61" class="cls-53" d="M3946.91,3133.73L4424,2716.76l-112.36,30.76Z"
                          data-nv-about-svg-frame-2="M3946.91,3133.73L4424,2716.76l-112.36,30.76Z"
                          data-nv-about-svg-frame-3="M3946.91,3133.73L4424,2716.76l-112.36,30.76Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_62" data-name="Polygon 62" class="cls-54" d="M4424.99,2717.02l-143.35-5.25L4313,2752Z"
                          data-nv-about-svg-frame-2="M4424.99,2717.02l-143.35-5.25L4313,2752Z"
                          data-nv-about-svg-frame-3="M4424.99,2717.02l-143.35-5.25L4313,2752Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_63" data-name="Polygon 63" class="cls-55" d="M4283.43,2712.84l136.15,4.5-31.13-17.07Z"
                          data-nv-about-svg-frame-2="M4283.43,2712.84l136.15,4.5-31.13-17.07Z"
                          data-nv-about-svg-frame-3="M4283.43,2712.84l136.15,4.5-31.13-17.07Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_64" data-name="Polygon 64" class="cls-56" d="M3014,3175l734.79,7.01,116.22-97.02Z"
                          data-nv-about-svg-frame-2="M3014,3175l734.79,7.01,116.22-97.02Z"
                          data-nv-about-svg-frame-3="M3014,3175l734.79,7.01,116.22-97.02Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_65" data-name="Polygon 65" class="cls-57" d="M3014.81,3175.37l850.12-88.18L3417,3082Z"
                          data-nv-about-svg-frame-2="M3014.81,3175.37l850.12-88.18L3417,3082Z"
                          data-nv-about-svg-frame-3="M3014.81,3175.37l850.12-88.19L3417,3082Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Face">
                    <path id="Polygon_1" data-name="Polygon 1" class="cls-1" d="M3966.93,560l-55.28,336.737L3546.73,446.663Z"
                          data-nv-about-svg-frame-2="M3826.93,560l-55.28,336.737L3406.73,446.663Z"
                          data-nv-about-svg-frame-3="M4093.06,2542.73l-305.08,152.89,150.2-559.61Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_2" data-name="Polygon 2" class="cls-2" d="M3085.21,1257.63l479.13-807.87L3917.39,884.9Z"
                          data-nv-about-svg-frame-2="M2945.21,1257.63l479.13-807.87L3777.39,884.9Z"
                          data-nv-about-svg-frame-3="M3010.71,2238.34l935.3-86.26-145.08,541.24Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_3" data-name="Polygon 3" class="cls-3" d="M3092.38,1257.34l85.94-1098.894,399.46,292.2Z"
                          data-nv-about-svg-frame-2="M2952.38,1257.34l85.94-1098.894,399.46,292.2Z"
                          data-nv-about-svg-frame-3="M3015.16,2243.98l940.13-575.41-2.11,494.91Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_4" data-name="Polygon 4" class="cls-4" d="M3095.83,1264.07L2373.1,546.705l812.66-381.691Z"
                          data-nv-about-svg-frame-2="M2955.83,1264.07L2233.1,546.705l812.66-381.691Z"
                          data-nv-about-svg-frame-3="M3011.73,2250.72l156.59-1006.19,786.02,433.92Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Ear">
                    <path id="Polygon_5" data-name="Polygon 5" class="cls-5" d="M2183.32,647.273L2409.56,30.487l797.01,146.262Z"
                          data-nv-about-svg-frame-2="M2043.32,647.273L2269.56,30.487l797.01,146.262Z"
                          data-nv-about-svg-frame-3="M2975.51,1149.9l632.16-178.849,349.38,731.129Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_55" data-name="Polygon 55" class="cls-6" d="M3385.46,0.854l138.68,412.739L3220.11,190.32Z"
                          data-nv-about-svg-frame-2="M3245.46,0.854l138.68,412.739L3080.11,190.32Z"
                          data-nv-about-svg-frame-3="M4204.46,1743.77l-252.77,354.54,2.32-377.2Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_6" data-name="Polygon 6" class="cls-7" d="M3380.91,6.052L3233.6,194.083,2968.85,136.13Z"
                          data-nv-about-svg-frame-2="M3240.91,6.052L3093.6,194.083,2828.85,136.13Z"
                          data-nv-about-svg-frame-3="M4197.58,1743.14l-238.7-8.9-108.47-248.37Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Neck">
                    <path id="Polygon_7" data-name="Polygon 7" class="cls-8" d="M3098.87,1249.54l-677.66-41.4-34.31-652.7Z"
                          data-nv-about-svg-frame-2="M2958.87,1249.54l-677.66-41.4-34.31-652.7Z"
                          data-nv-about-svg-frame-3="M3081.16,2236.17l-436.12-501.78,524.27-475.92Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_8" data-name="Polygon 8" class="cls-9" d="M2421.7,1190.28l680.49,53.16-91.62,343.67Z"
                          data-nv-about-svg-frame-2="M2281.7,1190.28l680.49,53.16-91.62,343.67Z"
                          data-nv-about-svg-frame-3="M2658.12,1722.2l439.71,522.06-309.11,175.93Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_9" data-name="Polygon 9" class="cls-10" d="M3391.74,1668.14l-393.48-89.06,91.22-337.82Z"
                          data-nv-about-svg-frame-2="M3251.74,1668.14l-393.48-89.06,91.22-337.82Z"
                          data-nv-about-svg-frame-3="M2998.51,2748.58L2785.8,2405.77l304.67-172.1Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_10" data-name="Polygon 10" class="cls-11" d="M3084.69,1253.96l354.95-164.89-53.84,580.45Z"
                          data-nv-about-svg-frame-2="M2944.69,1253.96l354.95-164.89-53.84,580.45Z"
                          data-nv-about-svg-frame-3="M3078.05,2239.17l246.58,177.12-331.27,329.02Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Colar">
                    <path id="Polygon_11" data-name="Polygon 11" class="cls-12" d="M3508.29,1631.29l-136.58,228.64,17.23-362.49Z"
                          data-nv-about-svg-frame-2="M3368.29,1631.29l-136.58,228.64,17.23-362.49Z"
                          data-nv-about-svg-frame-3="M3106.56,2805.74l-258.72,63.17,270.31-242.12Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_12" data-name="Polygon 12" class="cls-13" d="M3000.82,1577.47l388.85,86.67-10.75,206.58Z"
                          data-nv-about-svg-frame-2="M2860.82,1577.47l388.85,86.67-10.75,206.58Z"
                          data-nv-about-svg-frame-3="M2788.75,2406.47l211.16,337.83-154.7,137.33Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_13" data-name="Polygon 13" class="cls-14" d="M3378.92,1845.18L2286.9,1423.93l134.7-262.4Z"
                          data-nv-about-svg-frame-2="M3238.92,1845.18L2146.9,1423.93l134.7-262.4Z"
                          data-nv-about-svg-frame-3="M2863.4,2863.7L2397.07,1790.15l281.45-88.2Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="LeftLeg">
                    <path id="Polygon_17" data-name="Polygon 17" class="cls-15" d="M2751.89,2534.88l302.22-122.96,144.93,116.58Z"
                          data-nv-about-svg-frame-2="M2611.89,2534.88l302.22-122.96,144.93,116.58Z"
                          data-nv-about-svg-frame-3="M2704.19,3089.83L2960.2,2851.2l487.97,249.89Z"
                          data-nv-about-svg-frame-4="M2704.19,3089.83L2960.2,2851.2l517.97,309.89Z"
                          data-nv-about-svg-frame-5="M2704.19,3089.83L2960.2,2851.2,3543,3115Z"
                          data-nv-about-svg-frame-6="M2704.19,3089.83L2960.2,2851.2l630.64,247.64Z"
                          data-nv-about-svg-frame-7="M2704.19,3089.83L2960.2,2851.2,3564,3161Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_18" data-name="Polygon 18" class="cls-16" d="M2797.17,2858.32l-8.68-326.88,413.37-9.8Z"
                          data-nv-about-svg-frame-2="M3222,2900l-573.51-368.56,413.37-9.8Z"
                          data-nv-about-svg-frame-3="M3450.57,3107.29L2960.8,2855.8l414.25,91.59Z"
                          data-nv-about-svg-frame-4="M3477.32,3162.41L2960.8,2855.8l404.25,151.59Z"
                          data-nv-about-svg-frame-5="M3549,3118l-588.2-262.2L3379,2975Z"
                          data-nv-about-svg-frame-6="M3595,3102l-634.2-246.2L3379,2948Z"
                          data-nv-about-svg-frame-7="M3558.23,3160L2960.8,2855.8,3379,3018Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Chest">
                    <path id="Polygon_14" data-name="Polygon 14" class="cls-17" d="M2287.56,1405.6l1093.82,438.84L2814.1,2233.16Z"
                          data-nv-about-svg-frame-2="M2147.56,1405.6l1093.82,438.84L2674.1,2233.16Z"
                          data-nv-about-svg-frame-3="M2400.41,1786l445.62,1029.2-223.89-73.72Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_15" data-name="Polygon 15" class="cls-18" d="M3385.47,1839.34l-333.18,581.05-250.44-199.55Z"
                          data-nv-about-svg-frame-2="M3245.47,1839.34l-333.18,581.05-250.44-199.55Z"
                          data-nv-about-svg-frame-3="M2962,2857.36l-167.94,146.93-179.38-278.5Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_16" data-name="Polygon 16" class="cls-19" d="M2751.2,2541.42l55.37-324.98,250.44,195.83Z"
                          data-nv-about-svg-frame-2="M2611.2,2541.42l55.37-324.98,250.44,195.83Z"
                          data-nv-about-svg-frame-3="M2704,3099l-83.41-375.79,178.25,279.71Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_19" data-name="Polygon 19" class="cls-20" d="M2316.4,2166.73l-22.48-767.58,518.11,825.12Z"
                          data-nv-about-svg-frame-2="M2176.4,2166.73l-22.48-767.58,518.11,825.12Z"
                          data-nv-about-svg-frame-3="M2174.76,2513.49l233.79-731.46,214.59,950.37Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="RightLeg">
                    <path id="Polygon_20" data-name="Polygon 20" class="cls-21" d="M2308.4,2738.94l17.41-588.58,488.94,63.24Z"
                          data-nv-about-svg-frame-2="M2287.61,2838.55l-94.65-679.47,481.46,60.8Z"
                          data-nv-about-svg-frame-3="M2011.34,3069.34l173.58-562.28,434.63,215.86Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_21" data-name="Polygon 21" class="cls-22" d="M2664.83,3171.64l-356.47-446.3,500.88-506.84Z"
                          data-nv-about-svg-frame-2="M2725.8,3188.21l-441.04-362.96,385.28-599.44Z"
                          data-nv-about-svg-frame-3="M2237,3223l-232-153,608.46-342.92Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_22" data-name="Polygon 22" class="cls-23" d="M2725.43,2716.45l177.63,452.43-253.36-4.51Z"
                          data-nv-about-svg-frame-2="M2690.98,2730.33l267.33,405.93-248.82,47.97Z"
                          data-nv-about-svg-frame-3="M2404.2,2997.38L2646,3253l-410-34.23Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="UpperBody">
                    <path id="Polygon_23" data-name="Polygon 23" class="cls-24" d="M2331.92,2160.1l-261.13-678.4,234.15-80.09Z"
                          data-nv-about-svg-frame-2="M2191.92,2160.1l-261.13-678.4,234.15-80.09Z"
                          data-nv-about-svg-frame-3="M2191.61,2512.39l-20.94-726.62,247.46,2.24Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_24" data-name="Polygon 24" class="cls-25" d="M2078.17,1482.66l258.19,673.87-90.04,193.3Z"
                          data-nv-about-svg-frame-2="M1938.17,1482.66l258.19,673.87-90.04,193.3Z"
                          data-nv-about-svg-frame-3="M2177.31,1789.13l19.68,721.37-149.14,152.41Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_25" data-name="Polygon 25" class="cls-26" d="M2230.54,2297.25l107.98-147.79-26.4,456.72Z"
                          data-nv-about-svg-frame-2="M2090.54,2297.25l107.98-147.79,55.87,446.72Z"
                          data-nv-about-svg-frame-3="M2050.42,2608.08l150.95-103.53-147.39,434.83Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_26" data-name="Polygon 26" class="cls-27" d="M2318.07,2604.32l-421.88-607.64,182.84-517.59Z"
                          data-nv-about-svg-frame-2="M2255.79,2604.32l-499.6-607.64,182.84-517.59Z"
                          data-nv-about-svg-frame-3="M2054.29,2935.99l-219.38-722.48,344.4-427.46Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_27" data-name="Polygon 27" class="cls-28" d="M2322.24,2602.13l-998.38-244.48,578.66-376.16Z"
                          data-nv-about-svg-frame-2="M2262.24,2609.86L1183.86,2357.65l578.66-376.16Z"
                          data-nv-about-svg-frame-3="M2057,2929.97l-881.83-566.11,670.76-162.58Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_28" data-name="Polygon 28" class="cls-29" d="M2319.36,2596.2l-853.08,21.18-78.35-294.9Z"
                          data-nv-about-svg-frame-2="M2249.36,2606.2l-923.08,11.18-78.35-294.9Z"
                          data-nv-about-svg-frame-3="M2057.59,2927.15l-834.37-271.01,24.07-304.17Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_29" data-name="Polygon 29" class="cls-30" d="M1392.1,2322.88l87.07,291.93-303.66-1.85Z"
                          data-nv-about-svg-frame-2="M1252.1,2322.88l87.07,291.93-303.66-1.85Z"
                          data-nv-about-svg-frame-3="M1251.08,2353.73L1236.23,2658,950.437,2555.39Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Strap">
                    <path id="Polygon_30" data-name="Polygon 30" class="cls-31" d="M2133.7,1318.78l159.71,91.27-233.6,84.99Z"
                          data-nv-about-svg-frame-2="M1993.7,1318.78l159.71,91.27-233.6,84.99Z"
                          data-nv-about-svg-frame-3="M2284.13,1653l120.31,139.15-248.56,2.56Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_31" data-name="Polygon 31" class="cls-32" d="M1903.75,1989.86L1787.2,1493.93l355.58-175.27Z"
                          data-nv-about-svg-frame-2="M1763.75,1989.86L1647.2,1493.93l355.58-175.27Z"
                          data-nv-about-svg-frame-3="M1844.31,2209.58l54.81-506.48,393.61-47.2Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_32" data-name="Polygon 32" class="cls-33" d="M1791.68,1488.49l121.41,495.13-274.31,9.01Z"
                          data-nv-about-svg-frame-2="M1651.68,1488.49l121.41,495.13-274.31,9.01Z"
                          data-nv-about-svg-frame-3="M1905.15,1699.46l-49.96,507.34-261.72-82.62Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_33" data-name="Polygon 33" class="cls-34" d="M1392.52,2329.04l238.94-347.82,276.68-2.76Z"
                          data-nv-about-svg-frame-2="M1252.52,2329.04l238.94-347.82,276.68-2.76Z"
                          data-nv-about-svg-frame-3="M1249.43,2359.67l340.92-248.69,261.88,89.31Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_34" data-name="Polygon 34" class="cls-35" d="M1659.01,1969.16l-495.25,670-46.56-353.47Z"
                          data-nv-about-svg-frame-2="M1519.01,1969.16l-495.25,670L977.2,2285.69Z"
                          data-nv-about-svg-frame-3="M1620.34,2108.76L930.648,2576.2l73.5-348.87Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Butt">
                    <path id="Polygon_35" data-name="Polygon 35" class="cls-36" d="M1118.84,2291.17l676.75-807.32-142.61,495.86Z"
                          data-nv-about-svg-frame-2="M978.84,2291.17l676.75-807.32-142.61,495.86Z"
                          data-nv-about-svg-frame-3="M978.84,2291.17l929.22-587.97-305.08,412.74Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_36" data-name="Polygon 36" class="cls-9" d="M1793.57,1490.78l-668.41,808.6L459.774,2030.73Z"
                          data-nv-about-svg-frame-2="M1653.57,1490.78l-668.409,808.6L319.774,2030.73Z"
                          data-nv-about-svg-frame-3="M1898.92,1708.11L985.161,2299.38,319.774,2030.73Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_37" data-name="Polygon 37" class="cls-37" d="M1794.47,1497.18L464.126,2033.33l426.968-530.88Z"
                          data-nv-about-svg-frame-2="M1654.47,1497.18L324.126,2033.33l426.968-530.88Z"
                          data-nv-about-svg-frame-3="M1877.14,1715.2L324.126,2033.33l426.968-530.88Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_38" data-name="Polygon 38" class="cls-38" d="M897.437,1503.82l-436.4,541.92,95.024-308.25Z"
                          data-nv-about-svg-frame-2="M757.437,1503.82l-436.4,541.92,95.024-308.25Z"
                          data-nv-about-svg-frame-3="M757.437,1503.82l-436.4,541.92,95.024-308.25Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_39" data-name="Polygon 39" class="cls-39" d="M458.084,2018.3l168.338,71.83-113.361,83.8Z"
                          data-nv-about-svg-frame-2="M318.084,2018.3l168.338,71.83-113.361,83.8Z"
                          data-nv-about-svg-frame-3="M318.084,2018.3l168.338,71.82-113.361,83.81Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="Tail">
                    <path id="Polygon_40" data-name="Polygon 40" class="cls-37" d="M901.684,856.15L677.141,1675.88l-111.779,66.8Z"
                          data-nv-about-svg-frame-2="M915.243,893.27l-384.3,763.02L419.28,1736.86Z"
                          data-nv-about-svg-frame-3="M452.819,878.5l54.437,796.461-73.694,50.93Z"
                          data-nv-about-svg-frame-4="M915.243,893.27l-384.3,763.02L419.28,1736.86Z"
                          data-nv-about-svg-frame-5="M452.819,878.5l54.437,796.461-73.694,50.93Z"
                          data-nv-about-svg-frame-6="M915.243,893.27l-384.3,763.02L419.28,1736.86Z"
                          data-nv-about-svg-frame-7="M452.819,878.5l54.437,796.461-73.694,50.93Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_41" data-name="Polygon 41" class="cls-20" d="M572.288,1729.37L777.68,940.337l134.7-78.345Z"
                          data-nv-about-svg-frame-2="M437.5,1708.06L776.88,950.892l147.675-49.753Z"
                          data-nv-about-svg-frame-3="M433.89,1726L363.272,998.691,464.843,880.51Z"
                          data-nv-about-svg-frame-4="M437.5,1708.06L776.88,950.892l147.675-49.753Z"
                          data-nv-about-svg-frame-5="M433.89,1726L363.272,998.691,464.843,880.51Z"
                          data-nv-about-svg-frame-6="M437.5,1708.06L776.88,950.892l147.675-49.753Z"
                          data-nv-about-svg-frame-7="M433.89,1726L363.272,998.691,464.843,880.51Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_42" data-name="Polygon 42" class="cls-40" d="M802.908,417.187L912.949,867.549,779.035,970.956Z"
                          data-nv-about-svg-frame-2="M906.461,443.417L924,906.7,772.071,981.161Z"
                          data-nv-about-svg-frame-3="M215.577,496.188L467.2,885.575l-92.607,141.6Z"
                          data-nv-about-svg-frame-4="M906.461,443.417L924,906.7,772.071,981.161Z"
                          data-nv-about-svg-frame-5="M215.577,496.188L467.2,885.575l-92.607,141.6Z"
                          data-nv-about-svg-frame-6="M906.461,443.417L924,906.7,772.071,981.161Z"
                          data-nv-about-svg-frame-7="M215.577,496.188L467.2,885.575l-92.607,141.6Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="LeftTire">
                    <path id="Polygon_49" data-name="Polygon 49" class="cls-41" d="M1515.22,2731.34l-240.09,439.53-215.97-407.71Z"
                          data-nv-about-svg-frame-2="M1311.13,2744.55l301.88,395.14-455.97,20.2Z"
                          data-nv-about-svg-frame-3="M1311.13,2744.55l301.88,395.14-455.97,20.2Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_50" data-name="Polygon 50" class="cls-42" d="M1507.47,2737.05l-434.4,29.64,76.37-179.55Z"
                          data-nv-about-svg-frame-2="M1313.15,2753.97l-151.66,408.14-132.25-143.46Z"
                          data-nv-about-svg-frame-3="M1313.15,2753.97l-151.66,408.14-132.25-143.46Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_51" data-name="Polygon 51" class="cls-43" d="M1510.31,2747.42l-336.13-135.08,749.82-8.62Z"
                          data-nv-about-svg-frame-2="M1323.77,2755.64l-294.99,264.19L2008,2593.67Z"
                          data-nv-about-svg-frame-3="M1323.77,2755.64l-294.99,264.19L1008,2568.38Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_52" data-name="Polygon 52" class="cls-44" d="M1496.54,2744.17l421.36-142.8,89.09,140.97Z"
                          data-nv-about-svg-frame-2="M1315.14,2766.86l-275.75-153.08,696-7Z"
                          data-nv-about-svg-frame-3="M1315.14,2766.86l-281.52-182.6,713.78,241.4Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_53" data-name="Polygon 53" class="cls-45" d="M1500.77,2735.85l498.71-.09-244.35,432.21Z"
                          data-nv-about-svg-frame-2="M1309.3,2759.58L1736,2606l62.82,97.23Z"
                          data-nv-about-svg-frame-3="M1309.3,2759.58l437.48,61.75-35.84,80.84Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_54" data-name="Polygon 54" class="cls-46" d="M1280.31,3164.7l229.56-450.36,249.85,443.17Z"
                          data-nv-about-svg-frame-2="M1609.51,3136.91l-316.08-394.48,506.71-45.45Z"
                          data-nv-about-svg-frame-3="M1609.51,3136.91l-316.08-394.48,449.88,88.77Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
                <g id="RightTire">
                    <path id="Polygon_43" data-name="Polygon 43" class="cls-47" d="M682.813,2658.45l-78.619-571.14,525.886,196.26Z"
                          data-nv-about-svg-frame-2="M561.5,2658.18L35.938,2421.16l445.786-341.1Z"
                          data-nv-about-svg-frame-3="M561.5,2658.18L35.938,2421.16l445.786-341.1Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_44" data-name="Polygon 44" class="cls-48" d="M689.1,2654.47l-531.7-209.01,460.165-361.69Z"
                          data-nv-about-svg-frame-2="M561.47,2650.73L101.8,2989.98,40.052,2407.95Z"
                          data-nv-about-svg-frame-3="M561.47,2650.73L101.8,2989.98,40.052,2407.95Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_45" data-name="Polygon 45" class="cls-49" d="M687.194,2645.16L252.535,2999.05l-84.982-570.26Z"
                          data-nv-about-svg-frame-2="M552.57,2647.4l68.688,556.28L93.075,2972.53Z"
                          data-nv-about-svg-frame-3="M552.57,2647.4l68.688,556.28L93.075,2972.53Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_46" data-name="Polygon 46" class="cls-50" d="M684.616,2640.97l95.009,556L242.3,2990.95Z"
                          data-nv-about-svg-frame-2="M547.646,2647.36l521.444,215.08-460.131,345.6Z"
                          data-nv-about-svg-frame-3="M547.645,2647.36l521.445,215.08-460.131,345.6Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_47" data-name="Polygon 47" class="cls-46" d="M680.337,2635.45l544.023,205.63L769.884,3199.06Z"
                          data-nv-about-svg-frame-2="M540.7,2648.05l463.36-351.49,61.62,575.24Z"
                          data-nv-about-svg-frame-3="M540.7,2648.05l463.36-351.49,61.62,575.24Z"
                          data-nv-about-svg-frame-duration="200" />
                    <path id="Polygon_48" data-name="Polygon 48" class="cls-51" d="M680.751,2642.39l444.619-355.95,101.03,557.52Z"
                          data-nv-about-svg-frame-2="M546.794,2651.38l-65.148-565.81,525.934,210.8Z"
                          data-nv-about-svg-frame-3="M546.794,2651.38l-65.148-565.81,525.934,210.8Z"
                          data-nv-about-svg-frame-duration="200" />
                </g>
            </svg>
        </div>
        <div class="about-screen__splash">
            <h1 class="header-main header-large">
                <span class="about-screen_header"
                      data-nv-animate
                      data-nv-animate-delay="0"
                      data-nv-animate-type="text">
                    I Believe in
                </span>
                <span class="about-screen_subHeader"
                      data-nv-animate
                      data-nv-animate-delay="600"
                      data-nv-animate-type="text">
                    Accessibility
                </span>
            </h1>
            <br />
            <div data-nv-animate="noWrap"
                 data-nv-animate-delay="900"
                 data-nv-animate-auto-play="false"
                 data-nv-animate-type="text">
                <p class="about-screen__desc about-text header-small header-small--onDark">
                    I believe in many things, but one of the items high on my list is accessibility.
                    The web should be accessible to anyone, anywhere, on any device.
                </p>
            </div>
            <div data-nv-animate="noWrap"
                 data-nv-animate-delay="800"
                 data-nv-animate-type="block">
                <button class="about-screen__target"
                        data-nv-drop-target="moreDetails">
                    <span class="target-text">
                        Drop dial here <br />
                        to learn more
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>