<section class="about-screen about-screen--ninja expand-container"
         data-nv-about-page="lightTheme"
         data-nv-about-page-tooltip="Being a Ninja?">
    <div class="about-screen__content">
        <div data-nv-animate="noWrap"
             data-nv-animate-delay="600"
             data-nv-animate-type="block">
            <div class="about-bomb-btn about_bomb-btn--ninja" data-nv-drop-target="explode">
                <div class="about_bombIcon" title="Scatter Shards">
                    <img src="~/Content/ImagesAbout/bombIconDark.svg" alt="Bomb Icon" />
                    <p class="header-tiny">
                        Drop Here To Scatter Shards
                    </p>
                </div>
                <div class="about_bombIcon--expanded">
                    <p>
                        Scatter Shards
                    </p>
                </div>
            </div>
        </div>
        <div class="about-screen__svg">
            <svg id="ninja"
                 xmlns="http://www.w3.org/2000/svg"
                 width="100%" height="100%"
                 viewBox="0 0 1947 3123"
                 class="about-screen__img"
                 data-nv-about-page-svg
                 data-nv-about-page-graphic-css="about-screen__img-ninja"
                 data-nv-about-page-graphic-scalar-top="3000"
                 data-nv-about-page-graphic-scalar-bottom="2000"
                 data-nv-about-page-graphic-scalar-right="7000"
                 data-nv-about-page-graphic-scalar-left="3000">
                <path class="cls-1" d="M1186,2940l149-211,15,132Z" />
                <path class="cls-2" d="M1149,2647l88.71,226.29L1336,2730Z" />
                <path class="cls-3" d="M1071.64,2648.86L1242,2869l-91-222Z" />
                <path class="cls-4" d="M1077,2653l110,287,56-71Z" />
                <path class="cls-5" d="M1076,2649l-34.34,361.09L1190,2937.86Z" />
                <path class="cls-6" d="M945,2721l150,192-18-266Z" />
                <path class="cls-7" d="M919,2860l175,51L945,2719Z" />
                <path class="cls-6" d="M942.928,2720.78L1096,2914l-17-267Z" />
                <path class="cls-7" d="M918,2860l25-142,154,194Z" />
                <path class="cls-8" d="M918,2860l125,150,55-99Z" />
                <path class="cls-9" d="M916,3121l107-131,18.43,109.28Z" />
                <path class="cls-10" d="M1023,2991L919,3123l-16-42Z" />
                <path class="cls-11" d="M905,3086l-50.4-303.7,176.181,203.81Z" />
                <path class="cls-12" d="M836,3057l111.716-149.87L906,3086Z" />
                <path class="cls-13" d="M700,3035l137,24,55-78Z" />
                <path class="cls-14" d="M701,3036l108-153,84,99Z" />
                <path class="cls-15" d="M808,2885l83,98,1-91Z" />
                <path class="cls-16" d="M783,2820l24,66,87,7Z" />
                <path class="cls-17" d="M787,2825l60-51,46,120Z" />
                <path class="cls-18" d="M846,2775l46,119,85.134,21.09Z" />
                <path class="cls-19" d="M847,2775l72,84,27-141Z" />
                <path class="cls-20" d="M765,2767l20,60,64-53Z" />
                <path class="cls-21" d="M695,3043l71-278,43,122Z" />
                <path class="cls-22" d="M694,3032l-5,90,82-77Z" />
                <path class="cls-23" d="M570,3045l118.231,77.38L696,3035Z" />
                <path class="cls-24" d="M569,3046l197-280-66,271Z" />
                <path class="cls-24" d="M502,2975l69,75,195-283Z" />
                <path class="cls-25" d="M659,2743L510,2984l259-217Z" />
                <path class="cls-26" d="M439,2804l73,182,151-242Z" />
                <path class="cls-27" d="M438,2804l184-120,41,63Z" />
                <path class="cls-28" d="M406,2704l34,101,184-119Z" />
                <path class="cls-29" d="M315,2817l94-114,106,286Z" />
                <path class="cls-30" d="M359,2941l-44-126,201,173Z" />
                <g id="LeftBelly">
                    <path class="cls-31" d="M424,2652l11,52,191-16Z" />
                    <path class="cls-32" d="M625,2688l-122.276-85.18-78.9,51.54Z" />
                    <path class="cls-33" d="M497,2603l127,86,112-45Z" />
                    <path class="cls-34" d="M497,2606.53L573,2554l163,90Z" />
                    <path class="cls-35" d="M620.2,2687.2L662,2749l75-108Z" />
                    <path class="cls-36" d="M734,2640l-73,106.47L772,2769Z" />
                    <path class="cls-37" d="M732,2641l39,129,56-86Z" />
                    <path class="cls-38" d="M771,2769l80,8-27-96Z" />
                </g>
                <g id="RightBelly">
                    <path class="cls-39" d="M822.734,2684L848,2778.27,1080,2649Z" />
                    <path class="cls-40" d="M824,2686l275-143,55,111Z" />
                    <path class="cls-41" d="M1096,2544l55,109,26-95Z" />
                    <path class="cls-42" d="M1173,2558l-26.91,97,63.91,23Z" />
                </g>
                <g id="RightArm">
                    <path class="cls-43" d="M1043,2410l48,136,89.75,13.62Z" />
                    <path class="cls-44" d="M1130.62,2354.75L1042,2411l134.38,149Z" />
                    <path class="cls-45" d="M1174,2560.38l60-48.38-104-160Z" />
                    <path class="cls-46" d="M1130,2354l101,158,7-113Z" />
                    <path class="cls-47" d="M1128,2358.75l25-77.75,85,118Z" />
                    <path class="cls-48" d="M1038,2340l6.8,69.8L1132,2358Z" />
                    <path class="cls-49" d="M1235,2398l-15,160,104-126Z" />
                    <path class="cls-50" d="M1235.5,2402.5L1328,2435l-68.5-127Z" />
                    <path class="cls-51" d="M1153,2282l85,120,30-93Z" />
                    <path class="cls-52" d="M1154,2282l62-190,52.5,223Z" />
                </g>
                <g id="LeftShoulder">
                    <path id="Polygon_1" data-name="Polygon 1" class="cls-53" d="M443,1947l39.161,123.61-76.49-33.21Z" />
                    <path class="cls-54" d="M441.305,1948l101,72L523,1899Z" />
                    <path class="cls-55" d="M521,1901l20,119,219,94Z" />
                    <path id="Polygon_2" data-name="Polygon 2" class="cls-56" d="M899.135,2156.43l-86.364,62.23L752.78,2105.73Z" />
                    <path class="cls-57" d="M548.409,2021.2L754,2106l75,123Z" />
                    <path class="cls-58" d="M520,1900l233,210,37-99Z" />
                    <path class="cls-59" d="M522,1901l200,19,67,101Z" />
                    <path class="cls-60" d="M519,1901l27.675-57.97L723,1921Z" />
                </g>
                <g id="Undershirt">
                    <path class="cls-61" d="M753,2107l36-92,29,126Z" />
                    <path class="cls-62" d="M788,2016l27,124,68-190Z" />
                    <path class="cls-12" d="M831,2020l-17,121,59-37Z" />
                    <path class="cls-63" d="M721,1920l67,99,89-61Z" />
                </g>
                <g id="RightShoulder">
                    <path class="cls-64" d="M815,2138l81,17-24-55Z" />
                    <path class="cls-65" d="M830,2022l66,134,172-122Z" />
                    <path class="cls-66" d="M830,2025l47-69,191,79Z" />
                    <path class="cls-67" d="M874,1957l193,80,33-145Z" />
                    <path class="cls-68" d="M1064,2037l36-145,86,61Z" />
                    <path class="cls-69" d="M878,1957l222-62-13-39Z" />
                </g>
                <g id="Book">
                    <path class="cls-70" d="M823,2687.5L1041.5,2402l52.5,146Z" />
                    <path class="cls-71" d="M1042,2341l30,34L826,2684Z" />
                    <path class="cls-71" d="M1247.5,2017l-207,325,91.5,15.5Z" />
                    <path class="cls-72" d="M824,2689l423.5-672L805,2212Z" />
                    <path class="cls-73" d="M826,2203l379-267-6,104Z" />
                    <path class="cls-74" d="M404.5,2036.5L824,2687l-13-478Z" />
                    <path class="cls-74" d="M826,2686L569.051,2279l0.449,291Z" />
                    <path class="cls-75" d="M489.19,2388.36l-82.28-355.04,201.259,310.5Z" />
                    <path id="Polygon_9" data-name="Polygon 9" class="cls-76" d="M439.063,1939.5L794,2202,481,2070Z" />
                </g>
                <g id="LeftArm">
                    <path class="cls-77" d="M385.5,2568.66L503,2607.5,353,2431Z" />
                    <path class="cls-46" d="M353,2436.5L500,2605l73.775-49.09Z" />
                    <path class="cls-78" d="M354.5,2438.5L571.416,2556l1-200Z" />
                    <path class="cls-79" d="M353.5,2440l124.251-132.78L500,2384.17Z" />
                    <path class="cls-80" d="M352,2435l43,141-79-46Z" />
                    <path class="cls-81" d="M317,2531l-22-138,58,43Z" />
                    <path class="cls-82" d="M295,2395l58,43-8-118Z" />
                    <path class="cls-83" d="M353,2438l126.18-131.27L343,2319Z" />
                    <path class="cls-84" d="M344,2323l74-242,60.91,227Z" />
                </g>
                <g id="Face">
                    <path class="cls-62" d="M817,1570l340,258,103-126Z" />
                    <path class="cls-85" d="M817,1569l60,389,285-133Z" />
                    <path class="cls-86" d="M818,1568L594,1886l288,73Z" />
                    <path class="cls-87" d="M411,1732l187.034,156L818,1569Z" />
                    <path class="cls-88" d="M234,1387l375,267,220-84.93Z" />
                    <path class="cls-89" d="M236,1387l180,346,196-80Z" />
                    <path class="cls-90" d="M266,1445l33,216,111,57Z" />
                    <path class="cls-91" d="M209,1525l92,138-33-220Z" />
                </g>
                <g id="Headband">
                    <path class="cls-92" d="M170,1373.4L1298.4,1719,1176,1577Z" />
                    <path class="cls-93" d="M1176,1584l89-305,32,444Z" />
                    <path class="cls-94" d="M1263,1278.1l32,441.9,142-322.6Z" />
                    <path class="cls-95" d="M1180.04,1580.91L254,1310l-88,66Z" />
                    <path class="cls-96" d="M167,1376l92-65,43.412-282.05Z" />
                    <path class="cls-97" d="M172.365,1377.32L251,953l58,79Z" />
                    <path class="cls-98" d="M249,957l1016,326L305,1038Z" />
                    <path class="cls-99" d="M252,958l1013,329-202-156Z" />
                    <path class="cls-100" d="M1180,1581l-110-85L257,1311Z" />
                    <path class="cls-101" d="M1066,1499l112,84,86-298Z" />
                    <path class="cls-102" d="M300.4,1032.1l774,467.5L254.4,1311Z" />
                    <path class="cls-103" d="M299,1034.1L1068,1499l198.6-216.51Z" />
                </g>
                <g id="Hair">
                    <path id="Polygon_6" data-name="Polygon 6" class="cls-104" d="M1279,1137l159,263L901,1041Z" />
                    <path class="cls-105" d="M1278.42,1137.58L1531,1562l-84-379.16Z" />
                    <path class="cls-106" d="M1398,1055l132,509-23-471Z" />
                    <path class="cls-107" d="M1515,1374l101-143,94,356Z" />
                    <path class="cls-108" d="M1498,1093l19,284,103-139Z" />
                    <path class="cls-107" d="M1614,1242l23.94-147L1730,1369Z" />
                    <path class="cls-109" d="M1618,1246L1480,725.84,1662,979Z" />
                    <path class="cls-110" d="M1621,1246L1485,725l13,372.58Z" />
                    <path class="cls-111" d="M1641,1104l18-131.1,246,3.1Z" />
                    <path class="cls-112" d="M1540.26,814.74l118.16,163.84L1881,695Z" />
                    <path class="cls-113" d="M1478.84,726.26l64.42,94.48L1943,467Z" />
                    <path class="cls-114" d="M1398,1061l103,31-8-392.482Z" />
                    <path class="cls-115" d="M1258,461l222,270,467-262Z" />
                    <path class="cls-116" d="M1264,463l136,603,87-338Z" />
                    <path class="cls-117" d="M1265,463l17,676,153,43Z" />
                    <path class="cls-118" d="M524,786l760,358.01L1263.61,351Z" />
                    <path class="cls-119" d="M534.79,786.209L913,1049l374,92Z" />
                    <path class="cls-120" d="M538,791.518L691.847,360.484,1390,278Z" />
                    <path class="cls-121" d="M243.182,580.212L548.653,795.524,818,0Z" />
                    <path class="cls-122" d="M0,406l1023.4,718.46L251,960Z" />
                    <path class="cls-120" d="M-8,758L257.242,965,176,787Z" />
                </g>
            </svg>
        </div>
        <div class="about-screen__splash">
            <h1 class="header-main header-large">
                <span class="about-screen_header"
                      data-nv-animate
                      data-nv-animate-delay="0"
                      data-nv-animate-type="text">
                    I Believe in
                </span><br />
                <span class="about-screen_subHeader"
                      data-nv-animate
                      data-nv-animate-delay="600"
                      data-nv-animate-type="text">
                    Being a Ninja?
                </span>
            </h1>
            <br />
            <div>
                <p data-nv-animate
                   data-nv-animate-delay="900"
                   data-nv-animate-auto-play="false"
                   data-nv-animate-type="text"
                   class="about-screen__desc about-text header-small header-small">
                    In terms of hobbies, I am a Ping Pong Ninja! I'm usually in front of a computer screen, either coding, reading, or drawing.
                    But, in those rare instances that I am not in front of a computer screen, you will find me spending time with family.
                </p>
            </div>
            <div data-nv-animate="noWrap"
                 data-nv-animate-delay="800"
                 data-nv-animate-type="block">
                <button class="about-screen__target"
                        data-nv-drop-target="moreDetails">
                    <span class="target-text">
                        Drop dial here <br />
                        to learn more
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>