<div id="about" data-nv-page="true" data-nv-state="default" data-nv-page-state="scrollable" data-nv-theme="dark" class="expand-container about-bg">
    <div class="expand-contianer__content cf">
        <div class="about cf">
            <section class="about-me">
                <h1 class="header-main header-large">
                    About Me
                </h1>
                <div class="about-me__content">
                    <img src="~/Content/ImagesAbout/nikolaivillarin.png" alt="Nikolai Villarin Profile Picture" />
                    <div class="about-me__text">
                        <p>
                            My day job consists of building user-centric web experiences that
                            satisfy a specific business need. And I have extensive experience
                            in building web-applications from design to development. And yes,
                            this means that I am comfortable working with both back-end and
                            front-end technologies. I currently live and work in Toronto, Canada.
                        </p>
                        <p>
                            Let's get in touch if you like my work then don't hesitate to reach out.
                            Or even say hello,
                            <a href="/Contact" class="link--blue">drop me a line.</a>
                        </p>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>

@*@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/aboutPage")*@
