<div id="pnlAboutPageIndicator" class="about-PageIndicatorContainer">
    @* JavaScript Renders the contents *@
</div>

<div id="about" data-nv-page="true" data-nv-state="default" data-nv-theme="dark" class="expand-container">
    <div class="expand-contianer__content cf">
        <div class="about cf">
            <section class="about-screen about-me expand-container about-screen--selected"
                     data-nv-about-page="lightTheme"
                     data-nv-about-page-tooltip="About Me">
                <h1 class="header-main header-large"
                    data-nv-animate
                    data-nv-animate-delay="300"
                    data-nv-animate-type="text">
                    About Me
                </h1>
                <div class="about-me__content">
                    <div id="profilePic"
                         class="about-profile-pic"
                         data-nv-profile-pic-anim
                         data-nv-animate="noWrap"
                         data-nv-animate-delay="0"
                         data-nv-animate-type="block">
                        <img src="~/Content/ImagesAbout/nikolaivillarin.png" alt="Nikolai Villarin Profile Picture" />
                    </div>
                    <div class="about-text header-small"
                         data-nv-animate="noWrap"
                         data-nv-animate-delay="600"
                         data-nv-animate-type="text">
                        <p>
                            My day job consists of building user-centric web experiences that
                            satisfy a specific business need. And I have extensive experience
                            in building web-applications from design to development. And yes,
                            this means that I am comfortable working with both back-end and
                            front-end technologies. I currently live and work in Toronto, Canada.
                        </p>
                        <br /><br />
                        <p>
                            Let's get in touch if you like my work then don't hesitate to reach out.
                            Or even say hello,
                            <a href="/Contact" class="link--blue">drop me a line.</a>
                        </p>
                    </div>
                </div>
                <div class="work-IndicatorContainer">
                    <div class="scroll-indicator scroll-indicator--dark">
                        <span>Scroll</span>
                        <span class="scroll-indicator__line"></span>
                        <span class="scroll-indicator__circle"></span>
                    </div>
                </div>
            </section>
            <section class="about-screen about-screen--msLogo about-screen--darkTheme expand-container"
                     data-nv-about-page="darkTheme"
                     data-nv-about-page-tooltip="Challenge Yourself">
                <div class="about-screen__content">
                    <div data-nv-animate="noWrap"
                         data-nv-animate-delay="600"
                         data-nv-animate-type="block">
                        <div class="about-bomb-btn about_bomb-btn--msLogo" data-nv-drop-target="explode">
                            <div class="about_bombIcon" title="Scatter Shards">
                                <img src="~/Content/ImagesAbout/bombIconLight.svg" alt="Bomb Icon" />
                                <p class="header-tiny header-tiny--onDark">
                                    Drop Here To Scatter Shards
                                </p>
                            </div>
                            <div class="about_bombIcon--expanded">
                                <p>
                                    Scatter Shards
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-screen__svg">
                        <svg id="msLogo"
                             xmlns="http://www.w3.org/2000/svg"
                             width="100%" height="100%"
                             viewBox="0 0 2959 2967"
                             class="about-screen__img"
                             data-nv-about-page-svg
                             data-nv-about-page-graphic-css="about-screen__img-certification"
                             data-nv-about-page-graphic-scalar-top="2000"
                             data-nv-about-page-graphic-scalar-bottom="2000"
                             data-nv-about-page-graphic-scalar-right="9000"
                             data-nv-about-page-graphic-scalar-left="1000">
                            <path id="Polygon_1" data-name="Polygon 1" class="cls-1" d="M2807.15,452.662L2198.81,892l-4-891Z" />
                            <path id="Polygon_2" data-name="Polygon 2" class="cls-2" d="M2890,519L2197,3.337,2931,364Z" />
                            <path id="Polygon_30" data-name="Polygon 30" class="cls-3" d="M2931,364l-43,152-90-65Z" />
                            <path id="Polygon_3" data-name="Polygon 3" class="cls-4" d="M2430.78,2257.18L2204,2108,2890,517Z" />
                            <path id="Polygon_4" data-name="Polygon 4" class="cls-4" d="M2893.67,514L2205,2158.32,2198,879Z" />
                            <path id="Polygon_5" data-name="Polygon 5" class="cls-4" d="M2204.31,882.847l594.84-432.694,99.19,68.009Z" />
                            <path id="Polygon_6" data-name="Polygon 6" class="cls-5" d="M2958.35,2600.87l-559.99-330.2L2930,362.613Z" />
                            <path id="Polygon_7" data-name="Polygon 7" class="cls-6" d="M2959.13,2598.81l-754.26,366.82L2401,2235.94Z" />
                            <path id="Polygon_8" data-name="Polygon 8" class="cls-7" d="M2207.31,2967.53l-3.19-865.8L2405.58,2235Z" />
                            <path id="Polygon_9" data-name="Polygon 9" class="cls-8" d="M2208.76,2965.11L2034,1966.62l175.25,144.12Z" />
                            <path id="Polygon_10" data-name="Polygon 10" class="cls-9" d="M2047.28,1975l162.58,990.96L1054.62,1804.08Z" />
                            <path id="Polygon_11" data-name="Polygon 11" class="cls-9" d="M1047.41,1805L1446,1483l652.45,536.56Z" />
                            <path id="Polygon_12" data-name="Polygon 12" class="cls-10" d="M1056.64,1805.64L735.091,1479.39l719.459,0.63Z" />
                            <path id="Polygon_13" data-name="Polygon 13" class="cls-10" d="M1049.83,1157l398.6,327.43-705.823,7.13Z" />
                            <path id="Polygon_14" data-name="Polygon 14" class="cls-9" d="M1058.51,1160.26L744.5,1491.99,343.02,1084.02Z" />
                            <path id="Polygon_15" data-name="Polygon 15" class="cls-9" d="M1066.87,1173.53L325.036,673.516l111.626-20.53Z" />
                            <path id="Polygon_16" data-name="Polygon 16" class="cls-9" d="M1066.47,1170.18l-732.353-81.89,8-418.29Z" />
                            <path id="Polygon_17" data-name="Polygon 17" class="cls-11" d="M362.883,666.705L348.294,1095.88,0,742Z" />
                            <path id="Polygon_18" data-name="Polygon 18" class="cls-12" d="M0,743L368,596l-3.411,80.589Z" />
                            <path id="Polygon_19" data-name="Polygon 19" class="cls-13" d="M357,680.883L367,596l80.883,64.589Z" />
                            <path id="Polygon_20" data-name="Polygon 20" class="cls-14" d="M1,742l351,350-4,199.77Z" />
                            <path id="Polygon_21" data-name="Polygon 21" class="cls-15" d="M348.359,1270.86L48,2199.34-0.144,739.784Z" />
                            <path id="Polygon_22" data-name="Polygon 22" class="cls-15" d="M348.329,1217.02l-4.682,682.47-296.8,299.49Z" />
                            <path id="Polygon_23" data-name="Polygon 23" class="cls-16" d="M47,2197.01l314.411-312.94L354.877,2388Z" />
                            <path id="Polygon_24" data-name="Polygon 24" class="cls-17" d="M1010.82,1837.47L354.1,2388.9,343,1896Z" />
                            <path id="Polygon_25" data-name="Polygon 25" class="cls-17" d="M327.22,1921.67L745.057,1492,997,1852Z" />
                            <path id="Polygon_26" data-name="Polygon 26" class="cls-18" d="M743,1490l314,314-70.239,54.21Z" />
                            <path id="Polygon_27" data-name="Polygon 27" class="cls-17" d="M2089.56,954.33L1447,1484l-396-326Z" />
                            <path id="Polygon_28" data-name="Polygon 28" class="cls-17" d="M2047,990l-995,170L2197,0Z" />
                            <path id="Polygon_29" data-name="Polygon 29" class="cls-19" d="M2196,0l3,866L2034,998Z" />
                        </svg>
                    </div>
                    <div class="about-screen__splash">
                        <h1 class="header-main header-large">
                            <span class="about-screen_header"
                                  data-nv-animate
                                  data-nv-animate-delay="0"
                                  data-nv-animate-type="text">
                                I Believe in
                            </span>
                            <span class="about-screen_subHeader"
                                  data-nv-animate
                                  data-nv-animate-delay="600"
                                  data-nv-animate-type="text">
                                Challenging yourself
                            </span>
                        </h1>
                        <br />
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="900"
                             data-nv-animate-auto-play="false"
                             data-nv-animate-type="text">
                            <p class="about-screen__desc about-text header-small header-small--onDark">
                                I am a Microsoft Certified Professional. And I am continually
                                upgrading myself in terms of knowledge.
                            </p>
                        </div>
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="800"
                             data-nv-animate-type="block">
                            <button class="about-screen__target"
                                    data-nv-drop-target="moreDetails">
                                <span class="target-text">
                                    Drop dial here <br />
                                    to learn more
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-screen about-screen--babyYoda expand-container"
                     data-nv-about-page="lightTheme"
                     data-nv-about-page-tooltip="Coding Skills">
                <div class="about-screen__content">
                    <div data-nv-animate="noWrap"
                         data-nv-animate-delay="600"
                         data-nv-animate-type="block">
                        <div class="about-bomb-btn about_bomb-btn--babyYoda" data-nv-drop-target="explode">
                            <div class="about_bombIcon" title="Scatter Shards">
                                <img src="~/Content/ImagesAbout/bombIconDark.svg" alt="Bomb Icon" />
                                <p class="header-tiny">
                                    Drop Here To Scatter Shards
                                </p>
                            </div>
                            <div class="about_bombIcon--expanded">
                                <p>
                                    Scatter Shards
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-screen__svg">
                        <div id="babyYodaEyes"
                             data-nv-animate="noWrap"
                             data-nv-animate-delay="300"
                             data-nv-animate-type="block">
                            <img src="~/Content/ImagesAbout/babyYodaEyes.png" alt="Baby Yoda Eyes" class="babyYodaEyes" />
                        </div>
                        <svg id="babyYoda"
                             xmlns="http://www.w3.org/2000/svg"
                             width="100%" height="100%"
                             viewBox="0 0 4115 3355"
                             class="about-screen__img"
                             data-nv-about-page-svg
                             data-nv-about-page-graphic-css="about-screen__img-babyYoda"
                             data-nv-about-page-graphic-scalar-top="2000"
                             data-nv-about-page-graphic-scalar-bottom="1500"
                             data-nv-about-page-graphic-scalar-right="5000"
                             data-nv-about-page-graphic-scalar-left="1500">
                            @*#region -- EarLeft *@
                            <path id="BabyYodaPoly_4" data-name="Polygon 4" class="cls-1" d="M2452,1724l152.1,463.37L2384,2042.5Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M2363.02,1716.11l40.58,485.99-180.54-191.92Z"
                                  data-nv-about-svg-frame-4="M2452,1724l152.1,463.37L2384,2042.5Z" />

                            <path id="BabyYodaPoly_5" data-name="Polygon 5" class="cls-2" d="M2601,2188l-147.5-460,166-66Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M2400.44,2202l-36.89-481.66,176.77-25.73Z"
                                  data-nv-about-svg-frame-4="M2601,2188l-147.5-460,166-66Z" />

                            <path id="BabyYodaPoly_6" data-name="Polygon 6" class="cls-3" d="M2605.57,1664.96L3017.5,2156.5l-420,24Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M2526.08,1694.25l286.83,573.62-414.13-73.97Z"
                                  data-nv-about-svg-frame-4="M2605.57,1664.96L3017.5,2156.5l-420,24Z" />

                            <path id="BabyYodaPoly_7" data-name="Polygon 7" class="cls-4" d="M2606.5,1665.5l987.5,347L3006,2161Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M2526.87,1695l880.21,566.37-606.4,8.21Z"
                                  data-nv-about-svg-frame-4="M2606.5,1665.5l987.5,347L3006,2161Z" />

                            <path id="BabyYodaPoly_8" data-name="Polygon 8" class="cls-5" d="M3594,2014l-992-344.5,111.5-48Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M3406.73,2262.83l-885.17-564.98,119.59-20.86Z"
                                  data-nv-about-svg-frame-4="M3594,2014l-992-344.5,111.5-48Z" />

                            <path id="BabyYodaPoly_9" data-name="Polygon 9" class="cls-6" d="M2348.03,1439l371.29,185L2429.7,1743.68Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M2327.91,1414.77l318.33,266-309.47,49.31Z"
                                  data-nv-about-svg-frame-4="M2348.03,1439l371.29,185L2419.7,1784.62Z" />
                            @*#endregion -- EarLeft *@

                            @*#region -- LeftFace *@
                            <path id="BabyYodaPoly_10" data-name="Polygon 10" class="cls-7" d="M1976,1746.65l371.61-317.87,76.97,287.79Z"
                                  data-nv-about-svg-frame-2="M1976,1746.65l371.61-317.87,76.97,347.79Z" />

                            <path id="BabyYodaPoly_11" data-name="Polygon 11" class="cls-7" d="M1975.82,1749.22l204.06-494.02,172.05,181.48Z"
                                  data-nv-about-svg-frame-2="M1975.82,1749.22l204.06-494.02,172.05,181.48Z" />

                            <path id="BabyYodaPoly_12" data-name="Polygon 12" class="cls-8" d="M1981.06,1745.51l-40.41-592.44,244.4,105.97Z"
                                  data-nv-about-svg-frame-2="M1981.06,1745.51l-40.41-592.44,244.4,105.97Z" />
                            @*#endregion -- LeftFace *@

                            <path id="BabyYodaPoly_13" data-name="Polygon 13" class="cls-9" d="M1979.39,1729.13l-379.41-599.16,346.48,24.24Z" />

                            <path id="BabyYodaPoly_14" data-name="Polygon 14" class="cls-10" d="M1599.19,1128.38l384.05,599.44-370.06-5.69Z" />

                            <path id="BabyYodaPoly_15" data-name="Polygon 15" class="cls-11" d="M1617.38,1727l-261.16-499.93,246.05-97.45Z" />

                            <path id="BabyYodaPoly_16" data-name="Polygon 16" class="cls-12" d="M1622.36,1731.44l-438.84-295.5,184.45-215.41Z" />

                            <path id="BabyYodaPoly_17" data-name="Polygon 17" class="cls-13" d="M1616.64,1722.65l-500.46-5.11,74.66-291.56Z" />

                            @*#region -- EarRight *@
                            <path id="BabyYodaPoly_18" data-name="Polygon 18" class="cls-14" d="M1192.85,1425.52l-72.82,303.43L819.638,1621.84Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M1208.3,1411.87l7.66,311.96-317.838-26.27Z"
                                  data-nv-about-svg-frame-3="M1192.85,1425.52l-72.82,303.43L819.638,1621.84Z" />

                            <path id="BabyYodaPoly_19" data-name="Polygon 19" class="cls-15" d="M0.459,1990.71l827.93-373.32,118.676,41.88Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M201.334,2264.66l704.1-573.65,125.456,9.95Z"
                                  data-nv-about-svg-frame-3="M0.459,1990.71l827.93-373.32,118.676,41.88Z" />

                            <path id="BabyYodaPoly_20" data-name="Polygon 20" class="cls-16" d="M-0.186,1991.13L940.8,1658.03,552.667,2155.92Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M200.82,2265.23l823.7-563.85L777.456,2282.32Z"
                                  data-nv-about-svg-frame-3="M-0.186,1991.13L940.8,1658.03,552.667,2155.92Z" />

                            <path id="BabyYodaPoly_21" data-name="Polygon 21" class="cls-17" d="M937.878,1656.42l21.249,509.83-421.022-15.71Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M1021.28,1700.57l151.63,487.23L762,2280.88Z"
                                  data-nv-about-svg-frame-3="M937.878,1656.42l21.249,509.83-421.022-15.71Z" />

                            <path id="BabyYodaPoly_22" data-name="Polygon 22" class="cls-18" d="M949.167,2169.61l-20.808-516.02L1091,1707.08Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M1164.15,2193.6l-152.8-493.32,170.93,9.88Z"
                                  data-nv-about-svg-frame-3="M949.167,2169.61l-20.808-516.02L1091,1707.08Z" />

                            <path id="BabyYodaPoly_23" data-name="Polygon 23" class="cls-19" d="M944.466,2170.19l143.034-462.5,78.4,305.26Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M1159.75,2195.37l19.3-483.72,154.26,274.83Z"
                                  data-nv-about-svg-frame-3="M944.466,2170.19l143.034-462.5,78.4,305.26Z" />

                            <path id="BabyYodaPoly_24" data-name="Polygon 24" class="cls-20" d="M946.716,2163.91l222.694-157.92,21.3,82.12Z"
                                  data-nv-about-svg-frame-easing="easeOutBack"
                                  data-nv-about-svg-frame-2="M1160.31,2188.73l174.6-209.88,41.7,73.89Z"
                                  data-nv-about-svg-frame-3="M946.716,2163.91l222.694-157.92,21.3,82.12Z" />
                            @*#endregion -- EarRight *@

                            <path id="BabyYodaPoly_25" data-name="Polygon 25" class="cls-21" d="M1986.31,1726l-802.8,368.73L1082.7,1705.2Z" />

                            <path id="BabyYodaPoly_26" data-name="Polygon 26" class="cls-22" d="M1178.39,2089L1981,1724.69l25.43,361.88Z" />

                            @*#region -- LeftCuff *@
                            <path id="BabyYodaPoly_3" data-name="Polygon 3" class="cls-25" d="M2460.56,1706.13L2388,2043.5l-408.99,45.06Z"
                                  data-nv-about-svg-frame-2="M2460.56,1756.13L2388,2043.5l-408.99,45.06Z" />

                            <path id="BabyYodaPoly_27" data-name="Polygon 27" class="cls-26" d="M2464.41,1708.78L1996,2089.83l-16.68-350.3Z"
                                  data-nv-about-svg-frame-2="M2464.41,1759.71L1996,2089.83l-16.68-350.3Z" />
                            @*#endregion -- LeftCuff *@

                            @*#region -- RightArm *@
                            <path id="BabyYodaPoly_28" data-name="Polygon 28" class="cls-27" d="M1182.22,2087.78l-108.94,640.83L819.535,2401.62Z"
                                  data-nv-about-svg-frame-3="M1182.22,2087.78L1100,2516,598,2110Z"
                                  data-nv-about-svg-frame-4="M1182.22,2087.78L1100,2516l-290-21Z" />
                            @*#endregion -- RightArm *@

                            <path id="BabyYodaPoly_29" data-name="Polygon 29" class="cls-28" d="M2093.61,2805.39L1038,2852l139.22-768.22Z" />

                            <path id="BabyYodaPoly_30" data-name="Polygon 30" class="cls-29" d="M2090.47,2808l-916.16-721.22L2023,2075.31Z" />

                            @*#region -- LeftLeg *@
                            <path id="BabyYodaPoly_31" data-name="Polygon 31" class="cls-30" d="M2020,2070.78l541.14,687.91-474.75,51.84Z"
                                  data-nv-about-svg-frame-2="M2020,2070.78l541.14,747.91-474.75-8.16Z" />

                            <path id="BabyYodaPoly_32" data-name="Polygon 32" class="cls-31" d="M2022.78,2076.08l351.61-42.22L2555.92,2759Z"
                                  data-nv-about-svg-frame-2="M2022.78,2076.08l351.61-42.22L2555.92,2819Z" />
                            @*#endregion -- LeftLeg *@

                            @*#region -- LeftArm *@
                            <path id="BabyYodaPoly_1" data-name="Polygon 1" class="cls-23" d="M2729,2353l-214,246-142-564Z"
                                  data-nv-about-svg-frame-2="M2631.38,2040.85l-189.32,425.43L2373,2035Z"
                                  data-nv-about-svg-frame-4="M2651.38,1680.85l-173.79,802.13L2373,2035Z" />

                            <path id="BabyYodaPoly_2" data-name="Polygon 2" class="cls-24" d="M2370.56,2034.12l405.5,267.06-47.67,56.52Z"
                                  data-nv-about-svg-frame-2="M2625.94,2041.97l292.98,391.95-478.07,32.93Z"
                                  data-nv-about-svg-frame-4="M2649.23,1681.97l69.69,261.95-245.84,547.55Z" />
                            @*#endregion -- LeftArm *@

                            @*#region -- Rocks *@
                            @*#region -- RockRight *@
                            <path id="BabyYodaPoly_34" data-name="Polygon 34" class="cls-32" d="M3560.27,2921.63l-163.5-149.23,201.51-52.86Z"
                                  data-nv-about-svg-frame-2-duration="600"
                                  data-nv-about-svg-frame-2-easing="easeInOutBounce"
                                  data-nv-about-svg-frame-2-next-delay="300"
                                  data-nv-about-svg-frame-2="M3549.56,2604.63l-204.86-83.85,171.01-118.97Z"
                                  data-nv-about-svg-frame-3="M3499.56,2474.63l-204.86-83.85,171.01-118.97Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3331.03,770.567l-569.8-256.256,303.54-304.16Z" />

                            <path id="BabyYodaPoly_35" data-name="Polygon 35" class="cls-33" d="M3560.28,2923.74l29.94-204.47,122.2,65.57Z"
                                  data-nv-about-svg-frame-2-duration="600"
                                  data-nv-about-svg-frame-2-easing="easeInOutBounce"
                                  data-nv-about-svg-frame-2-next-delay="300"
                                  data-nv-about-svg-frame-2="M3550.3,2606.61l-42.25-202.28,137.3,19.51Z"
                                  data-nv-about-svg-frame-3="M3530.3,2446.61l-42.25-202.28,137.3,19.51Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3327.83,767.952L3123.05,1368.33l419.96-3.02Z" />

                            <path id="BabyYodaPoly_36" data-name="Polygon 36" class="cls-34" d="M3558.18,2922.26l148.63-143.19,53.11,135.13Z"
                                  data-nv-about-svg-frame-2-duration="600"
                                  data-nv-about-svg-frame-2-easing="easeInOutBounce"
                                  data-nv-about-svg-frame-2-next-delay="300"
                                  data-nv-about-svg-frame-2="M3547.82,2605.95l90.28-185.6,96.36,108.6Z"
                                  data-nv-about-svg-frame-3="M3577.82,2465.95l90.28-185.6,96.36,108.6Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3331.41,769.945l275.22-568.124,296.36,301.13Z" />

                            <path id="BabyYodaPoly_33" data-name="Polygon 33" class="cls-35" d="M3561.72,2922.1l-206.23-1.92,44.42-151.46Z"
                                  data-nv-about-svg-frame-2-duration="600"
                                  data-nv-about-svg-frame-2-easing="easeInOutBounce"
                                  data-nv-about-svg-frame-2-next-delay="300"
                                  data-nv-about-svg-frame-2="M3551.09,2604.58l-194.3,69.16-10.42-157.49Z"
                                  data-nv-about-svg-frame-3="M3501.09,2504.58l-194.3,69.16-10.42-157.49Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3330.62,770.045L2733.79,991.739l-0.42-434.961Z" />

                            @*#region -- Crumbs *@
                            <path id="BabyYodaPoly_39" data-name="Polygon 39" class="cls-35" d="M3343.17,2933.33l-15.37,55.11-40.04-40.87Z"
                                  data-nv-about-svg-frame-2-duration="1000"
                                  data-nv-about-svg-frame-2-easing="easeInBounce"
                                  data-nv-about-svg-frame-2="M3324.43,2721.83l29.54,49-57.2,1.08Z"
                                  data-nv-about-svg-frame-3="M3414.43,2601.83l29.54,49-57.2,1.08Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M2788.03,235.42l271.94-36.063L2755.3,507.909Z" />

                            <path id="BabyYodaPoly_43" data-name="Polygon 43" class="cls-34" d="M3534.86,2967.52l-35.55-15.18,30.92-23.2Z"
                                  data-nv-about-svg-frame-2-duration="1000"
                                  data-nv-about-svg-frame-2-easing="easeInBounce"
                                  data-nv-about-svg-frame-2="M3534.86,2847.52l-35.55-15.18,30.92-23.2Z"
                                  data-nv-about-svg-frame-3="M3514.86,2727.52l-35.55-15.18,30.92-23.2Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M2721.39,987.178l-163.15-215.3,163.46-210.8Z" />

                            <path id="BabyYodaPoly_40" data-name="Polygon 40" class="cls-34" d="M3500.56,3054.99l-55.28,3.54,24.57-49.65Z"
                                  data-nv-about-svg-frame-2-duration="1000"
                                  data-nv-about-svg-frame-2-easing="easeInBounce"
                                  data-nv-about-svg-frame-2="M3500.56,2724.99l-55.28,3.54,24.57-49.65Z"
                                  data-nv-about-svg-frame-3="M3540.56,2584.99l-55.28,3.54,24.57-49.65Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3914.63,494.707L3616.81,195.468l262.04,25.411Z" />

                            <path id="BabyYodaPoly_41" data-name="Polygon 41" class="cls-35" d="M3224.25,3010.82l-25.1-25.96,35.04-8.76Z"
                                  data-nv-about-svg-frame-2-duration="1000"
                                  data-nv-about-svg-frame-2-easing="easeInBounce"
                                  data-nv-about-svg-frame-2="M3344.25,2910.82l-25.1-25.96,35.04-8.76Z"
                                  data-nv-about-svg-frame-3="M3444.25,2830.82l-25.1-25.96,35.04-8.76Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3539.79,169.883l-420.17-1.026L3327.19,0.1Z" />

                            <path id="BabyYodaPoly_42" data-name="Polygon 42" class="cls-34" d="M3350.97,3006.39l46.16-6.47-21.28,27.86Z"
                                  data-nv-about-svg-frame-2-duration="1000"
                                  data-nv-about-svg-frame-2-easing="easeInBounce"
                                  data-nv-about-svg-frame-2="M3400.97,2976.39l46.16-6.47-21.28,27.86Z"
                                  data-nv-about-svg-frame-3="M3530.97,2966.39l46.16-6.47-21.28,27.86Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4="M3123.37,1379.45l423.76-1.53-211.28,170.39Z" />
                            @*#endregion -- Crumbs *@
                            @*#endregion -- RockRight *@

                            @*#region -- RockLeft *@
                            <path id="BabyYodaPoly_34_copy" data-name="Polygon 34 copy" class="cls-32" d="M1009.77,3249.7l190.58-212.11-234.886-75.13Z"
                                  data-nv-about-svg-frame-3="M839.768,2199.7l190.582-212.11-234.887-75.13Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3931.77,986.7l0.58-429.16L3328.62,769.464Z" />

                            <path id="BabyYodaPoly_35_copy" data-name="Polygon 35 copy" class="cls-33" d="M1009.75,3252.7l-34.89-290.62-142.45,93.2Z"
                                  data-nv-about-svg-frame-3="M799.755,2182.7L764.86,1892.08l-142.45,93.2Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3055.6,1341.6l276.26-576.52-578.35,273.2Z" />

                            <path id="BabyYodaPoly_36_copy" data-name="Polygon 36 copy" class="cls-34" d="M1012.21,3250.6L838.947,3047.08l-61.9,192.06Z"
                                  data-nv-about-svg-frame-3="M812.207,2240.6l-173.26-203.52-61.9,192.06Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3331.1,769.051l575.8,270.079-303.7,293.85Z" />

                            <path id="BabyYodaPoly_33_copy" data-name="Polygon 33 copy" class="cls-35" d="M1008.08,3250.37l240.39-2.73-51.77-215.28Z"
                                  data-nv-about-svg-frame-3="M861.079,2210.37l240.391-2.73-51.77-215.28Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3118.03,186.425l423.34,0.216-209.47,582.1Z" />

                            @*#region -- Crumbs *@
                            <path id="BabyYodaPoly_42_copy" data-name="Polygon 42 copy" class="cls-29" d="M1272.09,3307.63l2.82-39.25,36.4,21.82Z"
                                  data-nv-about-svg-frame-3="M952.09,2887.63l2.818-39.25,36.4,21.82Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3945.56,985.256l-2.65-423.078,171.87,212.753Z" />

                            <path id="BabyYodaPoly_42_copy_2" data-name="Polygon 42 copy 2" class="cls-33" d="M1178.98,3279.19l36.39-14.96-3.31,42.31Z"
                                  data-nv-about-svg-frame-3="M988.984,2269.19l36.386-14.96-3.31,42.31Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M2774.78,1319.66l-28.14-272.69,297.08,298.17Z" />

                            <path id="BabyYodaPoly_42_copy_3" data-name="Polygon 42 copy 3" class="cls-33" d="M1272.04,3339.53l15.74-8.3-1.44,23.48Z"
                                  data-nv-about-svg-frame-3="M1082.04,2419.53l15.74-8.3-1.44,23.48Z"
                                  data-nv-about-svg-frame-4-duration="300"
                                  data-nv-about-svg-frame-4-easing="easeOutCirc"
                                  data-nv-about-svg-frame-4-next-delay="2000"
                                  data-nv-about-svg-frame-4="M3612.51,1342.21l298-291.51-31.43,265.74Z" />
                            @*#endregion -- Crumbs *@
                            @*#endregion -- RockLeft *@
                            @*#endregion -- Rocks *@
                        </svg>
                    </div>
                    <div class="about-screen__splash">
                        <h1 class="header-main header-large">
                            <span class="about-screen_header"
                                  data-nv-animate
                                  data-nv-animate-delay="0"
                                  data-nv-animate-type="text">
                                I Believe in
                            </span>
                            <span class="about-screen_subHeader"
                                  data-nv-animate
                                  data-nv-animate-delay="600"
                                  data-nv-animate-type="text">
                                Coding Skills
                            </span>
                        </h1>
                        <br />
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="900"
                             data-nv-animate-auto-play="false"
                             data-nv-animate-type="text">
                            <p class="about-screen__desc about-text header-small header-small">
                                I love clean and maintainable code, and while I code, I keep in my mind to "Always code as if the guy
                                who ends up maintaining your code will be a violent psychopath who knows where you live." - John F. Woods
                            </p>
                        </div>
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="800"
                             data-nv-animate-type="block">
                            <button class="about-screen__target"
                                    data-nv-drop-target="moreDetails">
                                <span class="target-text">
                                    Drop dial here <br />
                                    to learn more
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-screen about-screen--polyDog about-screen--darkTheme expand-container"
                     data-nv-about-page="darkTheme"
                     data-nv-about-page-tooltip="Accessible Web">
                <div class="about-screen__content">
                    <div data-nv-animate="noWrap"
                         data-nv-animate-delay="600"
                         data-nv-animate-type="block">
                        <div class="about-bomb-btn about_bomb-btn--polyDog" data-nv-drop-target="explode">
                            <div class="about_bombIcon" title="Scatter Shards">
                                <img src="~/Content/ImagesAbout/bombIconLight.svg" alt="Bomb Icon" />
                                <p class="header-tiny header-tiny--onDark">
                                    Drop Here To Scatter Shards
                                </p>
                            </div>
                            <div class="about_bombIcon--expanded">
                                <p>
                                    Scatter Shards
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-screen__svg">
                        <svg id="polyDog"
                             xmlns="http://www.w3.org/2000/svg"
                             width="100%" height="100%"
                             viewBox="0 0 3800 3197"
                             class="about-screen__img"
                             data-nv-about-page-svg
                             data-nv-about-page-graphic-css="about-screen__img-polyDog"
                             data-nv-about-page-graphic-scalar-top="2000"
                             data-nv-about-page-graphic-scalar-bottom="2000"
                             data-nv-about-page-graphic-scalar-right="7000"
                             data-nv-about-page-graphic-scalar-left="3000">
                            <g id="Face">
                                <path id="Polygon_1" data-name="Polygon 1" class="cls-1" d="M3801.93,560l-55.28,336.737L3381.73,446.663Z" />
                                <path id="Polygon_2" data-name="Polygon 2" class="cls-2" d="M2920.21,1257.63l479.13-807.87L3752.39,884.9Z" />
                                <path id="Polygon_3" data-name="Polygon 3" class="cls-3" d="M2927.38,1257.34l85.94-1098.894,399.46,292.2Z" />
                                <path id="Polygon_4" data-name="Polygon 4" class="cls-4" d="M2930.83,1264.07L2208.1,546.705l812.66-381.691Z" />
                            </g>
                            <g id="Ear">
                                <path id="Polygon_5" data-name="Polygon 5" class="cls-5" d="M2018.32,647.273L2244.56,30.487,3041.57,176.75Z" />
                                <path id="Polygon_55" data-name="Polygon 55" class="cls-6" d="M3220.46,0.854l138.68,412.739L3055.11,190.32Z" />
                                <path id="Polygon_6" data-name="Polygon 6" class="cls-7" d="M3215.91,6.052L3068.6,194.083,2803.85,136.13Z" />
                            </g>
                            <g id="Neck">
                                <path id="Polygon_7" data-name="Polygon 7" class="cls-8" d="M2933.87,1249.54l-677.66-41.4-34.31-652.7Z" />
                                <path id="Polygon_8" data-name="Polygon 8" class="cls-9" d="M2256.71,1190.28l680.48,53.16-91.62,343.67Z" />
                                <path id="Polygon_9" data-name="Polygon 9" class="cls-10" d="M3226.74,1668.14l-393.48-89.06,91.22-337.82Z" />
                                <path id="Polygon_10" data-name="Polygon 10" class="cls-11" d="M2919.69,1253.96l354.95-164.89-53.84,580.45Z" />
                            </g>
                            <g id="Colar">
                                <path id="Polygon_11" data-name="Polygon 11" class="cls-12" d="M3343.29,1631.29l-136.58,228.64,17.23-362.49Z" />
                                <path id="Polygon_12" data-name="Polygon 12" class="cls-13" d="M2835.83,1577.47l388.84,86.67-10.75,206.58Z" />
                                <path id="Polygon_13" data-name="Polygon 13" class="cls-14" d="M3213.92,1845.19L2121.9,1423.93l134.7-262.4Z" />
                            </g>
                            <g id="LeftLeg">
                                <path id="Polygon_17" data-name="Polygon 17" class="cls-15" d="M2586.89,2534.88l302.22-122.96,144.93,116.58Z" />
                                <path id="Polygon_18" data-name="Polygon 18" class="cls-16" d="M2632.17,2858.32l-8.68-326.88,413.37-9.8Z" />
                            </g>
                            <g id="Chest">
                                <path id="Polygon_14" data-name="Polygon 14" class="cls-17" d="M2122.56,1405.6l1093.82,438.84L2649.1,2233.17Z" />
                                <path id="Polygon_15" data-name="Polygon 15" class="cls-18" d="M3220.47,1839.34l-333.18,581.05-250.44-199.55Z" />
                                <path id="Polygon_16" data-name="Polygon 16" class="cls-19" d="M2586.2,2541.42l55.37-324.98,250.44,195.83Z" />
                                <path id="Polygon_19" data-name="Polygon 19" class="cls-20" d="M2151.4,2166.73l-22.48-767.58,518.11,825.12Z" />
                            </g>
                            <g id="RightLeg">
                                <path id="Polygon_20" data-name="Polygon 20" class="cls-21" d="M2143.4,2738.94l17.41-588.58,488.94,63.24Z" />
                                <path id="Polygon_21" data-name="Polygon 21" class="cls-22" d="M2499.84,3171.64l-356.48-446.3,500.88-506.84Z" />
                                <path id="Polygon_22" data-name="Polygon 22" class="cls-23" d="M2560.43,2716.45l177.63,452.43-253.36-4.51Z" />
                            </g>
                            <g id="UpperBody">
                                <path id="Polygon_23" data-name="Polygon 23" class="cls-24" d="M2166.92,2160.1l-261.13-678.4,234.15-80.09Z" />
                                <path id="Polygon_24" data-name="Polygon 24" class="cls-25" d="M1913.17,1482.66l258.19,673.87-90.04,193.3Z" />
                                <path id="Polygon_25" data-name="Polygon 25" class="cls-26" d="M2065.54,2297.25l107.98-147.79-26.4,456.72Z" />
                                <path id="Polygon_26" data-name="Polygon 26" class="cls-27" d="M2153.07,2604.32l-421.88-607.64,182.84-517.59Z" />
                                <path id="Polygon_27" data-name="Polygon 27" class="cls-28" d="M2157.24,2602.13l-998.38-244.48,578.66-376.16Z" />
                                <path id="Polygon_28" data-name="Polygon 28" class="cls-29" d="M2154.36,2596.2l-853.08,21.18-78.35-294.9Z" />
                                <path id="Polygon_29" data-name="Polygon 29" class="cls-30" d="M1227.1,2322.88l87.07,291.93-303.66-1.85Z" />
                            </g>
                            <g id="Strap">
                                <path id="Polygon_30" data-name="Polygon 30" class="cls-31" d="M1968.7,1318.78l159.71,91.27-233.6,84.99Z" />
                                <path id="Polygon_31" data-name="Polygon 31" class="cls-32" d="M1738.75,1989.86L1622.2,1493.93l355.58-175.27Z" />
                                <path id="Polygon_32" data-name="Polygon 32" class="cls-33" d="M1626.68,1488.49l121.41,495.13-274.31,9.01Z" />
                                <path id="Polygon_33" data-name="Polygon 33" class="cls-34" d="M1227.52,2329.04l238.94-347.82,276.68-2.76Z" />
                                <path id="Polygon_34" data-name="Polygon 34" class="cls-35" d="M1494.01,1969.16l-495.248,670L952.2,2285.69Z" />
                            </g>
                            <g id="Butt">
                                <path id="Polygon_35" data-name="Polygon 35" class="cls-36" d="M953.84,2291.17l676.75-807.32-142.61,495.86Z" />
                                <path id="Polygon_36" data-name="Polygon 36" class="cls-9" d="M1628.57,1490.78l-668.409,808.6L294.774,2030.73Z" />
                                <path id="Polygon_37" data-name="Polygon 37" class="cls-37" d="M1629.47,1497.18L299.126,2033.33l426.968-530.88Z" />
                                <path id="Polygon_38" data-name="Polygon 38" class="cls-38" d="M732.438,1503.82l-436.4,541.92,95.024-308.25Z" />
                                <path id="Polygon_39" data-name="Polygon 39" class="cls-39" d="M293.084,2018.3l168.338,71.83-113.361,83.8Z" />
                            </g>
                            <g id="Tail">
                                <path id="Polygon_40" data-name="Polygon 40" class="cls-37" d="M736.684,856.15L512.141,1675.88l-111.779,66.8Z" />
                                <path id="Polygon_41" data-name="Polygon 41" class="cls-20" d="M407.288,1729.37L612.68,940.337l134.7-78.345Z" />
                                <path id="Polygon_42" data-name="Polygon 42" class="cls-40" d="M637.908,417.187L747.949,867.549,614.035,970.956Z" />
                            </g>
                            <g id="LeftTire">
                                <path id="Polygon_49" data-name="Polygon 49" class="cls-41" d="M1350.22,2731.34l-240.09,439.53L894.16,2763.16Z" />
                                <path id="Polygon_50" data-name="Polygon 50" class="cls-42" d="M1342.47,2737.05l-434.4,29.64,76.365-179.55Z" />
                                <path id="Polygon_51" data-name="Polygon 51" class="cls-43" d="M1345.31,2747.42l-336.13-135.08,749.82-8.62Z" />
                                <path id="Polygon_52" data-name="Polygon 52" class="cls-44" d="M1331.54,2744.17l421.36-142.8,89.09,140.97Z" />
                                <path id="Polygon_53" data-name="Polygon 53" class="cls-45" d="M1335.77,2735.85l498.71-.09-244.35,432.21Z" />
                                <path id="Polygon_54" data-name="Polygon 54" class="cls-46" d="M1115.31,3164.7l229.56-450.36,249.85,443.17Z" />
                            </g>
                            <g id="RightTire">
                                <path id="Polygon_43" data-name="Polygon 43" class="cls-47" d="M517.813,2658.45L439.2,2087.31l525.884,196.26Z" />
                                <path id="Polygon_44" data-name="Polygon 44" class="cls-48" d="M524.1,2654.47l-531.7-209.01,460.165-361.69Z" />
                                <path id="Polygon_45" data-name="Polygon 45" class="cls-49" d="M522.194,2645.16L87.535,2999.05,2.554,2428.79Z" />
                                <path id="Polygon_46" data-name="Polygon 46" class="cls-50" d="M519.616,2640.97l95.009,556L77.3,2990.95Z" />
                                <path id="Polygon_47" data-name="Polygon 47" class="cls-46" d="M515.337,2635.45l544.023,205.63L604.884,3199.06Z" />
                                <path id="Polygon_48" data-name="Polygon 48" class="cls-51" d="M515.751,2642.39l444.617-355.95L1061.4,2843.96Z" />
                            </g>
                        </svg>
                    </div>
                    <div class="about-screen__splash">
                        <h1 class="header-main header-large">
                            <span class="about-screen_header"
                                  data-nv-animate
                                  data-nv-animate-delay="0"
                                  data-nv-animate-type="text">
                                I Believe in
                            </span>
                            <span class="about-screen_subHeader"
                                  data-nv-animate
                                  data-nv-animate-delay="600"
                                  data-nv-animate-type="text">
                                Accessibility
                            </span>
                        </h1>
                        <br />
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="900"
                             data-nv-animate-auto-play="false"
                             data-nv-animate-type="text">
                            <p class="about-screen__desc about-text header-small header-small--onDark">
                                I believe in many things, but one of the items high on my list is accessibility. 
                                The web should be accessible to anyone, anywhere, on any device.
                            </p>
                        </div>
                        <div data-nv-animate="noWrap"
                             data-nv-animate-delay="800"
                             data-nv-animate-type="block">
                            <button class="about-screen__target"
                                    data-nv-drop-target="moreDetails">
                                <span class="target-text">
                                    Drop dial here <br />
                                    to learn more
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/aboutPage")
