<section id="about" data-nv-page="true" data-nv-state="default" data-nv-page-state="scrollable" data-nv-theme="light" class="expand-container about-bg">
    <div class="expand-contianer__content cf">
        <div class="about cf">
            <div class="about-profile">
                <img src="~/Content/ImagesAbout/profilePic.png" class="about-profilePic" alt="Nikolai Profile Picture" />
            </div>
            <section class="about-overview">
                <h1 class="about-header header-main--faded header-large">
                    About Me
                </h1>
                <br />
                <p class="about-overview__content text-secondary--OnDark">
                    My day job consists of building user-centric web applications that satisfy a specific business need. And I have extensive experience in building web-applications from design to development. 
                    And yes, this means that I am comfortable working with both back-end and front-end technologies. I currently live and work in Toronto, Canada.
                </p>
                <br />
                <p class="about-overview__content text-secondary--OnDark">
                    I love clean and maintainable code, and while I code, I keep in my mind to "Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live." -
                    <a href="https://groups.google.com/forum/#!msg/comp.lang.c++/rYCO5yn4lXw/oITtSkZOtoUJ" data-nv-ignore="true" class="link--blue" target="_blank">John F. Woods</a>
                </p>
                <br />
                <p class="about-overview__content text-secondary--OnDark">
                    I believe in many things, but one of the items high on my list is accessibility. The web should be accessible to anyone, anywhere, on any device.
                </p>
                <br />
                <p class="about-overview__content text-secondary--OnDark">
                    In terms of hobbies, I am a Ping Pong Ninja! I'm usually in front of a computer screen, either coding, reading, or drawing. But, in those rare instances that I am not in front of a computer screen, you will find me spending time with family.
                </p>
                <br />
                <p class="about-overview__content text-secondary--OnDark">
                    Let's get in touch if you like my work then don't hesitate to reach out. Or even say hello,
                    <a href="/Contact" class="link--blue">drop me a line.</a>
                </p>
            </section>
            <div class="about-qualifications">
                <div class="cf">
                    <div class="about-qualifications__icon about-qualifications__icon--windows">
                        <img src="~/Content/ImagesAbout/icon_windows.svg" alt="Windows Icon" class="about-qualifications__img" />
                    </div>
                    <section class="about-qualifications__content">
                        <h1 class="header-main--faded header-medium">
                            Microsoft Certified Professional
                        </h1>
                        <p class="text-secondary--OnDark">
                            I am a Microsoft Certified Professional. And I am continually upgrading myself in terms of knowledge.
                        </p>
                    </section>
                </div>
                <br /><br />
                <div class="cf">
                    <div class="about-qualifications__icon about-qualifications__icon--agile">
                        <img src="~/Content/ImagesAbout/icon_agile.svg" alt="Agile Icon" class="about-qualifications__img" />
                    </div>
                    <section class="about-qualifications__content">
                        <h1 class="header-main--faded header-medium">
                            I believe in Agile Values
                        </h1>
                        <p class="text-secondary--OnDark">
                            Which means that I adapt and respond to change. And I advocate for an iterative approach for development.
                        </p>
                    </section>
                </div>
                <br /><br />
                <div class="cf">
                    <div class="about-qualifications__icon about-qualifications__icon--code">
                        <img src="~/Content/ImagesAbout/icon_code.svg" alt="Code Icon" class="about-qualifications__img" />
                    </div>
                    <section class="about-qualifications__content">
                        <h1 class="header-main--faded header-medium">
                            Coding Skills
                        </h1>
                        <p class="text-secondary--OnDark">
                            My Stack is continually changing but here is a snapshot of what I know:<br />
                            HTML5, CSS3, JavaScript, React, Angular, C#, SQL, ASP.NET MVC, Backbone, Underscore, jQuery, Bootstrap.js, Knockout.js, SASS, LESS
                        </p>
                    </section>
                </div>
                <br /><br />
                <div class="cf">
                    <div class="about-qualifications__icon about-qualifications__icon--brush">
                        <img src="~/Content/ImagesAbout/icon_brush.svg" alt="Brush Icon" class="about-qualifications__img" />
                    </div>
                    <section class="about-qualifications__content">
                        <h1 class="header-main--faded header-medium">
                            Design Skills
                        </h1>
                        <p class="text-secondary--OnDark">
                            Adobe XD, Photoshop, Illustrator, Dreamweaver, Creative Cloud
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@*@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/aboutPage")*@
