<div id="pnlAboutPageIndicator" class="about-PageIndicatorContainer">
    @* JavaScript Renders the contents *@
</div>

<div id="about" data-nv-page="true" data-nv-state="default" data-nv-theme="dark" class="expand-container">
    <div class="expand-contianer__content cf">
        <div class="about cf">
            <section class="about-screen about-me" data-nv-about-page="lightTheme">
                <h1 class="header-main header-large">
                    About Me
                </h1>
                <div class="about-me__content">
                    <img src="~/Content/ImagesAbout/nikolaivillarin.png" alt="Nikolai Villarin Profile Picture" />
                    <div class="about-text">
                        <p>
                            My day job consists of building user-centric web experiences that
                            satisfy a specific business need. And I have extensive experience
                            in building web-applications from design to development. And yes,
                            this means that I am comfortable working with both back-end and
                            front-end technologies. I currently live and work in Toronto, Canada.
                        </p>
                        <br />
                        <p>
                            Let's get in touch if you like my work then don't hesitate to reach out.
                            Or even say hello,
                            <a href="/Contact" class="link--blue">drop me a line.</a>
                        </p>
                    </div>
                </div>
                <div class="work-IndicatorContainer">
                    <div class="scroll-indicator scroll-indicator--dark">
                        <span>Scroll</span>
                        <span class="scroll-indicator__line"></span>
                        <span class="scroll-indicator__circle"></span>
                    </div>
                </div>
            </section>
            <section class="about-screen" data-nv-about-page="darkTheme">
                <div class="about-screen__content">
                    <svg id="msLogoSvg" 
                         xmlns="http://www.w3.org/2000/svg" 
                         width="500" height="501" 
                         viewBox="0 0 2959 2967"
                         class="about-screen__img"
                    >
                        <path id="Polygon_1" data-name="Polygon 1" class="cls-1" d="M2807.15,452.662L2198.81,892l-4-891Z" />
                        <path id="Polygon_2" data-name="Polygon 2" class="cls-2" d="M2890,519L2197,3.337,2931,364Z" />
                        <path id="Polygon_30" data-name="Polygon 30" class="cls-3" d="M2931,364l-43,152-90-65Z" />
                        <path id="Polygon_3" data-name="Polygon 3" class="cls-4" d="M2408.39,2242.25L2204,2108,2890,517Z" />
                        <path id="Polygon_4" data-name="Polygon 4" class="cls-4" d="M2893.67,514L2205,2109l-7-1230Z" />
                        <path id="Polygon_5" data-name="Polygon 5" class="cls-4" d="M2248.31,854.847l550.84-404.694,91.19,68.01Z" />
                        <path id="Polygon_6" data-name="Polygon 6" class="cls-5" d="M2958.35,2600.87l-552.52-360.06L2930,362.613Z" />
                        <path id="Polygon_7" data-name="Polygon 7" class="cls-6" d="M2959.13,2598.81l-754.26,366.82L2401,2235.94Z" />
                        <path id="Polygon_8" data-name="Polygon 8" class="cls-7" d="M2207.31,2967.53l-3.19-865.8L2405.58,2235Z" />
                        <path id="Polygon_9" data-name="Polygon 9" class="cls-8" d="M2208.76,2965.11L2046,1974.62l163.25,136.13Z" />
                        <path id="Polygon_10" data-name="Polygon 10" class="cls-9" d="M2047.29,1975l162.57,990.96L1054.62,1804.08Z" />
                        <path id="Polygon_11" data-name="Polygon 11" class="cls-9" d="M1054,1805l392-322,601,493Z" />
                        <path id="Polygon_12" data-name="Polygon 12" class="cls-10" d="M1056.64,1805.64L741.68,1489.28l706.28-5.96Z" />
                        <path id="Polygon_13" data-name="Polygon 13" class="cls-10" d="M1049.83,1157l398.6,327.43-705.823,7.13Z" />
                        <path id="Polygon_14" data-name="Polygon 14" class="cls-9" d="M1051.92,1156.97L744.5,1491.99,343.02,1084.02Z" />
                        <path id="Polygon_15" data-name="Polygon 15" class="cls-9" d="M1053.69,1160.35l-702.3-490.128,85.271-17.236Z" />
                        <path id="Polygon_16" data-name="Polygon 16" class="cls-9" d="M1050,1157l-706-72,8-415Z" />
                        <path id="Polygon_17" data-name="Polygon 17" class="cls-11" d="M353,670l-8,416L0,742Z" />
                        <path id="Polygon_18" data-name="Polygon 18" class="cls-12" d="M0,743L368,596l-10,74Z" />
                        <path id="Polygon_19" data-name="Polygon 19" class="cls-13" d="M357,671l10-75,71,58Z" />
                        <path id="Polygon_20" data-name="Polygon 20" class="cls-14" d="M1,742l351,350-4,180Z" />
                        <path id="Polygon_21" data-name="Polygon 21" class="cls-15" d="M348.359,1270.86L48,2199.34-0.144,739.784Z" />
                        <path id="Polygon_22" data-name="Polygon 22" class="cls-15" d="M348.329,1268.34l-4.682,631.15-296.8,299.49Z" />
                        <path id="Polygon_23" data-name="Polygon 23" class="cls-16" d="M47,2197.01L344,1898l10.877,490Z" />
                        <path id="Polygon_24" data-name="Polygon 24" class="cls-17" d="M996.89,1851.4L354.1,2388.9,343,1896Z" />
                        <path id="Polygon_25" data-name="Polygon 25" class="cls-17" d="M343,1898l402.057-406L997,1852Z" />
                        <path id="Polygon_26" data-name="Polygon 26" class="cls-18" d="M743,1490l314,314-61.27,48.23Z" />
                        <path id="Polygon_27" data-name="Polygon 27" class="cls-17" d="M2046,990l-599,494-396-326Z" />
                        <path id="Polygon_28" data-name="Polygon 28" class="cls-17" d="M2047,990l-995,170L2197,0Z" />
                        <path id="Polygon_29" data-name="Polygon 29" class="cls-19" d="M2196,0l3,866L2046,990Z" />
                    </svg>
                    
                    @*<div class="about-screen__text">
                        <h1 class="header-main header-large">
                            Microsoft Certified Professional
                        </h1>
                        <p class="about-text">
                            I am a Microsoft Certified Professional. And I am continually
                            upgrading myself in terms of knowledge.
                        </p>
                    </div>*@
                </div>
            </section>
        </div>
    </div>
</div>

@Scripts.RenderFormat("<script src=\"{0}\" async></script>", "~/Content/aboutPage")
