<section class="about-screen about-screen--msLogo about-screen--darkTheme expand-container"
         data-nv-about-page="darkTheme"
         data-nv-about-page-tooltip="Challenge Yourself">
    <div class="about-screen__content">
        <div data-nv-animate="noWrap"
             data-nv-animate-delay="600"
             data-nv-animate-type="block">
            <div class="about-bomb-btn about_bomb-btn--msLogo" data-nv-drop-target="explode">
                <div class="about_bombIcon" title="Scatter Shards">
                    <img src="~/Content/ImagesAbout/bombIconLight.svg" alt="Bomb Icon" />
                    <p class="header-tiny header-tiny--onDark">
                        Drop Here To Scatter Shards
                    </p>
                </div>
                <div class="about_bombIcon--expanded">
                    <p>
                        Scatter Shards
                    </p>
                </div>
            </div>
        </div>
        <div class="about-screen__svg">
            <svg id="msLogo"
                 xmlns="http://www.w3.org/2000/svg"
                 width="100%" height="100%"
                 viewBox="0 0 2959 2967"
                 class="about-screen__img"
                 data-nv-about-page-svg
                 data-nv-about-page-graphic-css="about-screen__img-certification"
                 data-nv-about-page-graphic-scalar-top="3000"
                 data-nv-about-page-graphic-scalar-bottom="3000"
                 data-nv-about-page-graphic-scalar-right="9000"
                 data-nv-about-page-graphic-scalar-left="1000">
                <path id="Polygon_1" data-name="Polygon 1" class="cls-1" d="M2807.15,452.662L2198.81,892l-4-891Z" />
                <path id="Polygon_2" data-name="Polygon 2" class="cls-2" d="M2890,519L2197,3.337,2931,364Z" />
                <path id="Polygon_30" data-name="Polygon 30" class="cls-3" d="M2931,364l-43,152-90-65Z" />
                <path id="Polygon_3" data-name="Polygon 3" class="cls-4" d="M2430.78,2257.18L2204,2108,2890,517Z" />
                <path id="Polygon_4" data-name="Polygon 4" class="cls-4" d="M2893.67,514L2205,2158.32,2198,879Z" />
                <path id="Polygon_5" data-name="Polygon 5" class="cls-4" d="M2204.31,882.847l594.84-432.694,99.19,68.009Z" />
                <path id="Polygon_6" data-name="Polygon 6" class="cls-5" d="M2958.35,2600.87l-559.99-330.2L2930,362.613Z" />
                <path id="Polygon_7" data-name="Polygon 7" class="cls-6" d="M2959.13,2598.81l-754.26,366.82L2401,2235.94Z" />
                <path id="Polygon_8" data-name="Polygon 8" class="cls-7" d="M2207.31,2967.53l-3.19-865.8L2405.58,2235Z" />
                <path id="Polygon_9" data-name="Polygon 9" class="cls-8" d="M2208.76,2965.11L2034,1966.62l175.25,144.12Z" />
                <path id="Polygon_10" data-name="Polygon 10" class="cls-9" d="M2047.28,1975l162.58,990.96L1054.62,1804.08Z" />
                <path id="Polygon_11" data-name="Polygon 11" class="cls-9" d="M1047.41,1805L1446,1483l652.45,536.56Z" />
                <path id="Polygon_12" data-name="Polygon 12" class="cls-10" d="M1056.64,1805.64L735.091,1479.39l719.459,0.63Z" />
                <path id="Polygon_13" data-name="Polygon 13" class="cls-10" d="M1049.83,1157l398.6,327.43-705.823,7.13Z" />
                <path id="Polygon_14" data-name="Polygon 14" class="cls-9" d="M1058.51,1160.26L744.5,1491.99,343.02,1084.02Z" />
                <path id="Polygon_15" data-name="Polygon 15" class="cls-9" d="M1066.87,1173.53L325.036,673.516l111.626-20.53Z" />
                <path id="Polygon_16" data-name="Polygon 16" class="cls-9" d="M1066.47,1170.18l-732.353-81.89,8-418.29Z" />
                <path id="Polygon_17" data-name="Polygon 17" class="cls-11" d="M362.883,666.705L348.294,1095.88,0,742Z" />
                <path id="Polygon_18" data-name="Polygon 18" class="cls-12" d="M0,743L368,596l-3.411,80.589Z" />
                <path id="Polygon_19" data-name="Polygon 19" class="cls-13" d="M357,680.883L367,596l80.883,64.589Z" />
                <path id="Polygon_20" data-name="Polygon 20" class="cls-14" d="M1,742l351,350-4,199.77Z" />
                <path id="Polygon_21" data-name="Polygon 21" class="cls-15" d="M348.359,1270.86L48,2199.34-0.144,739.784Z" />
                <path id="Polygon_22" data-name="Polygon 22" class="cls-15" d="M348.329,1217.02l-4.682,682.47-296.8,299.49Z" />
                <path id="Polygon_23" data-name="Polygon 23" class="cls-16" d="M47,2197.01l314.411-312.94L354.877,2388Z" />
                <path id="Polygon_24" data-name="Polygon 24" class="cls-17" d="M1010.82,1837.47L354.1,2388.9,343,1896Z" />
                <path id="Polygon_25" data-name="Polygon 25" class="cls-17" d="M327.22,1921.67L745.057,1492,997,1852Z" />
                <path id="Polygon_26" data-name="Polygon 26" class="cls-18" d="M743,1490l314,314-70.239,54.21Z" />
                <path id="Polygon_27" data-name="Polygon 27" class="cls-17" d="M2089.56,954.33L1447,1484l-396-326Z" />
                <path id="Polygon_28" data-name="Polygon 28" class="cls-17" d="M2047,990l-995,170L2197,0Z" />
                <path id="Polygon_29" data-name="Polygon 29" class="cls-19" d="M2196,0l3,866L2034,998Z" />
            </svg>
        </div>
        <div class="about-screen__splash">
            <h1 class="header-main header-large">
                <span class="about-screen_header"
                      data-nv-animate
                      data-nv-animate-delay="0"
                      data-nv-animate-type="text">
                    I Believe in
                </span><br />
                <span class="about-screen_subHeader"
                      data-nv-animate
                      data-nv-animate-delay="600"
                      data-nv-animate-type="text">
                    Challenges
                </span>
            </h1>
            <br />
            <div>
                <p data-nv-animate
                   data-nv-animate-delay="900"
                   data-nv-animate-auto-play="false"
                   data-nv-animate-type="text"
                   class="about-screen__desc about-text header-small header-small--onDark">
                    Challenges helps me grow; difficult challenges and failures even more so. 
                    This belief helps guide me and I thrive in difficult situations. 
                    I believe if I don’t challenge myself my skills and knowledge become stagnant.
                </p>
            </div>
            <div data-nv-animate="noWrap"
                 data-nv-animate-delay="800"
                 data-nv-animate-type="block">
                <button class="about-screen__target"
                        data-nv-drop-target="moreDetails">
                    <span class="target-text">
                        Drop dial here <br />
                        to learn more
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>