<section class="about-screen about-me expand-container about-screen--selected"
         data-nv-about-page="lightTheme"
         data-nv-about-page-tooltip="About Me">
    <h1 class="header-main header-large"
        data-nv-animate
        data-nv-animate-delay="300"
        data-nv-animate-type="text">
        About Me
    </h1>
    <div class="about-me__content">
        <div id="profilePic"
             class="about-profile-pic"
             data-nv-profile-pic-anim
             data-nv-animate="noWrap"
             data-nv-animate-delay="0"
             data-nv-animate-type="block">
            <img src="~/Content/ImagesAbout/nikolaivillarin.png" alt="Nikolai Villarin Profile Picture" />
        </div>
        <div class="about-text header-small"
             data-nv-animate="noWrap"
             data-nv-animate-delay="600"
             data-nv-animate-type="text">
            <p>
                My day job consists of building user-centric web experiences that
                satisfy a specific business need. And I have extensive experience
                in building web-applications from design to development. And yes,
                this means that I am comfortable working with both back-end and
                front-end technologies. I currently live and work in Toronto, Canada.
            </p>
            <br /><br />
            <p>
                Let's get in touch if you like my work then don't hesitate to reach out.
                Or even say hello,
                <a href="/Contact" class="link--blue">drop me a line.</a>
            </p>
        </div>
    </div>
    <div class="work-IndicatorContainer">
        <div class="scroll-indicator scroll-indicator--dark">
            <span>Scroll</span>
            <span class="scroll-indicator__line"></span>
            <span class="scroll-indicator__circle"></span>
        </div>
    </div>
</section>