<section class="about-screen about-me expand-container about-screen--selected"
         data-nv-about-page="lightTheme"
         data-nv-about-page-tooltip="About Me">
    <h1 class="header-main header-large"
        data-nv-animate
        data-nv-animate-delay="300"
        data-nv-animate-type="text">
        About Me
    </h1>
    <div class="about-me__content">
        <div id="profilePic"
             class="about-profile-pic"
             data-nv-profile-pic-anim
             data-nv-animate="noWrap"
             data-nv-animate-delay="0"
             data-nv-animate-type="block">
            <img src="~/Content/ImagesAbout/nikolaivillarin.png" alt="Nikolai Villarin Profile Picture" />
        </div>
        <div class="about-text header-small">
            <p data-nv-animate
               data-nv-animate-delay="600"
               data-nv-animate-type="text">
                As a developer working on enterprise applications, I have constraints; branding is one of them. 
                But luckily you have landed on my portfolio site where I can freely explore. 
                Get to know me by scrolling down and exploring parts of my personality and beliefs.
            </p>
        </div>
    </div>
    <div class="work-IndicatorContainer">
        <div class="scroll-indicator scroll-indicator--dark">
            <span>Scroll</span>
            <span class="scroll-indicator__line"></span>
            <span class="scroll-indicator__circle"></span>
        </div>
    </div>
</section>