@{
    ViewBag.Title = "Nikolai Villarin | About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="Nikolai Villarin Web Portfolio" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \Work\WorkPartial, \Contact\ContactPartial">
    @Html.Partial("_about")
</div>