@{
    ViewBag.Title = "Nikolai Villarin | About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaDescription {
    <meta name="description" content="Nikolai VIllarin is a full stack web developer, which means that he is comfortable working with both back-end and front-end technologies. He is currently based in toronto canada." />
    <meta name="keywords" content="Nikolai Villarin, Web Portfolio" />
}

<div id="pnlPages" class="pages-container"
     data-nv-eagerlyload="\Home\HomePartial, \Work\WorkPartial, \Contact\ContactPartial">
    @Html.Partial("_about")
</div>